body {
    font-family: sans-serif;
    margin: 20px;
}
.content{
    display: flex;
    flex-direction: column;
}
h2 {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.address-suggestion {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    cursor: pointer;
    padding: 5px;
    margin-top: 2px;
}
.address-suggestion:hover {
    background-color: #eee;
}