.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Форма */
.styled-form {
    display: flex;
    flex-direction: column;
}
.styled-form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.styled-form input, .styled-form select {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.modal-promocode {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    padding: 30px;
    display: flex;
    justify-content: center;

}
#promocode-form{
    width: 100%;

}


.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


input[type='checkbox']{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
button[type='submit']{
    background-color: #139313;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.4s;
}
button[type='submit']:hover{
     background-color: #15ab15;
}