.banner-element{
    display: flex; margin: 50px 0 0;
}
.actions-container{
    display: flex;
    margin: auto 10px;
    align-items: center;
    gap:20px;
}
.left-actions-column, .right-actions-column{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.down-button, .up-button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all 0.3s;
}

.action-button, .submit, .cancel{
    width: auto;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #e2e2e2;
    transition: all 0.3s;
    cursor: pointer;
}

.add-new-banner{
    margin-top: 20px;
    font-size: 20px;
    background-color: transparent;
    width: 500px;
    border: 3px solid #e2e2e2;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.up-button:hover, .down-button:hover, .action-button:hover, .submit:hover, .cancel:hover, .add-new-banner:hover{
    background-color: #d8d8d8;
}

#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Стили для модального окна */
/* Модальное окно */
#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  height: 80%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Заголовок модального окна с кнопкой закрытия */
.modal-header-container {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  font-size: 1.5em;
  cursor: pointer;
}

/* Содержимое модального окна */
.modal-content {
  margin-top: 10px;
}
#language-selector {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

#language-selector label {
  font-size: 1.2em;
  margin-right: 10px;
  vertical-align: middle;
}

#language-dropdown {
  font-size: 1.2em;
  padding: 10px 15px;
  min-width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: border 0.2s ease;
}

#language-dropdown:focus {
  border-color: #007BFF;
}

#language-dropdown option {
  font-size: 1.2em;
  padding: 8px;
  cursor: pointer;
}

.current-image{
    text-align: center;
    margin-bottom: 20px;
}
.edit-form-image{
    max-width: 100%;
    height: auto;
}

.modal-content-container form {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовок формы */
.modal-content-container form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-size: 24px;
}

/* Общие стили для групп полей */
.modal-content-container form .form-group {
  margin-bottom: 15px;
}

/* Стили для меток */
.modal-content-container form label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
  font-weight: 600;
}

/* Стили для полей ввода и textarea */
.modal-content-container form input[type="text"],
.modal-content-container form input[type="url"],
.modal-content-container form input[type="email"],
.modal-content-container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Стили для кастомного блока выбора файла */
.modal-content-container form .custom-file-input {
    display: flex;
    align-items: center;
    opacity: 1;
}
#id_image[type='file']{
    display: none;
}

/* Кнопка для выбора файла */
.modal-content-container form .btn-file {
    background-color: #003665;
    color: #ffffff;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

/* Ховер для кнопки выбора файла */
.modal-content-container form .btn-file:hover {
  background-color: #0056b3;
}

/* Название выбранного файла */
.modal-content-container form #file-name {
  font-size: 0.9em;
  color: #666666;
}

/* Пример стиля для группы ввода ссылки (если требуется) */
.modal-content-container form .form-group.link-input-group {
  /* Если нужно скрыть или изменить отображение, раскомментируйте или измените стили */
   display: none;
}
.modal-content-container form .form-group.link-input-group.active {
  display: block;
}
.languages-group {
    margin-bottom: 20px;
}
.languages-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
.languages-options {
    display: flex;
    flex-wrap: wrap;
}
.language-option {
    margin-right: 15px;
    font-size: 1em;
}