.menu-widget {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh; /* 100% of the viewport height */
    background-color: #363a41; /* Example background color */
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    flex-direction: column;
}

.menu-long-form, .menu-short-form {
    padding: 10px;
}

.menu-long-form {
    /* Additional styles for the long form */
}

.menu-short-form {
    /* Additional styles for the short form */
    display: none; /* Initially hide the short form */
}

/* Example of how you might style an icon */
.menu-widget i {
    margin-right: 8px;
}

a{
    text-decoration: none!important;
}

a:hover{
    text-decoration: none!important;
}