{% load static %}
{% load i18n %}
<style>
    .b2b-page h4>a:hover{
        text-decoration: none!important;
        color: black!important;
        opacity: 0.5;
    }
    .b2b-page h4>a{
        text-decoration: none!important;
        color: black!important;
        transition: all 0.4s cubic-bezier(.36,.76,0,.88);
    }
</style>
<section id="wrapper" class="stick_parent_lb" style="opacity: 1;">
   <div id="top_column">
      <div class="container"></div>
      <div class="bread_wrapper">
         <div class="container">
            <nav data-depth="3" class="breadcrumb" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
               <span class="bread_name"> {% trans "B2B Customers" %} </span>
               <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <span itemprop="name">{% trans "B2B Customers"%}</span> <a itemprop="item" href="#"></a>
                     <meta itemprop="position" content="3">
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <aside id="notifications">
      <div class="container"></div>
   </aside>
   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1>{% trans "B2B Customers" %}</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-12 b2b-page">
                  <div class="elementor elementor-12 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <p style="text-align:center;"><img src="https://oliverweber.com/img/cms/b2b-bracelets.jpg" alt="B2B Customers" width="1920" height="365"></p>
                                                      <h2 style="text-align:center;">&nbsp;</h2>
                                                      <h2 style="text-align:center;">{% trans "As a registered customer you may find our entire product range, stock position, and price information on our B2B eCommerce Platform."%}</h2>
                                                      <h4 style="text-align:center;"><a href="https://b2b.oliverweber.com/gb/login">{% trans "Go directly to the B2B Shop"%}</a></h4>
                                                      <h2 style="text-align:center;">&nbsp;</h2>
                                                      <h2 style="text-align:center;">{% trans "If you do not have an account yet, please"%}</h2>
                                                      <h4 style="text-align:center;"><a href="{% url "services" service_page="contact_us" %}">{% trans "Contact our Sales Office"%}</a></h4>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
