{% load static %}
{% load i18n %}
<head>
    <title> Contact us | Oliver Weber | Contact </title>
</head>
<section id="wrapper" class="stick_parent_lb" style="opacity: 1; margin-top: 0px">
   <div id="top_column">
      <div class="container"></div>
      <div class="bread_wrapper">
         <div class="container">
            <nav data-depth="3" class="breadcrumb" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
               <span class="bread_name">{% trans "Contact us" %}  </span>
               <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <span itemprop="name">{% trans "Contact us" %}</span> <a itemprop="item" href="#"></a>
                     <meta itemprop="position" content="3">
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <aside id="notifications">
      <div class="container"></div>
   </aside>
   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1> {% trans "Contact us" %}</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-13">
                  <div class="elementor elementor-13 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="row" style="margin: 0 auto; max-width: 600px;">
                                                         <div class="col-md-6 text-center">
                                                            <p class="text-center"><img style="width: 50px;" src="{% static "images/home/imgs/emailOW.webp"%}" alt="sobre.png"></p>
                                                            <p class="text-black"><a>service@oliverweber.at</a></p>
                                                         </div>
                                                         <div class="col-md-6 text-center">
                                                            <p class="text-center"><img style="width: 50px;" src="{% static "images/home/imgs/phonOW.webp"%}" alt="volumen.png"></p>
                                                            <p class="text-black">{% trans "Call us at" %} +43 5223 41 881</p>
                                                         </div>
                                                      </div>
                                                      <div class="col-md-12">
                                                         <p class="text-center text-black"><strong>{% trans "Hours of Operation" %}:</strong></p>
                                                         <p class="text-center text-black">{% trans "Monday to Thursday between 08:00 and 17:00, and Friday between 08:00 and 13:00, with the exception of bank holidays" %}.</p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
