{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/profile/profile_information.css' %}">

<body>
{% include 'widgets/navigation_bar.html' %}

{% if info_page == "ow_world" %}
    {% include 'our_company_pages/Olivers_Weber_World.html' %}
{% elif info_page == "ow_press" %}
    {% include 'our_company_pages/Oliver_Weber_for_Press.html' %}
{% elif info_page == "terms_conditions" %}
    {% include 'our_company_pages/Terms_and_conditions.html' %}
{% elif info_page == "impressum" %}
    {% include 'our_company_pages/Impressum.html' %}
{% elif info_page == "privacy_policy" %}
    {% include 'our_company_pages/Privacy_policy.html' %}
{% endif %}

{% include "widgets/footer.html" %}
</body>
</html>
<script>
console.log("{{ info_page|safe }}");
</script>
{%endblock%}