{% load static %}
{% load i18n %}
<head>
    <title> Payment Information | Oliver Weber | Payments </title>
</head>
<section id="wrapper" class="stick_parent_lb" style="opacity: 1;">
   <div id="top_column">
      <div class="container"></div>
      <div class="bread_wrapper">
         <div class="container">
            <nav data-depth="3" class="breadcrumb" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
               <span class="bread_name"> {% trans "Payment Information" %} </span>
               <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <span itemprop="name">{% trans "Payment Information" %}</span> <a itemprop="item" href="#"></a>
                     <meta itemprop="position" content="3">
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <aside id="notifications">
      <div class="container"></div>
   </aside>
   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1> {% trans "Payment Information" %}</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-11">
                  <div class="elementor elementor-11 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div class="row payment-method">
                                                         <div><img src="https://oliverweber.com/img/cms/paypal_logo.jpg" alt="Paypal"></div>
                                                         <div>
                                                            <h3>PAYPAL</h3>
                                                            <p>{% trans "If you own a PayPal account you can pay easily and fast selecting PayPal payment in your ordering process. After submitting your order you will be redirected to PayPal where you can complete your payment.&nbsp;"%}</p>
                                                            <p>{% trans "Payment via PayPal is free."%}</p>
                                                            <p>{% trans "No PayPal account yet: Register for Free with PayPal and create your own account in just a few steps."%}</p>
                                                         </div>
                                                      </div>
                                                      <div class="row payment-method">
                                                         <div><img src="https://oliverweber.com/img/cms/stripe_logo.png" alt="Stripe"></div>
                                                         <div>
                                                            <h3>STRIPE</h3>
                                                            <p>{% trans "Stripe - Easy and direct payments using your Online Banking, Debit or Credit Card."%}</p>
                                                            <p>{% trans "Take advantage of Stripe - a secure and direct money transfer platform. Pay your purchase after your order has been placed with the method you prefer: Online Banking, Debit or Credit Card."%}</p>
                                                            <p>{% trans "You will receive a receipt for your transaction to confirm your order is complete."%}</p>
                                                            <p>{% trans "The payment via Stripe is free of charge."%}</p>
                                                         </div>
                                                      </div>
                                                      <div class="row payment-method">
                                                         <div><img src="https://oliverweber.com/img/cms/sepa_logo.png" alt="Sepa"></div>
                                                         <div>
                                                            <h3>{% trans "PAYMENT via Bank transfer"%}</h3>
                                                            <p>{% trans "For Bank transfer payments or online banking payments please make sure to enter your invoice number or customer number so that we can correctly allocate the payment to your order."%}</p>
                                                            <p>{% trans "Bank transfers must be made within 10 working days from the order date, otherwise the order will be deleted automatically from our system."%}</p>
                                                            <p>{% trans "OUR BANK DETAILS FOR PREPAYMENT"%}</p>
                                                            <p><strong>Raiffeisen Landesbank Tirol AG</strong><br><strong>Owner:</strong> Westa Gmbh - Gewerbepark Süd 24 - 6068 Mils, Austria<br><strong>IBAN:</strong> AT56 3600 0000 0051 4224<br><strong>BIC:</strong> RZTIAT22XXX</p>
                                                            <p>{% trans "For e-banking in the subject 'payment reference', please note your 'order number', so that we can correctly assign your payment to your order."%}</p>
                                                         </div>
                                                      </div>
                                                      <div class="row payment-method">
                                                         <div><img src="https://oliverweber.com/img/cms/amazon_pay_logo.jpg" alt="Amazon"></div>
                                                         <div>
                                                            <h3>AMAZON PAY</h3>
                                                            <p>{% trans "Amazon Pay makes online shopping even easier by allowing you to use your existing Amazon account information to pay for your purchase on our website. Amazon Pay is a further way to shop online safely and securely."%}</p>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
