{% load static %}
{% load i18n %}
<head>
    <title> Shipping information | Oliver Weber | Shipping </title>
</head>
<section id="wrapper" class="stick_parent_lb" style="opacity: 1;">
   <div id="top_column">
      <div class="container"></div>
      <div class="bread_wrapper">
         <div class="container">
            <nav data-depth="3" class="breadcrumb" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
               <span class="bread_name"> {% trans "Shipping information " %}</span>
               <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <span itemprop="name">{% trans "Shipping information" %}</span> <a itemprop="item" href="#"></a>
                     <meta itemprop="position" content="3">
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <aside id="notifications">
      <div class="container"></div>
   </aside>
   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1> {% trans "Shipping information"%}</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-8">
                  <div class="elementor elementor-8 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <h2 style="margin-top: 0px; margin-bottom: .5rem; font-weight: 500; line-height: 1.2; font-size: 1.4rem; color: #676a6c; font-family: Roboto, sans-serif; background-color: #ffffff;">{% trans "SHIPPING CONDITIONS"%}</h2>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "We ship your package with Austrian Post (Austria and Germany) or UPS and FedEx (EU and International). Packing and insured shipping is included."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Delivery Time:"%}</p>
                                                      <p>{% trans "Standard Shipping: 2-10 business days. <br> Express Shipping: 2-4 business days."%}</p>
                                                      <p>{% trans "Orders received on weekends or public holidays will be processed and shipped two business days later."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "There will be no deliveries on weekends or public holidays."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "We will automatically send you a link to track your package online."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Orders received no later than 17:00 CET on Mondays through Thursdays and 12:00 CET on Fridays will be processed and shipped the following business day."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;"></p>
                                                      <h2 style="margin-top: 0px; margin-bottom: .5rem; font-weight: 500; line-height: 1.2; font-size: 1.4rem; color: #676a6c; font-family: Roboto, sans-serif; background-color: #ffffff;">{% trans "ITEMS READY FOR IMMEDIATE SHIPMENT, THE DELIVERY TIME"%}</h2>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "COUNTRIES SHIPPING COSTS DELIVERY TIME"%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Austria / Germany: € 5,70 VAT excl. 2-4 business days"%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Standard delivery Europe: € 5,70&nbsp;"%}<span style="background-color: initial; letter-spacing: 0px;">{% trans "VAT excl."%}</span><span style="letter-spacing: 0px;">{% trans "&nbsp;2-10 business days"%}</span></p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Express delivery: €15,75&nbsp;"%}<span style="background-color: initial; letter-spacing: 0px;">{% trans "VAT excl.&nbsp;"%}</span><span style="letter-spacing: 0px;">{% trans "for Europe"%}</span></p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Shipping to the United States (except. Alaska, Hawaii): €29,00&nbsp;"%}<span style="background-color: initial; letter-spacing: 0px;">{% trans "VAT excl.&nbsp;"%}</span><span style="letter-spacing: 0px;">{% trans "delivery times between 5 and 10 business days from the time you place your order."%}</span></p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Central and South America&nbsp"%};<span style="background-color: initial; letter-spacing: 0px;">{% trans "and the Rest of the World"%}</span><span style="letter-spacing: 0px;">: {% trans "€29 VAT excl. delivery times between 5 and 10 business days from the time you place your order."%}</span></p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "FREE shipping from a purchase value of € 100 to. (AT/ DE and EU only)"%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "If the order is received in time before the last stated delivery date, the items will normally be delivered on time. However, unforeseen circumstances at our delivery partners can lead to delays in delivery. In these cases, Westa GmbH assumes no liability."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Orders will not be shipped or delivered on public holidays. Holidays may cause your delivery to arrive later than expected."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;"></p>
                                                      <h2 style="margin-top: 0px; margin-bottom: .5rem; font-weight: 500; line-height: 1.2; font-size: 1.4rem; color: #676a6c; font-family: Roboto, sans-serif; background-color: #ffffff;">{% trans "WHERE IS&nbsp;MY PACKAGE?"%}<span style="font-size: 1.4rem; letter-spacing: 0px;"></span></h2>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "If tracking a package shows that it has been delivered, please check to see if it was received by someone else at your address. It is possible that a neighbor may have accepted it."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "Check to see if you received a delivery attempt notification card. Please check your mailbox."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;">{% trans "If your package cannot be found, please contact our customer service. Please have your order and tracking number ready."%}</p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;"></p>
{#                                                      <h2 style="margin-bottom: 0.5rem; font-family: Roboto, sans-serif; line-height: 1.2; color: #676a6c; font-size: 1.4rem; letter-spacing: normal;"><img style="letter-spacing: 0px; background-color: initial; color: #7a7a7a; font-size: 16px;" src="https://oliverweber.com/img/cms/TS-EU.jpg" alt="" width="781" height="1111"></h2>#}
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;"></p>
                                                      <p style="margin-top: 0px; margin-bottom: 1rem; color: #676a6c; font-family: Roboto, sans-serif; font-size: 16px; background-color: #ffffff;"></p>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
