{% load static %}
{% load i18n %}
<head>
    <title> Terms and Conditions </title>
</head>
<section id="wrapper" class="stick_parent_lb" style="opacity: 1;">
   <div id="top_column">
      <div class="container"></div>
      <div class="bread_wrapper">
         <div class="container">
            <nav data-depth="3" class="breadcrumb" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
               <span class="bread_name"> Terms and Conditions </span>
               <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <span itemprop="name">Terms and Conditions</span> <a itemprop="item" href="#"></a>
                     <meta itemprop="position" content="3">
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <aside id="notifications">
      <div class="container"></div>
   </aside>
   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1> {% trans "Terms and Conditions" %}</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-17">
                  <div class="elementor elementor-17 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <h2>1. {% trans "SCOPE"%}</h2>
                                                      <p>{% trans "The following Terms and Conditions (Terms) apply to all orders placed via our online shop."%}</p>
                                                      <p>{% trans "These Terms also apply to businesses for future commercial relations without the need for any formal expression thereof. Unless expressly approved by us to the contrary, we cannot accept the contractual validity of any conflicting or complementary general terms and conditions used by any business."%}</p>
                                                      <p></p>
                                                      <h2>2. {% trans "CONTRACTUAL PARTNER, FORMATION OF CONTRACT, OPTIONS FOR CORRECTIONS"%}</h2>
                                                      <p>{% trans "The contract is concluded with Westa GmbH."%}</p>
                                                      <p>{% trans "By placing the products in the online shop, we make a binding offer on our part to enter into a contract regarding those items. You may place our products in the shopping basket without obligation and amend your entries at any time prior to submitting your binding order by using the correction facilities that are provided for this purpose and explained during the ordering process. The contract is formed by clicking on the order button which indicates your acceptance of our offer concerning the goods contained in the shopping basket. Once you have sent your order you will immediately receive a confirmation via e-mail."%}</p>
                                                      <p></p>
                                                      <h2>3. {% trans "CONTRACT LANGUAGE, SAVING OF&nbsp;THE CONTRACT TEXT"%}</h2>
                                                      <p>{% trans "The language(s) available for concluding the contract: German, English, French, Spanish, Italian"%}</p>
                                                      <p>{% trans "We save the text of the contract and forward the order data and our Terms and Conditions to you on a durable medium. You may also view the text of the contract in our customer login area."%}</p>
                                                      <p></p>
                                                      <h2>4. {% trans "DELIVERY CONDITIONS"%}</h2>
                                                      <p>{% trans "Delivery costs are added to the product prices as displayed. Delivery charges are explained within individual product offers."%}</p>
                                                      <p>{% trans "We only dispatch goods en route; pick up by the customer is not possible."%}</p>
                                                      <p></p>
                                                      <h2>5. {% trans "PAYMENT"%}</h2>
                                                      <p>{% trans "The following payment methods are basically available in our online shop."%}</p>
                                                      <p>{% trans "Advance payment"%}</p>
                                                      <p>{% trans "If you select advance payment we provide you with our bank details in a separate e-mail and deliver the goods on receipt of funds."%}</p>
                                                      <h3>{% trans "Credit Card"%}</h3>
                                                      <p>{% trans "With the submission of the order, you provide your credit card details. After your identification as the legal cardholder, the payment transaction is automatically carried out and charged to your card."%}</p>
                                                      <h3>{% trans "SEPA direct debit"%}</h3>
                                                      <p>{% trans "With the placement of the order, you are granting us a direct debit mandate. We will inform you separately about the date of debiting the account in an advance notification (pre-notification). With the submission of the direct debit, we request our bank to initiate the payment transaction. The payment transaction is automatically carried out and your account is debited. Debiting the account takes place prior to shipping the goods. The time limit for pre-notification regarding the date for debiting the account (pre-notification period), is 0 days."%}</p>
                                                      <h3>PayPal</h3>
                                                      <p>{% trans "During the ordering process you will be forwarded to PayPal's website. To pay the invoice amount via PayPal, you must be registered there or register first, identify yourself with your access data and confirm the payment instructions to us. After submitting your order in the shop we instruct PayPal to initiate the payment transaction. Directly afterwards, the payment transaction is carried out automatically by PayPal. You will receive additional information during the ordering process."%}</p>
                                                      <h3>Giropay</h3>
                                                      <p>{% trans "After submitting the order, you will be forwarded to the website of your bank. In order to pay the invoice amount via Giropay, you must be in possession of a bank account that is activated for participation in online banking, must identify yourself accordingly and confirm the payment instructions to us. You will receive additional information during the order process. The payment transaction is automatically carried out and your account is debited."%}</p>
                                                      <h3>Apple Pay</h3>
                                                      <p>{% trans "In order to pay the invoice amount via Apple Pay, you have to use the „Safari“ browser, be registered with the service provider Apple, must have activated the Apple Pay function, identify yourself with your access data and confirm the payment order. The payment transaction will be carried out directly after submitting your order. Further information can be found during the ordering process."%}</p>
                                                      <h3>Google Pay</h3>
                                                      <p>{% trans "In order to pay the invoice amount via Google Pay, you have to be registered with the service provider Google, must have activated the Google Pay function, identify yourself with your access data and confirm the payment order. The payment transaction will be carried out directly after submission of your order. Further information can be found during the ordering process."%}</p>
                                                      <h3>Amazon Pay</h3>
                                                      <p>{% trans "During the ordering process you will be forwarded to the online provider Amazon's website before completing the ordering process in our online shop. In order to process the ordering process via Amazon and pay the invoice amount, you must be registered there or register first and identify yourself with your access data. There, you may confirm the delivery address and payment method stored with Amazon and confirm the use of your data by Amazon and the payment instructions to us. After this, you will be returned to our online shop, where you may complete the ordering process. Directly after the order, we request Amazon to initiate the payment transaction. The payment transaction is carried out automatically by Amazon. You will receive additional information during the ordering process."%}</p>
                                                      <h3>Invoice</h3>
                                                      <p>{% trans "You may pay for your purchase by means of bank transfer after you have received the goods together with the invoice. We reserve the right to allow payment by invoice only after we verify your credit rating."%}</p>
                                                      <h3><a href="https://stripe.com/en-at/legal" style="color: black">Stripe</a></h3>
                                                      <p></p>
                                                      <h2>6. {% trans "RIGHT TO CANCEL"%}</h2>
                                                      <p>{% trans "Consumers are entitled to the statutory right to cancel, as described in the instructions on the right to cancel. Businesses are not granted any voluntary right to cancel."%}</p>
                                                      <p></p>
                                                      <h2>7. RETENTION OF TITLE</h2>
                                                      <p>{% trans "The goods shall remain our property until full payment is made."%}</p>
                                                      <p>{% trans "For businesses, the following applies additionally: We reserve ownership of the goods until complete settlement of all claims arising from a current business relationship. You may resell reserved goods in ordinary business operations; you shall assign any claims arising from this resale – irrespective of connecting or mixing of the reserved goods with a new item - in the amount of the invoice amount to us in advance, and we accept this assignment. You remain authorised to collect the claims; however, we may likewise collect the claims ourselves, should you fail to fulfil your payment obligations."%}</p>
                                                      <p></p>
                                                      <h2>8. DAMAGE DURING DELIVERY</h2>
                                                      <p>{% trans "For consumer the following applies: If the goods are delivered with obvious damage caused during delivery, please report the defect to the carrier and notify us without delay. Failure to make a complaint or to make contact does not in any way affect your legal rights or the enforcement of such rights, notably your warranty rights. However, in doing so you help us to assert our own claims against the carrier or transport insurer."%}</p>
                                                      <p>{% trans "Applicable to businesses: The risks of accidental loss or deterioration of the goods will transfer to you once we have submitted the item to the haulier, carrier or other contractor for forwarding to the defined person or establishment. 'Kaufleute' as defined by the German Commercial Code (HGB) are subject to the inspection and notification requirements set out in § 377 HGB: The purchaser must examine the goods immediately after their delivery by the vendor, as far as this is practicable in the ordinary course of business, and upon the discovery of any defect must immediately give notice thereof to the vendor. Should you fail to comply with the instructions set out therein; the goods will be deemed to have been approved unless the defect was not detectable on inspection. This shall not apply if a given defect has been concealed by us deceitfully."%}</p>
                                                      <p></p>
                                                      <h2>9. WARRANTY AND GUARANTEES</h2>
                                                      <p>{% trans "We are under a legal duty to supply products that are in conformity with this contract. For consumers, statutory warranty rights governed by the law of the country where the consumer has his habitual residence apply. Information on any additional guarantees and their precise conditions that may apply can be found next to the product and on specific information pages in the shop, if applicable. Complaints can be submitted by consumers and businesses to our contact details given in the supplier identification."%}</p>
                                                      <p>{% trans "When you exercise your warranty rights and we deem it necessary to receive the goods back in order to examine your complaint, you must send back the goods at our cost to the address given above. We are committed to respond to any complaint immediately, but no later than within 14 days of its submission."%}</p>
                                                      <p>{% trans "Customer service: Our customer service is available for questions, complaints and claims on weekdays from TO By e-mail at office@oliverweber.com."%}</p>
                                                      <p></p>
                                                      <h2>10. LIABILITY</h2>
                                                      <p>{% trans "We shall in any case be liable without limitation for claims due to damages that have been caused by us, our legal representatives or legal agents."%}</p>
                                                      <ul>
                                                         <li>{% trans "for injury to life, limb or health"%}</li>
                                                         <li>{% trans "for deliberate or grossly negligent breach of duty"%}</li>
                                                         <li>{% trans "for guarantee commitments, where agreed"%}</li>
                                                         <li>{% trans "towards consumer."%}</li>
                                                      </ul>
                                                      <p>{% trans "Except these cases, our civil law liability is limited to the foreseeable and direct damages at the time of contract conclusion."%}</p>
                                                      <p></p>
                                                      <h2>11. {% trans "ONLINE DISPUTE RESOLUTION"%}</h2>
                                                      <p>{% trans "The European Commission provides a platform for online dispute resolutions (ODR) which can be accessed at https://ec.europa.eu/consumers/odr/ [https://ec.europa.eu/consumers/odr/]. The competent body in this matter is: Universalschlichtungsstelle des Bundes am Zentrum für Schlichtung e.V., Straßburger Straße 8, 77694 Kehl am Rhein, www.verbraucher-schlichter.de [http://www.verbraucher-schlichter.de ]."%}</p>
                                                      <p></p>
                                                      <h2>12. {% trans "PROTECTION OF MINORS"%}</h2>
                                                      <p>{% trans "Insofar as your order is comprised of goods, whose sale is subject to age restrictions, through the use of a reliable procedure, including a personal identity and age check, we shall ensure that the purchaser has reached the required minimum age. The deliverer shall only hand over the goods after an age check and only to the purchaser in person."%}</p>
                                                      <p></p>
                                                      <h2>13. {% trans "FINAL PROVISIONS"%}</h2>
                                                      <p>{% trans "If you are a business, German law applies, to the exclusion of the UN Sales Convention."%}</p>
                                                      <p></p>
                                                      <h2 style="color: #7a7a7a; letter-spacing: normal;"><img style="letter-spacing: 0px; background-color: initial; font-family: Roboto, sans-serif; font-size: 16px;" src="{% static "images/home/imgs/TS-EU_OW.webp" %}" alt="" width="781" height="1111"></h2>
                                                      <p></p>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
