{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Oliver Weber Shop | New Collection {% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Default description for Oliver Weber's online store.{% endblock %}">


    <link rel="icon" href="{% static 'images/icons/web-icon.png' %}" type="image/x-icon">
    <!-- Signals Gateway Pixel Code -->
      <script src="{% static "js/widgets/base.js" %}"></script>
    <!-- End Signals Gateway Pixel Code -->
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>