{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Oliver Weber Shop | New Collection {% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Default description for Oliver Weber's online store.{% endblock %}">

    <link rel="icon" href="{% static 'images/icons/web-icon.png' %}" type="image/x-icon">
    <!-- Signals Gateway Pixel Code -->
      <script>
      !function(a,h,e,v,n,t,s)
        {if(a.cbq)return;n=a.cbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!a._cbq)a._cbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=h.createElement(e);t.async=!0;
        t.src=v;s=h.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://sgw.stape.bg/sdk/2263688805542092078/events.js');
        cbq('setHost', 'https://sgw.stape.bg/');
        cbq('init', '2263688805542092078');
        cbq('track', 'PageView');
      </script>
    <!-- End Signals Gateway Pixel Code -->
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>