{% block content %}
{% load static %}
{% load i18n %}
    <meta name="mini-cart-urls" content='{"getCartUrl": "{% url 'get_cart' %}", "deleteDocumentUrl": "{% url 'delete_document' %}", "cartUrl": "{% url 'cart' %}"}'>
    <link rel="stylesheet" href="{% static 'css/SeparateWidgets/mini_cart.css' %}">
    <div id="cartPanel" class="cart-panel">
        <!-- Cart content will be loaded here dynamically -->
        <div class="cart-header">
            <span class="shopping-cart-span">{% trans "Shopping Cart"%}</span>
            <span id="closeCartBtn"><i class="fa-solid fa-close"></i></span>
        </div>
          <div class="cart-items">
            <!-- Cart items will be dynamically inserted here -->
        </div>
        <div class="cart-footer">
            <hr>
            <div class="subtotal">
                <span>{% trans "Subtotal:"%}</span>
                <span id="subtotalValue">{{ currency }}0.00</span>
            </div><br>
            <button class="checkout-btn">{% trans "Proceed to Checkout"%}</button>
        </div>
    </div>
<script src="{% static "js/widgets/miniCart.js" %}"></script>
{% endblock %}