{% block content %}
{% load static %}
{% load i18n %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/SeparateWidgets/mobile_menu_panel.css' %}">
<div id="side_menu_wrap" class="menuPanel">
    <div class="menu-header">
        <h4 class="side_title">
           {% trans "Account"%}
        </h4>
        <span class="close_cross" >
            <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </i>
        </span>
    </div>
    <div class="lang-container">
        {% include "widgets/language_selector_mobile.html" %}

    </div>
    <div class="menu_ul menu_links">
        <a href="{% url "param_catalog" category_id="0" category_name="all"%}" class="link" title="ALL PRODUCTS">{% trans "All products" %}</a>
        <div class="dropdown-link">
            <a href="#" class="link" id="collections-toggle-mobile">COLLECTIONS</a>
            <div class="dropdown-menu" id="collections-menu-mobile">
                <a href="{% url "param_catalog" category_id="0" category_name="all"%}?collection=Gaudi" class="dropdown-links">Gaudi</a>
                <a href="{% url "param_catalog" category_id="0" category_name="all"%}?collection=Freedom" class="dropdown-links">Freedom</a>
                <a href="{% url "param_catalog" category_id="0" category_name="all"%}?collection=Peace_And_Love" class="dropdown-links">Peace and Love</a>
                <a href="{% url "param_catalog" category_id="0" category_name="all"%}?collection=Coins_And_Monograms" class="dropdown-links">Coins and Monograms</a>
                <a href="{% url "param_catalog" category_id="0" category_name="all"%}?collection=Winter_2025" class="dropdown-links">Winter 2025</a>
            </div>
        </div>
        <a href="{% url "param_catalog" category_id="3" category_name="necklaces"%}" class="link" title="{% trans "Necklaces"%}">{% trans "NECKLACES" %}</a>
        <a href="{% url "param_catalog" category_id="8" category_name="earrings"%}" class="link" title="{% trans "Earrings"%}">{% trans "EARRINGS"%}</a>
        <a href="{% url "param_catalog" category_id="7" category_name="rings"%}" class="link" title="{% trans "Rings"%}">{% trans "RINGS"%}</a>
        <a href="{% url "param_catalog" category_id="9" category_name="bracelets"%}" class="link" title="{% trans "Bracelets"%}">{% trans "BRACELETS"%}</a>
        <a href="{% url "param_catalog" category_id="4" category_name="accessories"%}" class="link" title="{% trans "Accessories"%}" >{% trans "ACCESSORIES"%}</a>

        {% if user_role  == "Admin" %}
            <a href="{% url 'admin_tools' feature_name='dashboard' %}" class="link">Admin tools</a>
        {% elif user_role == "Special_Admin" %}
            <a href="{% url 'admin_tools' feature_name='dashboard' %}" class="link">Special tools</a>
        {% endif %}
        {% if user.is_authenticated %}
        {% else %}
            <a href="{% url 'login'%}" class="link">{% trans "Login" %}</a>
            <a href="{% url 'register'%}" class="link">{% trans "Register" %}</a>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggle = document.getElementById("collections-toggle-mobile");
        const menu = document.getElementById("collections-menu-mobile");

        toggle.addEventListener("click", function (e) {
            e.preventDefault();
            menu.style.display = menu.style.display === "flex" ? "none" : "flex";
        });

        // Закрываем меню, если клик вне dropdown
        document.addEventListener("click", function (e) {
            if (!toggle.contains(e.target) && !menu.contains(e.target)) {
                menu.style.display = "none";
            }
        });
    });
    document.getElementById('menuBtnMobile').addEventListener('click', menuPanelOpen);
    function menuPanelOpen() {
        let accPanel = document.getElementById('side_menu_wrap');
        let overlay = document.getElementById('overlay');

        if (accPanel.classList.contains('open')) {
            accPanel.classList.remove('open');
            overlay.style.display = 'none'; // Hide the overlay when the account panel is closed
        } else {
            // Unlike the cart, we don't need to load data here since we're not populating with dynamic content
            // Open the account panel and overlay
            accPanel.classList.add('open');
            overlay.style.display = 'block';
        }
    }

</script>
{% endblock %}