{% block content %}

{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Auth</title>
    <script src="https://kit.fontawesome.com/ba99d1b9b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<style>
    .language-dropdown{
        align-content: center;
        margin-right: 10px;
    }
    .selected-language {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 40px 40px; /* Размер флага */
    background-repeat: no-repeat;
    background-position: center;
    width: 40px; /* Ширина, достаточная для отображения флага */
    height: 40px; /* Высота, соответствующая флагу */
    padding-left: 10px;
    border-radius: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-indent: 100%; /* Смещаем текст за пределы видимой области */
    white-space: nowrap; /* Запрещаем перенос текста */
    overflow: hidden; /* Скрываем всё, что не помещается */
}
.toolbar {
    position: fixed; /* Make it stick to the top */
    top: 0;
    left: 0;
    width: 100%;
    {#background-color: #fff; /* Assuming a white background */#}
    z-index: 10; /* Ensure it's above other content */
    transition: height 0.2s ease-in-out; /* Smooth transition for height change */
    margin-bottom: 100px;
}

/* Initial and expanded height */
.toolbar.large { height: 110px; }
.toolbar.small { height: 90px; }
</style>

<body class="this-page">
    <div class="toolbar large">
        <div class="logo" >
            <a href="{% url "home" %}">
                <img class = "imag" src="{% static "logonormal.webp" %}" style="cursor:pointer" height="70px"/>
            </a>
        </div>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a></a>
        <a href="{% url "catalog" %}?category=Necklaces" class="link" title="{% trans "Necklaces"%}" style="font-size: 12px;font-weight: 600;">{% trans "NECKLACES" %}</a>
        <a href="{% url "catalog" %}?category=All+Earrings" class="link" title="{% trans "Earrings"%}" style="font-size: 12px;font-weight: 600;">{% trans "EARRINGS"%}</a>
{#                <a href="{% if user.is_authenticated %}{% url 'profile' feature_name='dashboard'%}{% else %}{% url 'login'%}{% endif %}" class="link">Profile</a>#}
{#                <a href="{% url 'catalog' %}" class="link">Catalog</a>#}
        <a href="{% url "catalog" %}?category=Ring" class="link" title="{% trans "Rings"%}" style="font-size: 12px;font-weight: 600;">{% trans "RINGS"%}</a>
        <a href="{% url "catalog" %}?category=Bracelets" class="link" title="{% trans "Bracelets"%}" style="font-size: 12px;font-weight: 600;">{% trans "BRACELETS"%}</a>
        <a href="{% url "catalog" %}?category=Anklet" class="link" title="{% trans "Anklets"%}" style="font-size: 12px;font-weight: 600;">{% trans "ANKLETS"%}</a>
        <a href="{% url "catalog" %}?category=Accessories" class="link" title="{% trans "Accessories"%}" style="font-size: 12px;font-weight: 600;">{% trans "ACCESSORIES"%}</a>
        {% if user.email == "westadatabase@gmail.com" %}
            <a></a>
            <a></a>
            <a href="{% url 'admin_tools' feature_name='home' %}" class="link">Admin tools</a>
        {% endif %}
            <a></a>
            <a></a>
            <a></a>
        {% if user.is_authenticated %}
        {% else %}
            <a></a>
            <a href="{% url 'login'%}" class="link">Login</a>
            <a></a>
            <a href="{% url 'register'%}" class="link">Register</a>
            <a></a>
        {% endif %}
        <span class="icons-container">
            <div class="language-dropdown">
                <select class="selected-language" id="languageSelect">
                    <option value="en">English</option>
                    <option value="de">Deutsch</option>
                    <option value="it">Italiano</option>
                    <option value="es">Español </option>
                </select>
            </div>
            <span class="icon-link" style="font-style: italic; font-size: 14px; margin-top: 8px; color: white;font-family: poppins,Verdana,sans-serif;">
                <a id="account-icon" style="display: flex" ><i class="rts" data-size="28" data-color="#000000" style="width: 28px; height: 28px; margin-right: 4px"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 28px; height: 28px; "><path d="M23.67,25V22.65A4.67,4.67,0,0,0,19,18H9.67A4.67,4.67,0,0,0,5,22.65V25" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.8px"></path><circle cx="14.33" cy="8.65" r="4.67" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.8px"></circle></svg></i>
                    <span style="margin-top: 6px">
                        {% if user.is_authenticated %}
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% elif user.email %}
                                {{ user.email }}
                            {% else %}

                            {% endif %}
                                {{ user.last_name|default:"" }}
                        {% endif %}
                    </span>
                </a>
            </span>
            <a class="icon-link" id="searchBtn" href="{% url "shop_page"%}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 28px; height: 28px; margin-top: 9px">
                    <circle cx="13.41" cy="12.91" r="9.41" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px"></circle>
                    <line x1="25.18" y1="23.5" x2="21.65" y2="19.97" style="fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px"></line>
                </svg>
            </a>
            <a class="icon-link" id="cartBtn">
                <svg width="28px" height="28px" style="margin-top: 5px" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.46,26H6.54C4,26,4,23.86,4,22.46V2H24V22.46C24,23.86,24,26,21.46,26Z" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
                  <path d="M10,8v.78c0,2.68,1.8,4.88,4,4.88s4-2.19,4-4.88V8" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
                </svg>
            </a>
        </span>
        <a></a>
    </div>
    <a></a>
    <a></a>

    <div id="cartPanel" class="cart-panel">
        <!-- Cart content will be loaded here dynamically -->
        <div class="cart-header">
            <span class="shopping-cart-span">{% trans "Shopping Cart"%}</span>
            <span id="closeCartBtn"><i class="fa-solid fa-close"></i></span>
        </div>
          <div class="cart-items">
            <!-- Cart items will be dynamically inserted here -->
        </div>
        <div class="cart-footer">
            <hr>
            <div class="subtotal">
                <span>{% trans "Subtotal:"%}</span>
                <span id="subtotalValue">{{ currency }}0.00</span>
            </div><br>
            <button onclick="location.href='{% url 'cart' %}'"  class="checkout-btn">{% trans "Proceed to Checkout"%}</button>
        </div>
    </div>
    <div id="side_acc_wrap" class="accPanel">
        <div class="account-header">
            <h4 class="side_title">
               {% trans "Account"%}
            </h4>
            <span class="close_cross" >
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </i>
            </span>
        </div>
        <div class="acc_ul acc_links">
            <span class="name show">
                <a href="{% url 'profile' feature_name="dashboard" %}" title="View my customer account" rel="nofollow">
                    <span>{% if user.first_name %} {{ user.first_name }} {% elif user.email %} {{ user.email }} {% else %}  {% endif %}{{ user.last_name|default:"" }}</span>
                </a>
            </span>
            <a href="{% url 'profile' feature_name="dashboard" %}" class="show">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
                </i>
                {% trans "Dashboard"%}
            </a>
            <a href="{% url 'profile' feature_name="favourites" %}" class="show">
                <i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg>
                </i>
                {% trans "Favorites"%}
            </a>
            <a id="history-link" href="{% url 'profile' feature_name="orders" %}" class="show">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 28 28"><path d="M15,2.28l8.8,4.43a2.22,2.22,0,0,1,1.22,2V19.24a2.22,2.22,0,0,1-1.22,2L15,25.66a2.19,2.19,0,0,1-2,0l-8.8-4.43a2.22,2.22,0,0,1-1.21-2V8.69a2.22,2.22,0,0,1,1.22-2L13,2.28A2.19,2.19,0,0,1,15,2.28Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><polyline points="3.45 7.51 14.08 12.86 24.7 7.51" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></polyline><line x1="14" y1="26" x2="14" y2="13" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></line><line x1="8.59" y1="4.57" x2="19.57" y2="10.09" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></line></svg>
                </i>
                {% trans "Orders" %}
            </a>
            <a id="identity-link" href="{% url 'profile' feature_name="account" %}" class="show">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 28 28"><path d="M16.26,15.7A4,4,0,0,0,14,15H7a4,4,0,0,0-4,4v2l1,2h7" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><circle cx="10.5" cy="7" r="4" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></circle><polygon points="22.96 14.85 26.15 18.04 18.18 26 15 26 15 22.82 22.96 14.85" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></polygon></svg>
                </i>
                {% trans "Information"%}
            </a>
            <a id="addresses-link" href="{% url 'profile' feature_name="addresses" %}" class="show">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                </i>
                {% trans "Addresses"%}
            </a>

            <a class="logout show" href="{% url 'logout'%}" rel="nofollow">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                </i>
                {% trans "Sign out" %}
            </a>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
</body>
<script>
    function updateBackgroundImage(selectElement) {
    let imageUrl = '';
    switch (selectElement.value) {
        case 'en':
            imageUrl = '{% static "images/flags/uk.gif" %}'; // Путь к флагу Великобритании
            break;
        case 'de':
            imageUrl = '{% static "images/flags/gm-flag.gif" %}'; // Путь к флагу Германии
            break;
        case 'it':
            imageUrl = '{% static "images/flags/it-flag.gif" %}'; // Путь к флагу Великобритании
            break;
        case 'es':
            imageUrl = '{% static "images/flags/sp-flag.gif" %}'; // Путь к флагу Германии
            break;
    }
    selectElement.style.backgroundImage = `url('${imageUrl}')`;
}

// Функция для изменения URL
function changeLanguageURL(selectedLang) {
    const newPathname = window.location.pathname.replace(/^\/[a-z]{2}/, '');
    const newUrl = window.location.origin + '/' + selectedLang + newPathname + window.location.search;
    window.location.href = newUrl;
}

// Функция для установки начального языка на основе URL
function setCurrentLanguage() {
    const path = window.location.pathname;
    const langMatch = path.match(/^\/(en|de|it|es)/);
    const currentLang = langMatch ? langMatch[1] : 'en'; // По умолчанию 'en'
    const selectElement = document.getElementById('languageSelect');
    selectElement.value = currentLang; // Установка текущего языка в select
    updateBackgroundImage(selectElement); // Обновление фона
}

// Инициализация при загрузке страницы
window.onload = function() {
    setCurrentLanguage();
};

document.getElementById('languageSelect').addEventListener('change', function(event) {
    updateBackgroundImage(this);
    if (event.isTrusted) {
        changeLanguageURL(this.value);
    }
});
// Инициализация фона с начальным выбором
{#document.getElementById('languageSelect').dispatchEvent(new Event('change'));#}

    let isCheckout = false;
    let key = "{{ session.session_key }}";
    const currency="{{ currency|safe }}";


    window.addEventListener('scroll', function() {
        let toolbar = document.querySelector('.toolbar');
        // Check if the page is scrolled more than 50 pixels
        if(window.pageYOffset > 50) {
            // User has scrolled down, shrink the toolbar
            toolbar.classList.remove('large');
            toolbar.classList.add('small');
        } else {
            // User is near the top of the page, expand the toolbar
            toolbar.classList.remove('small');
            toolbar.classList.add('large');
        }
    });

document.getElementById('account-icon').addEventListener('click',function() {
    console.log("ssss");
    let accPanel = document.getElementById('side_acc_wrap');
    let overlay = document.getElementById('overlay');

    if (accPanel.classList.contains('open')) {
        accPanel.classList.remove('open');
        overlay.style.display = 'none'; // Hide the overlay when the account panel is closed
    } else {
        // Unlike the cart, we don't need to load data here since we're not populating with dynamic content
        // Open the account panel and overlay
        accPanel.classList.add('open');
        overlay.style.display = 'block';
    }
});

// Additionally, you'll need to manage closing the panel.
// If you have a close button similar to the cartPanel's close button, you can add an event listener to it:
document.querySelector('.close_cross').addEventListener('click', function() {
    let accPanel = document.getElementById('side_acc_wrap');
    let overlay = document.getElementById('overlay');

    accPanel.classList.remove('open');
    overlay.style.display = 'none'; // Hide the overlay when the account panel is closed
});

function confirmLogout(event) {
    // Show a confirmation dialog
    let confirmation = confirm("Are you sure you want to log out?");

    // If the user clicks "Cancel", prevent the default link action
    if (!confirmation) {
      event.preventDefault();
      return false;
    }
    // If the user confirms, allow the default link action (logout)
    return true;
}

document.getElementById('cartBtn').onclick = function() {
    let cartPanel = document.getElementById('cartPanel');
    let overlay = document.getElementById('overlay');
    if (cartPanel.classList.contains('open')) {
        cartPanel.classList.remove('open');
        overlay.style.display = 'none'; // Hide the overlay when the cart is closed

    }
    else {
        // Load cart data
        fetch('{% url "get_cart" %}')
            .then(response => response.json())
            .then(data => {
                const cartItemsContainer = document.getElementById('cartPanel').querySelector('.cart-items');
                cartItemsContainer.innerHTML = ''; // Clear existing items

                let cart = data.cart;
                if (cart.length === 0) {
                    showCartIsEmpty(cartItemsContainer);
                } else {

                cartItemsContainer.classList.remove('cart-items-container');
                const checkoutBtn = document.querySelector('.checkout-btn');
                checkoutBtn.textContent = "{{ _("Proceed to checkout")|escapejs }}";
                checkoutBtn.onclick = function() {

                    location.href = "{% url "cart" %}";
                };
                    // Populate cart items and ensure the empty cart container is not displayed
                    let sum = 0;
                    cart.sort((a, b) => a.number - b.number);
                    cart.forEach(item => {
                    sum+=parseFloat(item.sum);
                    const itemElement = document.createElement('div');
                    itemElement.setAttribute('data-item-name', item.name);
                    itemElement.classList.add('mini-cart-product');

                    const img_column = document.createElement('div');
                    const img = document.createElement('img');
                    img.src = item.image_url;
                    img.width= `64`;
                    img_column.appendChild(img);


                    const attributes = document.createElement('div');
                    attributes.classList.add('attrs-container');

                    const attrs_column_first = document.createElement('p');
                    attrs_column_first.classList.add('cart-first-attrs-column');

                    const name = document.createElement('span');
                    name.textContent = `${item.category + " "+item.product_name}`;
                    name.classList.add('cart-product-name');

                    const crystal_color = document.createElement('span');
                    crystal_color.textContent = `{{ _("Crystal color")|escapejs }}: ${item.stone}`;
                    const plating = document.createElement('span');
                    plating.textContent = `{{ _("Plating")|escapejs }}: ${item.plating}`;
                    const base = document.createElement('span');
                    base.textContent = `{{ _("Base Material")|escapejs }}: ${item.material}`;

                    attrs_column_first.appendChild(name);
                    attrs_column_first.appendChild(crystal_color);
                    attrs_column_first.appendChild(plating);
                    attrs_column_first.appendChild(base);


                    const attrs_column_second = document.createElement('span');
                    attrs_column_second.classList.add('cart-second-attrs-column');

                    const price = document.createElement('span');
                    price.textContent = currency+`${item.price}`;
                    price.classList.add('mini-cart-product-price');

                    const quantity = document.createElement('span');
                    quantity.textContent = `{{ _("Quantity")|escapejs }}: ${item.quantity}`;
                    quantity.classList.add('mini-cart-product-quantity');



                    attrs_column_second.appendChild(price);
                    attrs_column_second.appendChild(quantity);

                    attributes.appendChild(attrs_column_first);
                    attributes.appendChild(attrs_column_second);

                    itemElement.appendChild(img_column);
                    itemElement.appendChild(attributes);
                    const deletePanel = document.createElement('div');
                    deletePanel.classList.add('delete-panel');

                    // Create the delete icon
                    const deleteIcon = document.createElement('i');
                    deleteIcon.classList.add('fa-solid', 'fa-trash', 'delete-icon');

                    const tooltip = document.createElement('span');
                    tooltip.classList.add('delete-icon-tooltip');
                    tooltip.textContent = "{{ _("Remove from cart")|escapejs }}"; // Tooltip text

                    // Append the delete icon and tooltip to the delete panel
                    deletePanel.appendChild(deleteIcon);
                    deletePanel.appendChild(tooltip);
                    deleteIcon.addEventListener('mouseover', function(event) {
                        const tooltipX = event.clientX; // Horizontal coordinate of the cursor
                        const tooltipY = event.clientY; // Vertical coordinate of the cursor
                        tooltip.style.left = tooltipX + 'px';
                        tooltip.style.top = (tooltipY + 20) + 'px'; // Position slightly below the cursor
                        tooltip.style.opacity = '1';
                        tooltip.style.visibility = 'visible';
                    });

                    // Mouseout event to hide tooltip
                    deleteIcon.addEventListener('mouseout', function() {
                        tooltip.style.opacity = '0';
                        tooltip.style.visibility = 'hidden';
                        // Reset position if necessary
                    });

                    // Append the delete panel to the img_column or itemElement
                    img_column.appendChild(deletePanel); // This places the delete panel over the image

                    // Event listener for delete icon click
                    deleteIcon.addEventListener('click', function(event) {
                        if(isCheckout){
                            alert("{{ _("You cant delete items during checkout. Go back to shop pages to change your cart")|escapejs }}.");
                            return;
                        }
                        event.stopPropagation();

                        const itemToDelete = this.closest('.mini-cart-product');

                        itemToDelete.classList.add('item-deleting');

                        itemToDelete.addEventListener('transitionend', function(event) {
                            console.log(event.propertyName );
                            if (event.propertyName === 'opacity') {
                                console.log('max-height transition finished, proceed with deletion');
                                deleteFromCart(item.name);

                                console.log('Deletion successful, updating UI...');
                                itemToDelete.remove(); // Remove the item from the DOM
                                // Update subtotal here or any other UI elements as needed
                                // Recalculate and update the subtotal
                                let newSum = 0;
                                cart = cart.filter(cartItem => cartItem.name !== item.name); // Update your cart array
                                cart.forEach(cartItem => {
                                    newSum += parseFloat(cartItem.sum);
                                });
                                document.getElementById('subtotalValue').textContent = currency+`${newSum.toFixed(1)}`;
                                console.log(cart.length);
                                if(cart.length === 0){
                                    showCartIsEmpty(cartItemsContainer);
                                }
                            }
                        }, { once: true });

                    });
                    // Add more details as needed
                    cartItemsContainer.appendChild(itemElement);
                });

                // Update subtotal

                document.getElementById('subtotalValue').textContent = currency+`${sum.toFixed(1)}`;
                const emptyCartContainer = document.querySelector('.empty-cart-container');
                if (emptyCartContainer) {
                    emptyCartContainer.style.display = 'none';
                    emptyCartContainer.classList.remove('show-empty-cart');
                }
            }
                // Open the cart panel and overlay
                document.getElementById('cartPanel').classList.add('open');
                document.getElementById('overlay').style.display = 'block';
                console.log(data);
            })
            .catch(error => console.error('Error loading cart:', error));
        }

    };

function showCartIsEmpty(cartItemsContainer){
    cartItemsContainer.classList.add('cart-items-container');
    let emptyCartContainer = document.querySelector('.empty-cart-container');
    if (!emptyCartContainer) {
        emptyCartContainer = document.createElement('div');
        emptyCartContainer.classList.add('empty-cart-container');

        // Create an SVG element
        const svgNS = "http://www.w3.org/2000/svg";
        const noItemsSvg = document.createElementNS(svgNS, 'svg');
        noItemsSvg.setAttribute('width', '150px');
        noItemsSvg.setAttribute('height', '150px');
        noItemsSvg.setAttribute('style', 'margin-top: 5px');
        noItemsSvg.setAttributeNS(null, 'viewBox', '0 0 28 28'); // Optionally add viewBox if needed

        // Create the first path element
        const path1 = document.createElementNS(svgNS, 'path');
        path1.setAttribute('d', 'M21.46,26H6.54C4,26,4,23.86,4,22.46V2H24V22.46C24,23.86,24,26,21.46,26Z');
        path1.setAttribute('fill', 'none');
        path1.setAttribute('stroke', '#c1c1c1');
        path1.setAttribute('stroke-miterlimit', '10');
        path1.setAttribute('stroke-width', '2');

        // Create the second path element
        const path2 = document.createElementNS(svgNS, 'path');
        path2.setAttribute('d', 'M10,8v.78c0,2.68,1.8,4.88,4,4.88s4-2.19,4-4.88V8');
        path2.setAttribute('fill', 'none');
        path2.setAttribute('stroke', '#c1c1c1');
        path2.setAttribute('stroke-miterlimit', '10');
        path2.setAttribute('stroke-width', '2');

        // Append paths to the SVG element
        noItemsSvg.appendChild(path1);
        noItemsSvg.appendChild(path2);

        // Append SVG to the empty cart container


        const emptyMessage = document.createElement('div');
        emptyMessage.textContent = "{{ _("Cart is empty")|escapejs }}";
        emptyMessage.classList.add("empty-message");

        emptyCartContainer.appendChild(emptyMessage);
        emptyCartContainer.appendChild(noItemsSvg);
        cartItemsContainer.appendChild(emptyCartContainer);
    }

    // Show the container with a smooth transition
    requestAnimationFrame(() => {
        emptyCartContainer.style.display = 'block';
        requestAnimationFrame(() => {
            emptyCartContainer.classList.add('show-empty-cart');
        });
    });

    const checkoutBtn = document.querySelector('.checkout-btn');
    checkoutBtn.textContent = "{{ _("Back to shop")|escapejs }}";
    checkoutBtn.onclick = closeCart;
}

function deleteFromCart(documentId) {
    fetch('{% url "delete_document" %}', { // Replace with the actual URL as needed
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ document_id: documentId })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.status === 'success') {
            console.log('Document deleted successfully');
            // Optionally, update UI here
        } else {
            console.error('Error in deletion');
            // Optionally, provide user feedback here
        }
    })
    .catch(error => {
        console.error('Error:', error);
        // Optionally, provide user feedback here
    });
}

document.getElementById('overlay').addEventListener('click', function() {
    document.getElementById('cartPanel').classList.remove('open');
    document.getElementById('side_acc_wrap').classList.remove('open');
    this.style.display = 'none'; // Hide the overlay
});

document.getElementById('closeCartBtn').onclick = closeCart;

function closeCart(){
    let cartPanel = document.getElementById('cartPanel');
    let overlay = document.getElementById('overlay');
    cartPanel.classList.remove('open');
    overlay.style.display = 'none';
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
</html>
{% endblock %}