{% load static %}
{% load i18n %}
<link rel="stylesheet"  href="{% static 'css/profile/profile_information.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/SeparateWidgets/switch.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/SeparateWidgets/groupsTable.css' %}">
<link rel="stylesheet" href="{% static 'css/admin_tools/viewOrder.css' %}">
<style>

</style>
<section id="content" class="page-content col-md-12 col-lg-9 myacc_content">

    <div id="customerCard" class="customer card">
    {% if user_info %}
        <div class="card-header">
            <h3 class="card-header-title">
                Customer
                <a class="d-print-none" href="{% url "at_view_user" user_id=user_info.userId %}">
                    View full details
                </a>
            </h3>
        </div>
        <div class="card-body">
            <div id="customerInfo" class="info-block">
                <div class="row">
                    <div class="col-xxl-7">
                        <h2 class="mb-0">
                            <i class="material-icons">account_box</i>
                            {{ user_info.first_name }} {{ user_info.last_name }}
                            <strong class="text-muted ml-2">#{{ user_info.userId }}</strong>
                        </h2>
                    </div>
                    <div id="viewFullDetails" class="col-xxl-5 text-xxl-right">

                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div id="customerEmail" class="col-xxl-6" >
                    <p class="mb-1">
                        <strong>Email:</strong>
                    </p>
                    <p>
                        <a href="mailto:{{ user_info.email }}">
                            {{ user_info.email}}
                        </a>
                    </p>
                    <p class="mb-1">
                        <strong>Account registered:</strong>
                    </p>
                    <p>{{ user_info.registrationDate}}</p>
                </div>
                <div id="customerEmail" class="col-xxl-6">
                    <p class="mb-1">
                        <strong>Order date:</strong>
                    </p>
                    <p>
                            {{ Order.date }}

                    </p>
                    <p class="mb-1">
                        <strong class="current-order" >Current order №{{ order.order_id }}</strong>
                        <strong class="edit-status" ><a><i class="material-icons">edit</i></a></strong>
                    </p>
                    <p>{{ Order.Status}}</p>
                </div>

            </div>
        </div>
    {% else %}
        <div class="card-header">
            <h3 class="card-header-title">
                Customer doesn't exist in database
            </h3>
        </div>
    {% endif %}
        <div class="order-table">
           <div class="card-header table-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <h3 style="margin-right: auto;">Products ({{ user_orders|length }})</h3>
    <div class="card-header table-header" style="display: flex; justify-content: space-between;">

        <form id="uploadForm" action="{% url 'upload_in_stock' order_id=Order.order_id%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="" name="xlsx_file" accept=".xlsx" required>
            <button type="submit" class="uploadBtn">Upload</button>
        </form>
    </div>
</div>
            <div class="table-body">
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product number</th>
                            <th>Description</th>
                            <th>Base price</th>
                            <th>Quantity</th>
                            <th>Available</th>
                            <th>Total</th>
                            <th>In stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in user_orders %}
                            <tr>
                                <td> <img src="{{ order.image_url }}" width="50" height="50"></td>
                                <td> {{ order.name }}</td>
                                <td> {{ order.description }}</td>
                                <td> {{ currency }}{{ order.price }}</td>
                                <td> {{ order.quantity }}</td>
                                <td> {{ order.quantity_max }}</td>
                                <td> {{ currency }}{{ order.total }}</td>
                                <td> <input class="checkbox-product" data-order="{{order}}" type="checkbox" {% if order.in_stock != False %} checked {% endif %} ></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</section>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <label for="statusSelect">Select status to be applied:</label>
    <select id="statusSelect">
      <option value="">---please select---</option>
      <option value="Awaiting">Awaiting</option>
      <option value="Processing">Processing</option>
      <option value="Shipping">Shipping</option>
    </select>
    <div class="modal-footer">
      <button id="cancelButton">Cancel</button>
      <button id="confirmButton">Confirm</button>
    </div>
  </div>
</div>
<script>
    let change_order = {{ Order|safe }};

    document.addEventListener("DOMContentLoaded", async function () {
        const current_order_label =
        document.querySelector(".current-order");
        if(current_order_label) {
            current_order_label.textContent = "Order №" + (change_order['order-id'] || change_order['order_id']) + " status"
        }
        const edit_status = document.querySelector('.edit-status');
        if(edit_status){
            edit_status.addEventListener('click', addEventToEdit)
        }

        const checkboxes = document.querySelectorAll('.checkbox-product');
        if(checkboxes){
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', async() => {
                    await addChangeInStockListener(checkbox);
                });
            })
        }
    });

    function addEventToEdit(){
        document.getElementById('myModal').style.display = 'block';


       // Handle the cancel button: close the modal
        document.getElementById('cancelButton').addEventListener('click', function() {
            document.getElementById('myModal').style.display = 'none';
        });

        document.getElementById('confirmButton').onclick = async () => {
            const status = document.getElementById('statusSelect').value;
            // Ensure a status is selected
            if (status === '' ) {
                alert('Please select a status.');
                return;
            }
            const csrftoken = getCookie('csrftoken'); // Get the CSRF token

            try {
                const response = await fetch('{% url 'change_few_statuses' %}', { // Use the correct path to your Django view
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken, // Include CSRF token in request headers
                        // Add any required headers here, like CSRF tokens
                    },
                    body: JSON.stringify({ orderIds: [change_order.orderId || change_order['order-id']], status: status}),
                });

                if (response.ok) {
                    alert('Information was successfully updated');
                    window.location.reload();
                } else {
                    throw new Error('Failed to update order statuses');
                }
            } catch (error) {
                alert(error.message);
            } finally {
                // Hide the modal and reset the dropdown regardless of success or failure
                document.getElementById('myModal').style.display = 'none';

            }
        };
    }

    async function addChangeInStockListener(checkbox){
        let jsonString = checkbox.getAttribute('data-order');
        let correctedJsonString = jsonString.replaceAll("'", '"').replace('False', 'false').replace('True', 'true');
        let jsonData = JSON.parse(correctedJsonString);
        console.log(jsonData);
        const csrftoken = getCookie('csrftoken');
        try {
            const response = await fetch('{% url 'change_in_stock' %}', { // Use the correct path to your Django view
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken, // Include CSRF token in request headers
                    // Add any required headers here, like CSRF tokens
                },
                body: JSON.stringify({ orderId: jsonData['order_id'] || change_order['order-id'], productId: jsonData.name, new_stock_value: checkbox.checked}),
            });

            if (response.ok) {
                {#alert('Information was successfully updated');#}

            } else {
                alert("Something went wrong, please, reload the page.\nIf the problem is not because of your internet connection and you see this error again and again - please, contact us.");
                throw new Error('Failed to update order statuses');
            }
        } catch (error) {
            alert(error.message);
        } finally {
            // Hide the modal and reset the dropdown regardless of success or failure
            document.getElementById('myModal').style.display = 'none';

        }
    }
    document.getElementById('uploadForm').addEventListener('submit', function(event){
        event.preventDefault();
        const form = document.getElementById('uploadForm');
        const formData = new FormData(form);
        const url = "{% url 'upload_in_stock' order_id=Order.order_id %}";  // Django template to fill URL

        fetch(url, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')  // Ensure CSRF token is included
            }
        })
        .then(response => response.text())  // or response.json() if you return JSON
        .then(text => {
            alert("File processed successfully");
            window.location.reload(true);  // Reload the page to reflect changes or remove if not needed
        })
        .catch(error => console.error('Error:', error));
    });
</script>