{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/admin_tools/at_control_stores.css' %}">
<link rel="stylesheet" href="{% static "css/admin_tools/widgets/AT_styled_table.css" %}">
<link rel="stylesheet" href="{% static "css/SeparateWidgets/modal.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<meta name="google" content="notranslate">


<section id="content" class="page-content col-md-12 col-lg-9">
    <header class="page-header">
        <h1> Stores management </h1>
    </header>

    <h2>Stores list</h2>
    <table id="stores-table" class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Address" %}</th>
                <th>{% trans "Latitude" %}</th>
                <th>{% trans "Longitude" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <span id="list-message-container"></span>
    <div>
        <button id="create-store">{% trans "Add new store" %}</button>
        <button id="load-stores">{% trans "Reload stores list" %}</button>
    </div>

    <div id="modal-overlay" class="overlay-element hidden"></div>
    <div id="create-store-modal" class="modal-element hidden">
        <h2 class="modal-header">{% trans "Add new store" %}</h2>
        <form id="create-store-form" class="modal-body">
            {% csrf_token %}
            <div>
                <label for="new-address">{% trans "Address" %}:</label>
                <input type="text" id="new-address" name="address" autocomplete="off">
                <div id="address-suggestions-create"></div>
            </div>
            <button type="submit">Create</button>
            <div id="create-status"></div>
        </form>
    </div>
    <div id="edit-store-modal" class="modal-element hidden">
        <h2 class="modal-header">{% trans "Edit store address" %}</h2>
        <form id="edit-store-form" class="modal-body">
            {% csrf_token %}
            <div>
                <label for="edit-address">{% trans "Address" %}:</label>
                <input type="text" id="edit-address" name="address" autocomplete="off">
                <div id="address-suggestions-edit"></div>
            </div>
            <button type="submit">{% trans "Save changes" %} </button>
            <div id="edit-status"></div>
        </form>
    </div>

</section>

<script src="{% static "js/admin_tools/atControlStores.js" %}"></script>