{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/admin_tools/at_control_tables.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    th input{
        width: 90px;
    }
</style>
<div class="users-page-container">

    <div class="table-header">
        <select id="bulk-actions" disabled value="Bulk actions">
            <option value="" disabled selected>Bulk actions</option>
            <option value="Enable selected">Enable selected</option>
            <option value="Disable selected">Disable selected</option>
            <option value="Delete accounts"> Delete selected</option>
        </select>
        <button id="remove-filters" style="display: none;">Remove all filters</button>
    </div>

    <table id="usersTable">
        <thead>
            <tr>
                <th></th>
                <th>User ID<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Social Title<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>First Name<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Last Name<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Email<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Sales</th>
                <th>Enabled<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Newsletter<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Partners Offer<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Registration Date<span class="arrow-sorting"><i class="sort-arrow fa-solid fa-x"></i></span></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be inserted here by JavaScript -->
        </tbody>
    </table>
    <div class="table-footer">
        <div class="pagination">
            <!-- Pagination controls will be inserted here by JavaScript -->
        </div>
        <div class="pgntn-information">
            <span class="pgntn-info"></span>
        </div>
        <div class="pgntn-items-per-page">
            <span> Items per page: </span>
            <select id="items-per-page">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
<div id="contextMenu" class="context-menu" style="display: none;">
    <ul>
        <li id="viewUser">View User</li>
        <li id="deleteUser">Delete User</li>
    </ul>
</div>
{% include "widgets/overlay.html" %}
<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js';
    import { getFirestore, collection, query, where, getDocs } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js';

    var firebaseConfig = {
        apiKey: "AIzaSyAM0wDc_WO0wP3-_TPRPLENZDIHbezH7U4",
        authDomain: "flutterapp-fd5c3.firebaseapp.com",
        projectId: "flutterapp-fd5c3"
    };
    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);

    let allUsers = [];
    let isSpecialAdmin = "{{ special|safe }}" === "True";

    let currentPage = 1;
    let usersPerPage = 10;
    let totalPages = 0;
    let sortPriority = [];
    let filteredUsers = [];
    document.addEventListener("DOMContentLoaded", async function () {
        showOverlay();
        console.log(isSpecialAdmin);
        allUsers = await fetchAllUsers();
        console.log(allUsers);

        buildUsersControlTable(allUsers);
        addEventListenersToUsers();
        addFilterInputs(); // Add this after your table is built
        addEventListenersToFilterInputs();
        hideOverlay();
    });


    async function fetchAllUsers() {
        let usersQuery = "";
        if (isSpecialAdmin){
            usersQuery = query(collection(db, "webUsers"), where("special_customer", "==", true));
        }
        else{
            usersQuery = query(collection(db, "webUsers"));
        }
        const querySnapshot = await getDocs(usersQuery);
        return querySnapshot.docs.map(doc => doc.data());
    }


    function addEventListenersToUsers() {
        const headers = document.querySelectorAll('.arrow-sorting');
        headers.forEach((header, index) => {
            header.addEventListener('click', () => {
                updateSortPriority(index);
                adjustSortIcon(index); // Use the updated function here
                sortUsers(getActualArray());
            });
        });
    }
    function updateSortPriority(columnIndex) {
        const existingPriority = sortPriority.findIndex(sp => sp.columnIndex === columnIndex);
        if (existingPriority === -1) {
            // Add new sort priority if not already present
            sortPriority.push({ columnIndex: columnIndex, direction: 'asc' });
        } else {
            // If clicked again, update direction or remove if it's the third click
            if (sortPriority[existingPriority].direction === 'asc') {
                sortPriority[existingPriority].direction = 'desc';
            } else {
                sortPriority.splice(existingPriority, 1); // Remove this sort priority
            }
        }
    }


    function adjustSortIcon(columnIndex) {
        const arrows = document.querySelectorAll('.sort-arrow');
        const currentArrow = arrows[columnIndex];
        const existingPriority = sortPriority.find(sp => sp.columnIndex === columnIndex);
        const direction = existingPriority ? existingPriority.direction : null;

        // Set current arrow based on direction
        if (direction === 'asc') {
            currentArrow.classList.remove('fa-arrow-up','fa-x' );
            currentArrow.classList.add( "fa-arrow-down"); //= '↓'; // Down arrow indicates ascending sort

        } else if (direction === 'desc') {
            currentArrow.classList.remove('fa-arrow-down','fa-x' );
            currentArrow.classList.add("fa-arrow-up");// = '↑'; // Up arrow indicates descending sort
        } else {
            currentArrow.classList.remove('fa-arrow-down', 'fa-arrow-up','fa-x' );
            currentArrow.classList.add("fa-x");
        }
    }


    function sortUsers(array) {
        array.sort((a, b) => {
            for (let i = 0; i < sortPriority.length; i++) {
                const { columnIndex, direction } = sortPriority[i];
                let valA, valB;
                // Switch statement to assign valA and valB based on columnIndex
                switch (columnIndex) {
                    case 0: // User ID
                        valA = a.userId; valB = b.userId;
                        break;
                    case 1: // Customer
                        valA = a.social_title || ""; valB = b.social_title || ""; // Corrected typo here
                        break;
                    case 2: // First Name
                        valA = a.first_name || ""; valB = b.first_name || "";
                        break;
                    case 3: // Last Name
                        valA = a.last_name || ""; valB = b.last_name || "";
                        break;
                    case 4: // Email
                        valA = a.email; valB = b.email;
                        break;
                    case 5: // Placeholder for missing case
                        break;
                    case 6: // Enabled
                         valA = a.receive_newsletter || false ? "Yes" : "No"; valB = b.receive_newsletter || false ? "Yes" : "No";
                        break;
                    case 7: // Receive Newsletter
                        valA = a.receive_offers ? "Yes" : "No"; valB = b.receive_offers ? "Yes" : "No";
                        break;
                    case 8: // Receive Offers
                       valA = a.registrationDate ? new Date(a.registrationDate) : new Date(0);
                        valB = b.registrationDate ? new Date(b.registrationDate) : new Date(0);
                        break;

                    // Add additional cases as needed.
                }

                let comparison = 0;
                if (valA < valB) {
                    comparison = -1;
                } else if (valA > valB) {
                    comparison = 1;
                }

                if (comparison !== 0) {
                    return direction === 'asc' ? comparison : -comparison;
                }
                // If comparison is 0, continue to next sort priority
            }
            return 0; // If all priorities compare equal
        });

        // Assuming buildUsersControlTable() and getActualArray() are correctly defined elsewhere
        buildUsersControlTable(getActualArray());
        document.getElementById('remove-filters').style.display = 'inline';
    }


    function filterUsers() {
        const inputs = document.querySelectorAll('.filter-input');
        // Ensure `allOrders` contains your orders data
        filteredUsers = allUsers.filter(order => {
            return Array.from(inputs).every((input, index) => {
                if (!input.value.trim()) return true; // Skip empty inputs

                const columnName = input.getAttribute('data-column');
                let orderValue = order[input.getAttribute('data-column')]; // Adjust based on your data keys

                // Special handling for the "Total" column with comparison operators
                if (columnName === "price") {
                    const operatorSelect = input.previousSibling; // Assuming the select is right before the input
                    const operator = operatorSelect.value;
                    const value = parseFloat(input.value);
                    orderValue = parseFloat(orderValue);

                    switch (operator) {
                        case '>': return orderValue > value;
                        case '<': return orderValue < value;
                        case '>=': return orderValue >= value;
                        case '<=': return orderValue <= value;
                        case '==': return orderValue === value;
                        default: return true;
                    }
                } else if (columnName === "registrationDate" && input.getAttribute('data-range')) {
                    const orderDate = new Date(orderValue ? (order.registrationDate) : 0);
                    if (input.getAttribute('data-range') === 'from') {
                        const fromDate = new Date(input.value);
                        return fromDate <= orderDate;
                    } else if (input.getAttribute('data-range') === 'to') {
                        const toDate = new Date(input.value);
                        toDate.setHours(23, 59, 59, 999); // Set to the end of the day for 'to' date
                        return toDate >= orderDate;
                    }
                }
                else { // Textual data
                    return orderValue.toString().toLowerCase().includes(input.value.toLowerCase());
                }
            });
        });

        buildUsersControlTable(filteredUsers); // Rebuild the table with the filtered data
        document.getElementById('remove-filters').style.display = 'inline';
    }


    function addFilterInputs() {
        const table = document.getElementById('usersTable');
        const headerRow = table.querySelector('thead tr');
        const filterRow = document.createElement('tr');

        Array.from(headerRow.cells).forEach((cell, index) => {
            const filterCell = document.createElement('th');

            if (index > 0 && index < headerRow.cells.length - 1) { // Skip first and last columns
                if (cell.textContent.trim() === "Total") {
                    filterCell.classList.add('header-total-cell');
                    const select = document.createElement('select');
                    ["==", ">", "<", ">=", "<="].forEach(op => {
                        const option = document.createElement('option');
                        option.value = op;
                        option.textContent = op;
                        select.appendChild(option);
                    });
                    filterCell.appendChild(select);
                }

                let data_column = "";
                if (cell.textContent.trim() === "User ID")
                {
                    data_column="userId";
                }
                else if(cell.textContent.trim() === "Social Title"){
                    data_column="social_title";
                }
                else if(cell.textContent.trim() === "First Name"){
                    data_column="first_name";
                }
                else if(cell.textContent.trim() === "Last name"){
                    data_column="last_name";
                }
                else if(cell.textContent.trim() === "Email"){
                    data_column="email";
                }
                else if(cell.textContent.trim() === "Enabled"){
                    data_column="Enabled";
                }
                else if(cell.textContent.trim() === "Newsletter"){
                    data_column="receive_newsletter";
                }
                else if(cell.textContent.trim() === "Partners Offer"){
                    data_column="receive_offers";
                }
                else if(cell.textContent.trim() === "Registration Date"){
                    data_column="registrationDate";
                }

                if (cell.textContent.trim() === "Registration Date") {
                    // Create "From" date input
                    const div_input_from = document.createElement('div');
                    const label_input_from = document.createElement('span');
                    label_input_from.textContent = "From";
                    const inputFrom = document.createElement('input');
                    inputFrom.type = 'date';
                    inputFrom.className = 'filter-input';
                    inputFrom.setAttribute('data-column', data_column);
                    inputFrom.setAttribute('data-range', 'from');
                    inputFrom.placeholder = "From";
                    div_input_from.appendChild(label_input_from);
                    div_input_from.appendChild(inputFrom);
                    filterCell.appendChild(div_input_from);

                    // Create "To" date input
                    const div_input_to = document.createElement('div');
                    const label_input_to = document.createElement('span');
                    label_input_to.textContent = "To";
                    const inputTo = document.createElement('input');
                    inputTo.type = 'date';
                    inputTo.className = 'filter-input';
                    inputTo.setAttribute('data-column', data_column);
                    inputTo.setAttribute('data-range', 'to');
                    inputTo.placeholder = "To";
                    div_input_to.appendChild(label_input_to);
                    div_input_to.appendChild(inputTo);
                    filterCell.appendChild(div_input_to);
                }

                else {
                    // Regular text input for other columns
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.className = 'filter-input';
                    input.setAttribute('data-column', data_column);
                    input.placeholder = `Search ${cell.textContent}`;
                    filterCell.appendChild(input);
                }

            }
            else if(index===(headerRow.cells.length - 1)){
                const buttonSearch = document.createElement('button');
                buttonSearch.textContent = "Search";
                buttonSearch.addEventListener('click', filterUsers);
                filterCell.appendChild(buttonSearch);
            }

            filterRow.appendChild(filterCell);
        });

        table.querySelector('thead').appendChild(filterRow);
    }

    function addEventListenersToFilterInputs() {
        const filterInputs = document.querySelectorAll('.filter-input');
        const operatorSelects = document.querySelectorAll('select');

        operatorSelects.forEach(select => {
            select.addEventListener('change', filterUsers);
        });
    }
     document.getElementById('remove-filters').addEventListener('click', function() {
        showOverlay();
        fetchAllUsers().then(users => {
            allUsers = users;
            sortPriority = []; // Clear any sort priorities

        // Reset visual indicators for all sortable columns to show no sorting is applied
            resetSortIcons();
            buildUsersControlTable(allUsers); // Rebuild table without sorting
            hideOverlay();
        });

        const inputs = document.querySelectorAll('.filter-input');
        inputs.forEach(input => input.value = '');

        this.style.display = 'none';
    });
     function resetSortIcons() {
        const arrows = document.querySelectorAll('.sort-arrow');
        arrows.forEach((arrow) => {
            // Assuming you're using text content like 'x', '↑', '↓' for sorting indicators
            arrow.classList.add('fa-x'); // Reset to 'x' to indicate no sorting

        });
     }
    function buildUsersControlTable(usersArray) {

        const tableBody = document.getElementById('usersTable').getElementsByTagName('tbody')[0];
        tableBody.innerHTML = ''; // Clear existing rows

        // Calculate total pages
        totalPages = Math.ceil(usersArray.length / usersPerPage);

        // Calculate the slice of users to show based on currentPage
        const start = (currentPage - 1) * usersPerPage;
        const end = start + usersPerPage;
        const usersToShow = usersArray.slice(start, end);

        usersToShow.forEach(user => {
            // Create the row
            let row = document.createElement('tr');

            // Checkbox cell
            let checkBoxCell = document.createElement('td');
            let checkBox = document.createElement('input');
            checkBox.setAttribute('type', 'checkbox');
            checkBox.setAttribute('name', 'selectedUser');
            checkBox.setAttribute('value', user.userId);
            checkBoxCell.appendChild(checkBox);
            row.appendChild(checkBoxCell);

            // User ID cell
            let userIdCell = document.createElement('td');
            userIdCell.textContent = user.userId;
            row.appendChild(userIdCell);

            // Other cells follow a similar pattern
            let socialTitleCell = document.createElement('td');
            socialTitleCell.textContent = user.social_title;
            row.appendChild(socialTitleCell);

            let firstNameCell = document.createElement('td');
            firstNameCell.textContent = user.first_name;
            row.appendChild(firstNameCell);

            let lastNameCell = document.createElement('td');
            lastNameCell.textContent = user.last_name;
            row.appendChild(lastNameCell);

            let emailCell = document.createElement('td');
            emailCell.textContent = user.email;
            row.appendChild(emailCell);


            // Repeat for each user property...
            // For cells with static content like '---' for sales
            let salesCell = document.createElement('td');
            salesCell.textContent = '---'; // Assuming sales data is not available
            row.appendChild(salesCell);

            let enabledCell = document.createElement('td');
            enabledCell.textContent = user.Enabled ? "Enabled" : "Disabled"; // Assuming sales data is not available
            row.appendChild(enabledCell);

            // For boolean values, you might want to show a more user-friendly value
            let newsletterCell = document.createElement('td');
            newsletterCell.textContent = user.receive_newsletter ? 'Yes' : 'No';
            row.appendChild(newsletterCell);

            let partnersCell = document.createElement('td');
            partnersCell.textContent = user.receive_offers ? 'Yes' : 'No';
            row.appendChild(partnersCell);

            let registrationDateCell = document.createElement('td');
            console.log(user.registrationDate.split(" ")[0]);
            registrationDateCell.textContent = user.registrationDate.split(" ")[0];
            row.appendChild(registrationDateCell);

            // Actions cell
            let actionsCell = document.createElement('td');
            // Assuming you have a function to generate these URLs or you set them directly
            let editLink = document.createElement('a');

            let editUrl = `/admin_tools/users_control/edit_user/${user.userId}/`; // Construct the URL using the user ID
            editLink.setAttribute('href', editUrl);
            const editbutton = document.createElement('i');
            editbutton.classList.add('material-icons');
            editbutton.textContent = 'edit';
            editLink.appendChild(editbutton);
            actionsCell.appendChild(editLink);

            let optionsButton = document.createElement('i');
            optionsButton.classList.add('material-symbols-outlined');
            let optionsLink = document.createElement('a');
            optionsButton.textContent = 'more_vert';
            optionsButton.style.cursor = 'pointer';
            optionsLink.appendChild(optionsButton);
            actionsCell.appendChild(optionsLink);
            optionsButton.addEventListener('click', function(event) {
                event.stopPropagation(); // Prevent the click from closing the menu immediately

                // Position the menu
                const contextMenu = document.getElementById('contextMenu');
                contextMenu.style.display = 'block';
                contextMenu.style.left = `${event.pageX - 100}px`;
                contextMenu.style.top = `${event.pageY}px`;

                // Function to hide the context menu
                function hideContextMenu() {
                    contextMenu.style.display = 'none';
                }

                // Close the menu when clicking outside of it
                document.addEventListener('click', hideContextMenu, { once: true });

                // Set up the menu actions
                document.getElementById('viewUser').onclick = function() {
                    // Replace with the actual function or navigation action
                    window.location.href = `/admin_tools/users_control/view_user/${user.userId}/`;
                };
                document.getElementById('deleteUser').onclick = async function() {
                    const csrftoken = getCookie('csrftoken'); // Get the CSRF token
                    let userIds = [user.userId]
                    const jsonObject = { userIds: userIds };
                    const response = await fetch('{% url 'at_delete_users' %}', { // Use the correct URL for your request
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken, // Include CSRF token in request headers
                        },
                        body: JSON.stringify(jsonObject),
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }

                    allUsers = allUsers.filter(user => !userIds.includes(user.userId));
                    buildUsersControlTable(allUsers);
                }
            });
            row.appendChild(actionsCell);

            // Append the row to the table body
            tableBody.appendChild(row);
        });
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.addEventListener('change', updateBulkActionsDropdown);
        });
        updatePaginationControls();
    }
    function changePage(direction) {
        currentPage += direction;
        buildUsersControlTable(allUsers); // Assuming allUsers is your global user array
    }

function updatePaginationControls() {

    const paginationContainer = document.querySelector('.pagination');
    paginationContainer.innerHTML = ''; // Clear existing controls

    // First Page
    const firstPageContainer = document.createElement('div');
    firstPageContainer.classList.add('firstPageContainer');
    const firstPage = document.createElement('span');
    firstPage.textContent = "1";
    if (currentPage > 1) {
        firstPageContainer.classList.add('clickable');
        firstPageContainer.addEventListener('click', goToFirst);
    } else {
        firstPage.classList.add('disabled');
    }
    firstPageContainer.appendChild(firstPage);
    paginationContainer.appendChild(firstPageContainer);

    // Previous Button
    const previousContainer = document.createElement('div');
    previousContainer.classList.add('previousContainer');
    const previous = document.createElement('i');
    previous.classList.add('fa-solid', 'fa-chevron-left');
    if (currentPage > 1) {
        previousContainer.classList.add('clickable');
        previousContainer.addEventListener('click', () => changePage(-1));
    } else {
        previous.classList.add('disabled');
    }
    previousContainer.appendChild(previous);
    paginationContainer.appendChild(previousContainer);

    // Input for current page
    const inputPage = document.createElement('input');
    inputPage.type = "number";
    inputPage.id = "currentPageInput";
    inputPage.value = `${currentPage}`;
    inputPage.min = "1";
    inputPage.max = `${totalPages}`;
    paginationContainer.appendChild(inputPage);
    inputPage.addEventListener('change', goToPage);

    // Next Button
    const nextContainer = document.createElement('div');
    nextContainer.classList.add('nextContainer');
    const next = document.createElement('i');
    next.classList.add('fa-solid', 'fa-chevron-right');
    if (currentPage < totalPages) {
        nextContainer.classList.add('clickable');
        nextContainer.addEventListener('click', () => changePage(1));
    } else {
        next.classList.add('disabled');
    }
    nextContainer.appendChild(next);
    paginationContainer.appendChild(nextContainer);

    // Last Page
    const lastPageContainer = document.createElement('div');
    lastPageContainer.classList.add('lastPageContainer');
    const lastPage = document.createElement('span');
    lastPage.textContent = `${totalPages}`;
    if (currentPage < totalPages) {
        lastPageContainer.classList.add('clickable');
        lastPageContainer.addEventListener('click', goToLast);
    } else {
        lastPage.classList.add('disabled');
    }
    lastPageContainer.appendChild(lastPage);
    paginationContainer.appendChild(lastPageContainer);
    updatePaginationInfo(getActualArray());
}

function updateBulkActionsDropdown() {
    const checkboxes = document.querySelectorAll(' input[type="checkbox"]');
    const bulkActionsDropdown = document.getElementById('bulk-actions');
    const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);

    bulkActionsDropdown.disabled = !anyChecked;
}

// Attach the update function to the change event of each checkbox

document.getElementById('items-per-page').addEventListener('change', function (event) {

    usersPerPage = parseInt(event.target.value);
    currentPage = 1;
    buildUsersControlTable(getActualArray());
});
function updatePaginationInfo(usersArray){
     const paginationInfo = document.querySelector('.pgntn-info');

     paginationInfo.textContent = `Viewing ${(currentPage-1) * usersPerPage + 1}-${(usersPerPage*currentPage) > usersArray.length ? usersArray.length : (usersPerPage*currentPage)} out of ${usersArray.length} (page ${currentPage} / ${totalPages})`;
}
function goToFirst() {
    currentPage = 1;
    buildUsersControlTable(getActualArray());
}

function goToLast() {
    currentPage = totalPages;
    buildUsersControlTable(getActualArray());
}
function goToPage() {
    const inputPage = parseInt(document.getElementById('currentPageInput').value);
    if(inputPage >= 1 && inputPage <= totalPages) {
        currentPage = inputPage;
        buildUsersControlTable(getActualArray());
    }
}

document.getElementById('bulk-actions').addEventListener('change', async function() {
    const action = this.value;
    {#this.value = "bulk";#}
    const selectedUserIds = Array.from(document.querySelectorAll('#usersTable input[type="checkbox"]:checked')).map(checkbox => checkbox.value);
    console.log(action);
    console.log(selectedUserIds);
    // Ensure there are selected users
    if (selectedUserIds.length === 0) {
        resetBulkActionsDropdown();
        return;
    }

    switch(action) {
        case 'Enable selected':
            await performBulkAction('{% url 'at_enable_users' %}', selectedUserIds, 'enable');
            break;
        case 'Disable selected':
            await performBulkAction('{% url 'at_disable_users' %}', selectedUserIds, 'disable');
            break;
        case 'Delete accounts':
            const confirmDelete = confirm('Do you really want to delete the selected users?');
            if (confirmDelete) {
                await performBulkAction('{% url 'at_delete_users' %}', selectedUserIds, 'delete');
            }
            break;
    }

    resetBulkActionsDropdown();
});
async function performBulkAction(bulk_url, userIds, actionType) {
    // Your fetch logic here...
    console.log(userIds);
    const csrftoken = getCookie('csrftoken'); // Get the CSRF token
    const jsonObject = { userIds: userIds }; // Assuming you're sending a list of user IDs


    try {
        const response = await fetch(bulk_url, { // Use the correct URL for your request
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken, // Include CSRF token in request headers
            },
            body: JSON.stringify(jsonObject),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        // Assuming JSON response for simplicity
        const data = await response.json();
        {#console.log(data.message); // Log or handle the server response#}

        if (actionType === 'delete') {
            allUsers = allUsers.filter(user => !userIds.includes(user.userId.toString()));
        } else {
            const enabledStatus = actionType === 'enable';
            allUsers.forEach(user => {
                if (userIds.includes(user.userId.toString())) {
                    user.Enabled = enabledStatus;
                }
            });
        }
        buildUsersControlTable(allUsers);

        // After performing the action, check checkboxes and update dropdown state
        updateBulkActionsDropdown();
    } catch (error) {
        console.error('Failed to perform bulk action:', error);
    }
}
function resetBulkActionsDropdown() {
    const bulkActionsDropdown = document.getElementById('bulk-actions');
    bulkActionsDropdown.value = ""; // Reset to the placeholder value
    bulkActionsDropdown.disabled = true; // Disable dropdown
    updateBulkActionsDropdown(); // Call the function to check if it should be re-enabled based on checkboxes
}


function getActualArray(){
    return filteredUsers.length === 0 ? allUsers : filteredUsers;
}


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>