{% load static %}
{% load i18n %}
<link rel="stylesheet"  href="{% static 'css/profile/profile_information.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/SeparateWidgets/switch.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/SeparateWidgets/groupsTable.css' %}">
<section id="content" class="page-content col-md-12 col-lg-9 myacc_content">
    <header class="page-header">
        <h1 style=" color: #0a0a0a"> Customer №{{ user_info.userId }} information</h1>
    </header>
    <form action="" id="customer-form" class="js-customer-form" method="post" autocomplete="off">
    {% csrf_token %}
        <div>
            <div class="form-group row ">
                <div class="col-md-12 form-control-valign">
                    <label>Social title</label>
                    <label class="radio-inline">
                        <span class="custom-radio">
                            <input name="id_gender" type="radio" value="1" {% if user_info.social_title == "Mr" %}checked{% endif %}>
                            <span></span>
                        </span>
                        Mr.
                    </label>
                    <label class="radio-inline">
                        <span class="custom-radio">
                            <input name="id_gender" type="radio" value="2" {% if user_info.social_title == "Mrs" %}checked{% endif %}>
                            <span>

                            </span>
                        </span> Mrs. </label>
                </div>
                <div class="col-md-12 form-control-comment">

                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>First name</label>
                    <input class="form-control" name="firstname" type="text" value="{{ user_info.first_name }}" required="">
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req">*</span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Last name</label>
                    <input class="form-control" name="lastname" type="text" value="{{ user_info.last_name }}" required=""></div>
                <div class="col-md-12 form-control-comment">
                    <span class="req">*</span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Email</label>
                    <input class="form-control" name="email" type="email" value="{{ user_info.email }}" required="">
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req">*</span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Client name</label>
                    <input class="form-control" name="client-name" type="text" value="{{ user_info.agent_number }}">
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>New User Password</label>
                    <div class="input-group js-parent-focus">
                        <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn material-icons" type="button" data-action="show-password" data-text-show="" data-text-hide="">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                </i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Birthdate</label>
                    <input class="form-control" name="birthday" type="text" value="{{ user_info.birthday }}" placeholder="YYYY-MM-DD">
                    <span class="form-control-comment"> (E.g.: 1970-05-31) </span>
                </div>
                <div class="col-md-12 form-control-comment">

                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12" >
                    <label></label>
                    <span class="custom-checkbox" style="display: flex;flex-direction: row">
                        <div class="fl" style="display: flex; flex-direction: column; margin-right: 20px">
                             <label class="switch">
                                <input name="enable-user" type="checkbox" value="1"  {%  if user_info.Enabled or user_info.Enabled == "True"%} checked {% endif %} >
                                <span class="slider round"></span>
                             </label>
                             <label id="label-enabled" style="text-align: center">{% if user_info.Enabled %} Yes{% else %} No{% endif %}</label>
                        </div>
                        <label>Enabled<br>
                            <em>Enable or disable customer login.</em>
                        </label>
                    </span>
                </div>
                <div class="col-md-12 form-control-comment"></div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label></label>
                    <span class="custom-checkbox" style="display: flex;flex-direction: row">
                    <div class="fl" style="display: flex; flex-direction: column; margin-right: 20px">
                        <label class="switch">
                           <input name="receive-partners-offers" type="checkbox" value="1"  {% if user_info.receive_offers == True %}checked{% endif %}>
                            <span class="slider round"></span>
                        </label>
                        <label id="label-offers" style="text-align: center">{% if user_info.receive_offers %} Yes{% else %} No{% endif %}</label>
                    </div>
                    <label>Partner offers<br>
                            <em>This customer will receive your ads via email</em>
                        </label>
                    </span>
                </div>
                <div class="col-md-12 form-control-comment">

                </div>
            </div>
            {% if user_role != "Special_Admin" %}
                <div class="form-group row ">
                    <div class="col-md-12">
                        <label></label>
                        <span class="custom-checkbox" style="display: flex;flex-direction: row">
                        <div class="fl" style="display: flex; flex-direction: column; margin-right: 20px">
                            <label class="switch">
                               <input name="show-quantities" type="checkbox" value="1"  {% if user_info.show_quantities == True %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                            <label id="label-show-quantities" style="text-align: center">{% if user_info.show_quantities %} Yes{% else %} No{% endif %}</label>
                        </div>
                        <label>Show user full quantities<br>
                                <em>This user will see detailed quantity values in product cards (e.g. In stock: 5)</em>
                            </label>
                        </span>
                    </div>
                    <div class="col-md-12 form-control-comment">

                    </div>
                </div>
                <div class="form-group row ">
                    <div class="col-md-12">
                        <label></label>
                        <span class="custom-checkbox" style="display: flex;flex-direction: row">
                        <div class="fl" style="display: flex; flex-direction: column; margin-right: 20px">
                            <label class="switch">
                               <input name="is-b2b" id="is-b2b-id" type="checkbox" value="1"  {% if user_info.customer_type == "B2B" %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                            <label id="label-is-b2b" style="text-align: center">{% if user_info.customer_type == "B2B" %} Yes{% else %} No{% endif %}</label>
                        </div>
                        <label>Is user a B2B customer<br>
                                <em></em>
                            </label>
                        </span>
                    </div>
                    <div class="col-md-12 form-control-comment">

                    </div>
                </div>
                <div class="form-group row" id="container-can-b2b-pay" style="display: none;">
                    <div class="col-md-12">
                        <label></label>
                        <span class="custom-checkbox" style="display: flex;flex-direction: row">
                        <div class="fl" style="display: flex; flex-direction: column; margin-right: 20px">
                            <label class="switch">
                               <input name="can-b2b" id="check-can-b2b-pay" type="checkbox" value="1" {% if user_info.b2b_can_pay %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                            <label id="label-can-b2b" style="text-align: center">{% if user_info.b2b_can_pay %} Yes{% else %} No{% endif %}</label>
                        </div>
                        <label>Can a B2B customer pay with a card?<br>
                                <em></em>
                            </label>
                        </span>
                    </div>
                    <div class="col-md-12 form-control-comment">

                    </div>
                </div>
            {% endif %}
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Currency</label>
                     <select class="form-control form-control-select js-country" name="id_currency" id="select-currency">
                        <option value="1">Euro</option>
                        <option value="2">Dollar</option>
                    </select>
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req"></span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Customer group</label>
                     <select class="form-control form-control-select js-country" name="id_group" id="select-group" required="">
                        <option value="" disabled="" selected="">-- please choose --</option>
                        <option value="1">Default</option>
                        <option value="2">VK3</option>
                        <option value="3">GH</option>
                        <option value="4" style="display:none;">Default_USD</option>
                        <option value="5" style="display:none;">GH_USD</option>
                    </select>
                </div>
                <div class="col-md-12 form-control-comment">
                    <span class="req">*</span>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-md-12">
                    <label>Personal sale, %</label>
                    <input class="form-control" id="sale-input" name="sale" type="text" value="{{ user_info.sale }}" placeholder="Sale without % symbol, 0 <= sale < 100">
                    <span class="form-control-comment"> (E.g.: 40) </span>
                </div>
                <div class="col-md-12 form-control-comment">

                </div>
            </div>
            <footer class="form-footer clearfix">
                <input type="hidden" name="submitCreate" value="1">
                <button class="btn btn-primary wide form-control-submit float-xs-right" data-link-action="save-customer" type="submit"> Save </button>
            </footer>
            </div>
        </form>
    <aside id="notifications">
        <div class="container">

        </div>
    </aside>
</section>
<script>
    $(document).ready(function() {
    // Detect when the value of the currency select box changes.
        $('#select-currency').change(function() {
            var currency = $(this).val(); // Get the selected currency value
            var groupSelect = $('#select-group'); // Get the customer group select box
            groupSelect.val(""); // Reset to "please choose"
            $('option', groupSelect).hide(); // Hide all options initially

            // Show options based on selected currency
            if(currency == "1"){ // If Euro is selected
                groupSelect.find('option[value=""]').show(); // Show the placeholder option
                groupSelect.find('option[value="1"]').show(); // Default
                groupSelect.find('option[value="2"]').show(); // Euro_GH
                groupSelect.find('option[value="3"]').show(); // Euro_VK3
            } else if(currency == "2"){ // If Dollar is selected
                groupSelect.find('option[value=""]').show(); // Show the placeholder option
                groupSelect.find('option[value="4"]').show(); // Default_dollar
                groupSelect.find('option[value="5"]').show(); // Dollar_GH
            }
        });
        
        $('#is-b2b-id').change(function() {
            let isB2BChecked = $(this).is(':checked');

            if (isB2BChecked) {
                $('#container-can-b2b-pay').show();
            } else {
                $('#container-can-b2b-pay').hide();
                $('#check-can-b2b-pay').prop('checked', false);
            }
        });

        let isB2BChecked = $('#is-b2b-id').is(':checked');
        if (isB2BChecked) {
            $('#container-can-b2b-pay').show();
        } else {
            $('#container-can-b2b-pay').hide();
        }
        // Initially trigger the change event to apply the correct state
        $('#select-currency').change();
        setCurrentSelects();
    });
    document.addEventListener("DOMContentLoaded", function() {
        // Select the button by its data-action attribute
        const togglePasswordButtons = document.querySelectorAll('button[data-action="show-password"]');
        // Listen for a click event on the button
        togglePasswordButtons.forEach(togglePasswordButton =>
            togglePasswordButton.addEventListener('click', function() {
                // Select the password input
                const passwordInput = this.parentElement.parentElement.querySelector('input');

                // Check the current type of the password input and toggle
                if (passwordInput.type === "password") {
                    passwordInput.type = "text"; // Show the password
                    // Change the SVG to 'eye'
                    togglePasswordButton.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></i>';
                } else {
                    passwordInput.type = "password"; // Hide the password
                    // Change the SVG back to 'eye-off'
                    togglePasswordButton.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg></i>';
                }
            })
        );
        setCurrentSelects();
    });

    function setCurrentSelects(){
        let currency = "{{user_info.currency}}";  // From your Django template
        let group = "{{user_info.price_category}}";  // From your Django template
        let selectCurr = document.getElementById('select-currency');
        let selectGroup = document.getElementById('select-group');
        for (let i = 0; i < selectCurr.length; i++) {
            if (selectCurr.options[i].text === currency) {
                selectCurr.selectedIndex = i;
                break;
            }
        }
        for (let j = 0; j < selectGroup.length; j++) {
            if (selectGroup.options[j].text === group) {
                selectGroup.selectedIndex = j;
                break;
            }
        }
        controlSelectedGroup(group);
    }

document.getElementById('select-group').addEventListener('change',function (){
     console.log(this.value);
     let select_index = this.value;
     if(select_index ==="1"){
         controlSelectedGroup("Default");
     }
     if(select_index ==="2"){
         controlSelectedGroup("VK3");
     }
     if(select_index ==="3"){
         controlSelectedGroup("GH");
     }
     if(select_index ==="4"){
         controlSelectedGroup("Default_USD");
     }
     if(select_index ==="5"){
         controlSelectedGroup("GH_USD");
     }
});

function controlSelectedGroup(group){
     const saleInput = document.getElementById('sale-input').parentElement.parentElement;
     if(group==="Default" || group==="Default_USD"){
         saleInput.style.display = "block";
     }
     else{
         saleInput.style.display = "none";
     }
}

document.getElementsByName('receive-partners-offers')[0].addEventListener('change', function(event) {
     if (event.target.checked) {
         document.getElementsByName('receive-partners-offers')[0].value = 1;
         document.getElementById('label-offers').textContent = "Yes";
     }
     else{
         document.getElementsByName('receive-partners-offers')[0].value = 2;
         document.getElementById('label-offers').textContent = "No";
     }
});

document.getElementsByName('enable-user')[0].addEventListener('change', function(event) {
    if (event.target.checked) {
        document.getElementsByName('enable-user')[0].value = 1;
        document.getElementById('label-enabled').textContent = "Yes";
    }
    else{
        document.getElementsByName('enable-user')[0].value = 2;
        document.getElementById('label-enabled').textContent = "No";
    }
});
document.getElementsByName('show-quantities')[0].addEventListener('change', function(event) {
    if (event.target.checked) {
        document.getElementsByName('show-quantities')[0].value = 1;
        document.getElementById('label-show-quantities').textContent = "Yes";
    }
    else{
        document.getElementsByName('show-quantities')[0].value = 2;
        document.getElementById('label-show-quantities').textContent = "No";
    }
});
document.getElementsByName('is-b2b')[0].addEventListener('change', function(event) {
    if (event.target.checked) {
        document.getElementsByName('is-b2b')[0].value = 1;
        document.getElementById('label-is-b2b').textContent = "Yes";
    }
    else{
        document.getElementsByName('is-b2b')[0].value = 2;
        document.getElementById('label-is-b2b').textContent = "No";
    }
});
document.getElementsByName('can-b2b')[0].addEventListener('change', function(event) {
    if (event.target.checked) {
        document.getElementsByName('can-b2b')[0].value = 1;
        document.getElementById('label-can-b2b').textContent = "Yes";
    }
    else{
        document.getElementsByName('can-b2b')[0].value = 2;
        document.getElementById('label-can-b2b').textContent = "No";
    }
});
function isValidBirthday(birthday) {
    const regex = /^\d{4}-\d{2}-\d{2}$/;
    if (!birthday.match(regex)) return false; // Checks format

    const date = new Date(birthday);
    const timestamp = date.getTime();

    if (typeof timestamp !== 'number' || Number.isNaN(timestamp)) return false; // Checks existence

    if (date.toISOString().slice(0, 10) !== birthday) return false; // Ensures the date is valid (e.g., not Feb 30)

    const today = new Date();
    today.setHours(0, 0, 0, 0); // Normalize today's date to ensure comparison is only based on date, not time

    if (date > today) return false; // Checks that the birthday is not in the future

    return true; // The birthday passes all checks
}

document.getElementById('customer-form').addEventListener('submit', function(e) {
    e.preventDefault(); // Prevent the normal form submission

    // Validation logic here
    let isValid = true;
    let messages = [];

    // Example: Check if the first name is filled out
    if (!this.firstname.value) {
        isValid = false;
        messages.push('First name is required.');
    }
    if (!this.lastname.value) {
        isValid = false;
        messages.push('Last name is required.');
    }
    if (!this.email.value) {
        isValid = false;
        messages.push('Email is required.');
    }
    if (isNaN(parseFloat(this.sale.value)) ||parseInt(this.sale.value) > 100 || parseInt(this.sale.value) < 0 ) {
        isValid = false;
        messages.push('Sale has to be in correct format.');
    }


    // Example: Check if the birthday is in correct format
    if(this.birthday.value !== ""){
        if (!isValidBirthday(this.birthday.value)) {
            isValid = false;
            messages.push('Invalid birthday. Ensure the date is valid, in YYYY-MM-DD format, and not in the future.');
        }
    }

    // If not valid, display messages and return
    if (!isValid) {
        alert(messages.join("\n")); // Or display the messages in a more user-friendly way
        return;
    }

    const formData = new FormData(document.getElementById('customer-form'));
    const jsonObject = {
        old: JSON.stringify({{ user_info_dict|safe }}),
        new: Object.fromEntries(formData.entries())
    };
    const csrftoken = getCookie('csrftoken');

    fetch('{% url 'at_edit_user' user_id=user_info.userId %}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify(jsonObject),
    })
    .then(response => {
        if (!response.ok) {
            // If response is not ok, parse the JSON to get the error message
            // and throw it to be caught by the catch block
            return response.json().then(json => {
                throw new Error(json.message || "Something went wrong");
            });
        }
        return response.json();
    })
    .then(data => {
        console.log(data);
        alert("The information has been successfully updated!");
        window.location.href = "{% url 'admin_tools' feature_name='users_control' %}";
        // Handle success response data
    }).catch(error => {
        console.error('Error:', error);
        alert(""+error.message); // Display the error message from the catch or throw
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>