{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/admin_tools/at_users_control.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="users-page-container">

    <div class="table-header">
        <select id="bulk-actions" disabled value="Bulk actions">
            <option value="" disabled selected>Bulk actions</option>
            <option value="Enable selected">Enable selected</option>
            <option value="Disable selected">Disable selected</option>
            <option value="Delete accounts"> Delete selected</option>
        </select>
    </div>

    <table id="usersTable">
        <thead>
            <tr>
                <th></th>
                <th>User ID</th>
                <th>Social Title</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Sales</th>
                <th>Enabled</th>
                <th>Newsletter</th>
                <th>Partners Offer</th>
                <th>Registration Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be inserted here by JavaScript -->
        </tbody>
    </table>
    <div class="table-footer">
        <div class="pagination">
            <!-- Pagination controls will be inserted here by JavaScript -->
        </div>
        <div class="pgntn-information">
            <span class="pgntn-info"></span>
        </div>
        <div class="pgntn-items-per-page">
            <span> Items per page: </span>
            <select id="items-per-page">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
{% include "widgets/overlay.html" %}
<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js';
    import { getFirestore, collection, query, where, getDocs } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js';

    var firebaseConfig = {
        apiKey: "AIzaSyAM0wDc_WO0wP3-_TPRPLENZDIHbezH7U4",
        authDomain: "flutterapp-fd5c3.firebaseapp.com",
        projectId: "flutterapp-fd5c3",
        storageBucket: "flutterapp-fd5c3.appspot.com",
        messagingSenderId: "486422895050",
        appId: "1:486422895050:web:b67eaef185d40579879733",
        measurementId: "G-JT2QVDEHLT"
    };
    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);

    let allUsers = [];
    let currentPage = 1;
    let usersPerPage = 10;
    let totalPages = 0;

    document.addEventListener("DOMContentLoaded", async function () {
        showOverlay();

        allUsers = await fetchAllUsers();
        console.log(allUsers);

        buildUsersControlTable(allUsers);

        hideOverlay();
    });
    async function fetchAllUsers() {
        const usersQuery = query(collection(db, "users"));
        const querySnapshot = await getDocs(usersQuery);
        return querySnapshot.docs.map(doc => doc.data());
    }

    function buildUsersControlTable(usersArray) {

        const tableBody = document.getElementById('usersTable').getElementsByTagName('tbody')[0];
        tableBody.innerHTML = ''; // Clear existing rows

        // Calculate total pages
        totalPages = Math.ceil(usersArray.length / usersPerPage);

        // Calculate the slice of users to show based on currentPage
        const start = (currentPage - 1) * usersPerPage;
        const end = start + usersPerPage;
        const usersToShow = usersArray.slice(start, end);

        usersToShow.forEach(user => {
            // Create the row
            let row = document.createElement('tr');

            // Checkbox cell
            let checkBoxCell = document.createElement('td');
            let checkBox = document.createElement('input');
            checkBox.setAttribute('type', 'checkbox');
            checkBox.setAttribute('name', 'selectedUser');
            checkBox.setAttribute('value', user.userId);
            checkBoxCell.appendChild(checkBox);
            row.appendChild(checkBoxCell);

            // User ID cell
            let userIdCell = document.createElement('td');
            userIdCell.textContent = user.userId;
            row.appendChild(userIdCell);

            // Other cells follow a similar pattern
            let socialTitleCell = document.createElement('td');
            socialTitleCell.textContent = user.social_title;
            row.appendChild(socialTitleCell);

            let firstNameCell = document.createElement('td');
            firstNameCell.textContent = user.first_name;
            row.appendChild(firstNameCell);

            let lastNameCell = document.createElement('td');
            lastNameCell.textContent = user.last_name;
            row.appendChild(lastNameCell);

            let emailCell = document.createElement('td');
            emailCell.textContent = user.email;
            row.appendChild(emailCell);


            // Repeat for each user property...
            // For cells with static content like '---' for sales
            let salesCell = document.createElement('td');
            salesCell.textContent = '---'; // Assuming sales data is not available
            row.appendChild(salesCell);

            let enabledCell = document.createElement('td');
            enabledCell.textContent = user.Enabled ? "Enabled" : "Disabled"; // Assuming sales data is not available
            row.appendChild(enabledCell);

            // For boolean values, you might want to show a more user-friendly value
            let newsletterCell = document.createElement('td');
            newsletterCell.textContent = user.receive_newsletter ? 'Yes' : 'No';
            row.appendChild(newsletterCell);

            let partnersCell = document.createElement('td');
            partnersCell.textContent = user.receive_offers ? 'Yes' : 'No';
            row.appendChild(partnersCell);

            let registrationDateCell = document.createElement('td');
            registrationDateCell.textContent = user.registrationDate;
            row.appendChild(registrationDateCell);

            // Actions cell
            let actionsCell = document.createElement('td');
            // Assuming you have a function to generate these URLs or you set them directly
            let editLink = document.createElement('a');

            let editUrl = `/admin_tools/users_control/edit_user/${user.userId}/`; // Construct the URL using the user ID
            editLink.setAttribute('href', editUrl);
            const editbutton = document.createElement('i');
            editbutton.classList.add('material-icons');
            editbutton.textContent = 'edit';
            editLink.appendChild(editbutton);
            actionsCell.appendChild(editLink);

            let optionsButton = document.createElement('i');
            optionsButton.classList.add('material-symbols-outlined');
            let optionsLink = document.createElement('a');
            optionsLink.setAttribute('href', `/delete_user/?userId=${user.userId}`); // Adjust URL as needed
            {#optionsLink.textContent = 'Delete';#}
            optionsButton.textContent = 'more_vert';
            optionsLink.appendChild(optionsButton);
            actionsCell.appendChild(optionsLink);

            row.appendChild(actionsCell);

            // Append the row to the table body
            tableBody.appendChild(row);
        });
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.addEventListener('change', updateBulkActionsDropdown);
        });
        updatePaginationControls();
    }
    function changePage(direction) {
        currentPage += direction;
        buildUsersControlTable(allUsers); // Assuming allUsers is your global user array
    }
function updatePaginationControls() {

    const paginationContainer = document.querySelector('.pagination');
    paginationContainer.innerHTML = ''; // Clear existing controls

    // First Page
    const firstPageContainer = document.createElement('div');
    firstPageContainer.classList.add('firstPageContainer');
    const firstPage = document.createElement('span');
    firstPage.textContent = "1";
    if (currentPage > 1) {
        firstPageContainer.classList.add('clickable');
        firstPageContainer.addEventListener('click', goToFirst);
    } else {
        firstPage.classList.add('disabled');
    }
    firstPageContainer.appendChild(firstPage);
    paginationContainer.appendChild(firstPageContainer);

    // Previous Button
    const previousContainer = document.createElement('div');
    previousContainer.classList.add('previousContainer');
    const previous = document.createElement('i');
    previous.classList.add('fa-solid', 'fa-chevron-left');
    if (currentPage > 1) {
        previousContainer.classList.add('clickable');
        previousContainer.addEventListener('click', () => changePage(-1));
    } else {
        previous.classList.add('disabled');
    }
    previousContainer.appendChild(previous);
    paginationContainer.appendChild(previousContainer);

    // Input for current page
    const inputPage = document.createElement('input');
    inputPage.type = "number";
    inputPage.id = "currentPageInput";
    inputPage.value = `${currentPage}`;
    inputPage.min = "1";
    inputPage.max = `${totalPages}`;
    paginationContainer.appendChild(inputPage);
    inputPage.addEventListener('change', goToPage);

    // Next Button
    const nextContainer = document.createElement('div');
    nextContainer.classList.add('nextContainer');
    const next = document.createElement('i');
    next.classList.add('fa-solid', 'fa-chevron-right');
    if (currentPage < totalPages) {
        nextContainer.classList.add('clickable');
        nextContainer.addEventListener('click', () => changePage(1));
    } else {
        next.classList.add('disabled');
    }
    nextContainer.appendChild(next);
    paginationContainer.appendChild(nextContainer);

    // Last Page
    const lastPageContainer = document.createElement('div');
    lastPageContainer.classList.add('lastPageContainer');
    const lastPage = document.createElement('span');
    lastPage.textContent = `${totalPages}`;
    if (currentPage < totalPages) {
        lastPageContainer.classList.add('clickable');
        lastPageContainer.addEventListener('click', goToLast);
    } else {
        lastPage.classList.add('disabled');
    }
    lastPageContainer.appendChild(lastPage);
    paginationContainer.appendChild(lastPageContainer);
    updatePaginationInfo(allUsers);
}

function updateBulkActionsDropdown() {
    const checkboxes = document.querySelectorAll(' input[type="checkbox"]');
    const bulkActionsDropdown = document.getElementById('bulk-actions');
    const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);

    bulkActionsDropdown.disabled = !anyChecked;
}

// Attach the update function to the change event of each checkbox

document.getElementById('items-per-page').addEventListener('change', function (event) {

    usersPerPage = parseInt(event.target.value);
    currentPage = 1;
    buildUsersControlTable(allUsers);
});
function updatePaginationInfo(usersArray){
     const paginationInfo = document.querySelector('.pgntn-info');

     paginationInfo.textContent = `Viewing ${(currentPage-1) * usersPerPage + 1}-${(usersPerPage*currentPage) > usersArray.length ? usersArray.length : (usersPerPage*currentPage)} out of ${usersArray.length} (page ${currentPage} / ${totalPages})`;
}
function goToFirst() {
    currentPage = 1;
    buildUsersControlTable(allUsers);
}

function goToLast() {
    currentPage = totalPages;
    buildUsersControlTable(allUsers);
}
function goToPage() {
    const inputPage = parseInt(document.getElementById('currentPageInput').value);
    if(inputPage >= 1 && inputPage <= totalPages) {
        currentPage = inputPage;
        buildUsersControlTable(allUsers);
    }
}

document.getElementById('bulk-actions').addEventListener('change', async function() {
    const action = this.value;
    {#this.value = "bulk";#}
    const selectedUserIds = Array.from(document.querySelectorAll('#usersTable input[type="checkbox"]:checked')).map(checkbox => checkbox.value);
    console.log(action);
    console.log(selectedUserIds);
    // Ensure there are selected users
    if (selectedUserIds.length === 0) {
        resetBulkActionsDropdown();
        return;
    }

    switch(action) {
        case 'Enable selected':
            await performBulkAction('{% url 'at_enable_users' %}', selectedUserIds, 'enable');
            break;
        case 'Disable selected':
            await performBulkAction('{% url 'at_disable_users' %}', selectedUserIds, 'disable');
            break;
        case 'Delete accounts':
            const confirmDelete = confirm('Do you really want to delete the selected users?');
            if (confirmDelete) {
                await performBulkAction('{% url 'at_delete_users' %}', selectedUserIds, 'delete');
            }
            break;
    }

    resetBulkActionsDropdown();
});
async function performBulkAction(bulk_url, userIds, actionType) {
    // Your fetch logic here...
    console.log(userIds);
    const csrftoken = getCookie('csrftoken'); // Get the CSRF token
    const jsonObject = { userIds: userIds }; // Assuming you're sending a list of user IDs


    try {
        const response = await fetch(bulk_url, { // Use the correct URL for your request
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken, // Include CSRF token in request headers
            },
            body: JSON.stringify(jsonObject),
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        // Assuming JSON response for simplicity
        const data = await response.json();
        {#console.log(data.message); // Log or handle the server response#}

        if (actionType === 'delete') {
            allUsers = allUsers.filter(user => !userIds.includes(user.userId.toString()));
        } else {
            const enabledStatus = actionType === 'enable';
            allUsers.forEach(user => {
                if (userIds.includes(user.userId.toString())) {
                    user.Enabled = enabledStatus;
                }
            });
        }

        buildUsersControlTable(allUsers);

        // After performing the action, check checkboxes and update dropdown state
        updateBulkActionsDropdown();
    } catch (error) {
        console.error('Failed to perform bulk action:', error);
    }
}
function resetBulkActionsDropdown() {
    const bulkActionsDropdown = document.getElementById('bulk-actions');
    bulkActionsDropdown.value = ""; // Reset to the placeholder value
    bulkActionsDropdown.disabled = true; // Disable dropdown
    updateBulkActionsDropdown(); // Call the function to check if it should be re-enabled based on checkboxes
}
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>