{% block content %}
{% load static %}
{% load i18n %}

<link rel="stylesheet" href="{% static 'css/profile/profile_information.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/profile_chat.css' %}">
<link rel="stylesheet" href="{% static 'css/SeparateWidgets/addressesWidget.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% if user_role != "Admin" %}
    <!-- Интерфейс для пользователя -->
    <div class="user-chat-widget">
        <div class="chat-list">
            <ul>
                {% for order in orders %}
                    <li class="li-select" id="{{ order.order_id }}" data-order-id="{{ order.order_id }}"> {% trans "Order" %} {{ order.order_id }} </li>
                {% endfor %}
            </ul>
        </div>
        <div class="chat-window">
            <div id="chat-log" class="chat-messages">
                <span class="center-span">{% trans "Select chat" %}</span>
            </div>
            <div class="chat-input">
                <button id="chat-file-upload" type="button">
                    <i class="fa fa-file"></i> <!-- Icon for file upload -->
                </button>
                <input id="chat-file-input" type="file" style="display: none;">
                <textarea id="chat-message-input" placeholder="{% trans "Write a message" %}..."></textarea>
                <button id="chat-message-submit"  type="button">{% trans "Send" %}</button>
            </div>
        </div>
    </div>
{% else %}
    <div class="full-chat-container">
        <div class="chat-type-selector">
            <span id="B2C" class="type-selector-value" data-chat-type="B2C">{% trans "B2C" %}</span>
            <span id="B2B" class="type-selector-value" data-chat-type="B2B">{% trans "B2B" %}</span>
            <span id="ArchivedB2C" class="type-selector-value" data-chat-type="archivedB2C">{% trans "Archive B2C" %}</span>
            <span id="ArchivedB2B" class="type-selector-value" data-chat-type="archivedB2B">{% trans "Archive B2B" %}</span>
        </div>

        <!-- Интерфейс для админа -->
        <div class="admin-chat-widget">

            <div class="chat-list">
                <!-- Здесь можно отобразить список всех пользователей и их чатов -->
                <ul>
                    <!-- И так далее -->
                </ul>
            </div>
            <div class="chat-window">
                <div id="chat-log" class="chat-messages">
                    <span class="center-span">{% trans "Select chat" %}</span>
                </div>
                <div class="chat-input">
                    <button id="chat-file-upload" type="button">
                        <i class="fa fa-file"></i> <!-- Icon for file upload -->
                    </button>
                    <input id="chat-file-input" type="file" style="display: none;">
                    <textarea id="chat-message-input" placeholder="{% trans "Write a message" %}..."></textarea>
                    <button id="chat-message-submit" type="button">{% trans "Send" %}</button>
                    <button id="chat-message-view" type="button"><i class=""></i></button>
                    <button id="chat-message-archive" type="button"><i class=""></i></button>
                </div>
            </div>

        </div>
    </div>
{% endif %}

<script type="module">
import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
import { getFirestore, collection, query, onSnapshot, doc, getDoc, setDoc, serverTimestamp, addDoc, deleteDoc,updateDoc, where, orderBy } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js";
import { getStorage, ref as storageRef, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-storage.js";



const firebaseConfig = {
    apiKey: "AIzaSyAM0wDc_WO0wP3-_TPRPLENZDIHbezH7U4",
    authDomain: "flutterapp-fd5c3.firebaseapp.com",
    projectId: "flutterapp-fd5c3",
    storageBucket: "flutterapp-fd5c3.appspot.com",
    messagingSenderId: "486422895050",
    appId: "1:486422895050:web:b67eaef185d40579879733",
    measurementId: "G-JT2QVDEHLT"
};

const app = initializeApp(firebaseConfig);
const db = getFirestore(app);
const storage = getStorage(app);
let currentChatId = null;
let selectedChatType = "B2C";
let userId = "{{ userId }}";
let role = "{{ user_role }}";
let customer_type = "{{ customer_type }}";
let username = "{{ username }}";
const chatMessagesRef = collection(db, "chat_messages");
const q = query(chatMessagesRef, where("chat_id", "==", currentChatId), orderBy("timestamp"));
const chatMessagesRef2 = collection(db, "chat_messages");
const q2 = query(chatMessagesRef2, orderBy("activity"));
function setTypesCorrectly(deleteChat){
    if(role === "Admin"){
        if(selectedChatType==="B2C"){
            document.getElementById("B2C").classList.add('active');
            document.getElementById("B2B").classList.remove('active');
            document.getElementById("ArchivedB2C").classList.remove('active');
            document.getElementById("ArchivedB2B").classList.remove('active');
        }
        else if(selectedChatType==="B2B"){
            document.getElementById("B2B").classList.add('active');
            document.getElementById("B2C").classList.remove('active');
            document.getElementById("ArchivedB2C").classList.remove('active');
            document.getElementById("ArchivedB2B").classList.remove('active');
        }
        else if(selectedChatType==="archivedB2C"){
            document.getElementById("B2B").classList.remove('active');
            document.getElementById("B2C").classList.remove('active');
            document.getElementById("ArchivedB2C").classList.add('active');
            document.getElementById("ArchivedB2B").classList.remove('active');
        }
        else{
            document.getElementById("B2B").classList.remove('active');
            document.getElementById("B2C").classList.remove('active');
            document.getElementById("ArchivedB2C").classList.remove('active');
            document.getElementById("ArchivedB2B").classList.add('active');
        }
        if(deleteChat){
            currentChatId = null;
            document.querySelector('#chat-log').innerHTML = `<span class="center-span">{% trans "Select chat" %}</span>`;
        }
    }



}
document.addEventListener("DOMContentLoaded", async function () {
    {#if(role !== "Student" && "{{ rights }}"!=="Chat_Admin"){#}
    {#     window.location.href = "{% url "profile" feature_name="account" %}";#}
    {##}
    if(role === "Admin"){
        setUpChats();
        setTypesCorrectly(true);

    }
    if(currentChatId === null){
        const button = document.getElementById('chat-message-submit');
        button.disabled = true;
        button.style.backgroundColor = "#ccc";
        const button_file = document.getElementById('chat-file-upload');
        button_file.disabled = true;
        button_file.style.backgroundColor = "#ccc";
        if(role === "Admin") {
            const button_viewed = document.getElementById('chat-message-view');
            button_viewed.disabled = true;
            button_viewed.style.backgroundColor = "#ccc";

            const button_archive = document.getElementById('chat-message-archive');
            button_archive.disabled = true;
            button_archive.style.backgroundColor = "#ccc";

        }
    }
    else{
        const button = document.getElementById('chat-message-submit');
        button.disabled = false;
        button.style.backgroundColor = "#003765";
        const button_file = document.getElementById('chat-file-upload');
        button_file.disabled = false;
        button_file.style.backgroundColor = "#003765";
        if(role === "Admin") {
            const button_viewed = document.getElementById('chat-message-view');
            button_viewed.disabled = false;
            button_viewed.style.backgroundColor = "#139313";
            const button_archive = document.getElementById('chat-message-archive');
            button_archive.disabled = false;
            button_archive.style.backgroundColor = "#003765";
        }
    }
});
document.addEventListener("click", function (event) {
    const chatTypeElement = event.target.closest("[data-chat-type]");
    if (chatTypeElement) {
        const selectedType = chatTypeElement.getAttribute("data-chat-type");
        selectChatType(selectedType);
    }
});
function selectChatType(type) {
    selectedChatType = type;
    setUpChats(); // Refresh chats with the selected type
    setTypesCorrectly(true);
}

onSnapshot(q, (querySnapshot) => {
    const messages = [];
    const messagesSnapshots = [];
    querySnapshot.forEach((doc) => {
        messages.push(doc.data());
        messagesSnapshots.push(doc);
    });

    // Обновление интерфейса только если это текущий чат
    if (currentChatId === querySnapshot.query._query.path.segments[1] ) {
        updateChatUI(messagesSnapshots);
    }});

// Modify onSnapshot for chats to update the chat list without changing the selected chat
onSnapshot(q2, (chatsRef) => {
    if (role !== "Customer") {
        const chats = [];
        chatsRef.forEach((doc) => {
            chats.push(doc.data());
        });
        const list = document.querySelector('.chat-list');
        list.innerHTML = '';
        chats.forEach((chat) => {
            if(selectedChatType !== "archivedB2B" && selectedChatType !== "archivedB2C")  {
                if (chat.chat_type !== selectedChatType) return;
            }
            else{
                if (chat.chat_state !== "archived") return;
            }
            const messageElement = document.createElement('li');

            if (chat.chat_id === currentChatId) {
                messageElement.classList.add('selected');
            }

            messageElement.setAttribute('onclick', "selectChat('" + chat.chat_id + "')")
            messageElement.textContent = chat.chatName;

            list.appendChild(messageElement);
        });
    }});


let unsubscribeChatMessages = null;  // Global variable to store the unsubscribe function for chat messages


document.addEventListener('click', function(event) {
    // Check if the clicked element matches the selector '.li-select'
    if (event.target && event.target.classList.contains('li-select')) {
        selectChat(event.target.id);

    }
});
async function selectChat(task) {
    if (role === "Customer") {
        currentChatId = userId+"_"+task;
    } else {
        currentChatId = task;
    }

    // Unsubscribe from any previous chat's message updates
    if (unsubscribeChatMessages) {
        unsubscribeChatMessages();
    }

    // Проверяем, существует ли чат в Firestore
    const chatRef = doc(db, "chats", currentChatId);
    const chatDoc = await getDoc(chatRef);

    if (!chatDoc.exists()) {
        // Если чат не существует, создаем его
        await setDoc(chatRef, {
            chat_id: currentChatId,
            order_id: task,
            userId: userId,
            chatName: username + " chat. Order "+task,
            activity: serverTimestamp(),
            chat_state: "sent",
            chat_type: customer_type === "Customer" ? "B2C" : "B2B",
            chat_started: false
        });
    }
    if (role !== "Customer") {
        // Обновляем поле viewed, если чат открыт админом
        const chatState = chatDoc.data().chat_state;

        // Update to "viewed" only if the current state is "sent"
        if (role !== "Customer" && chatState === "sent") {
            await updateDoc(chatRef, {
                chat_state: "viewed"
            });
            updateChatBorderColor('viewed'); // Update the border color for "viewed"
        }
    }

    const button = document.getElementById('chat-message-submit');
    button.disabled = false;
    button.style.backgroundColor = "#003765";

    const button_file = document.getElementById('chat-file-upload');
    button_file.disabled = false;
    button_file.style.backgroundColor = "#003765";

    if(role !== "Customer") {
        const button_viewed = document.getElementById('chat-message-view');
        button_viewed.disabled = false;
        button_viewed.style.backgroundColor = "#139313";
        const button_viewed_icon = document.querySelector('#chat-message-view i');
        button_viewed_icon.classList.add('fa-solid');
        if(chatDoc.data().chat_state === "answered") {
            button_viewed_icon.classList.remove('fa-remove');
            button_viewed_icon.classList.add('fa-check');
        }
        else{
            button_viewed_icon.classList.add('fa-remove');
            button_viewed_icon.classList.remove('fa-check');
        }


        const button_archived = document.getElementById('chat-message-archive');
        button_archived.disabled = false;
        button_archived.style.backgroundColor = "#003665";
        const button_archived_icon = document.querySelector('#chat-message-archive i');
        button_archived_icon.classList.add('fa-solid');
        if(chatDoc.data().chat_state === "archived") {
            button_archived_icon.classList.remove('fa-remove');
            button_archived_icon.classList.add('fa-archive');
        }
        else{
            button_archived_icon.classList.add('fa-remove');
            button_archived_icon.classList.remove('fa-archive');
        }

    }



    // Загружаем сообщения для выбранного чата
    const chatMessagesRef = collection(db, "chat_messages");
    const q = query(chatMessagesRef, where("chat_id", "==", currentChatId), orderBy("timestamp"));

    // Set up a new onSnapshot listener and store the unsubscribe function
    unsubscribeChatMessages = onSnapshot(q, async (querySnapshot) => {
        if (querySnapshot.empty) {
            updateChatUI([]);
            return;
        }

        const messages = [];
        const messagesSnapshots = [];
        querySnapshot.forEach((doc) => {
            messages.push(doc.data());
            messagesSnapshots.push(doc);
        });
        // Обновляем интерфейс только если это текущий чат
        if (currentChatId === messages[0].chat_id) {
            updateChatUI(messagesSnapshots);

            const chatRef = doc(db, "chats", currentChatId);
            const chatDoc = await getDoc(chatRef);
            const chatState = chatDoc.data().chat_state;
            // Check if the last message was sent by a student
            const lastMessage = messages[messages.length - 1];

            if ((role !== "Customer") && (lastMessage.sender_id !== userId) && (chatState === "sent")) {
                // If the role is Admin and the new message is from a student, mark the chat as viewed
                await updateDoc(chatRef, {
                    chat_state: "viewed"
                });
                const button_viewed_icon = document.querySelector('#chat-message-view i');
                button_viewed_icon.classList.add('fa-remove');
                button_viewed_icon.classList.remove('fa-check');

                const button_archived_icon = document.querySelector('#chat-message-archive i');
                button_archived_icon.classList.add('fa-remove');
                button_archived_icon.classList.remove('fa-archive');
            }
        }
    });

    // Обновляем интерфейс для выбора чата
    document.querySelectorAll('.chat-list li').forEach(item => {
        item.classList.remove('selected');
    });
    if(role === "Customer") {
        document.getElementById(task).classList.add('selected');
    }
    else {
        document.getElementById(task).classList.add('selected');
    }
}
async function change_status() {
    const chatRef = doc(db, "chats", currentChatId); // Получаем ссылку на документ чата
    await updateDoc(chatRef, {
        chat_state: "answered" // Если сообщение отправляет студент, флаг viewed становится false
    });
    updateChatBorderColor('answered');
}
async function sendMessage(senderId, senderName, messageText) {
    if(messageText==="") return;
    const chatRef = doc(db, "chats", currentChatId); // Получаем ссылку на документ чата
    const chatDoc = await getDoc(chatRef);
    if (role === "Customer") {
        await updateDoc(chatRef, {
            activity: serverTimestamp(),
            chat_state: "sent" // Если сообщение отправляет студент, флаг viewed становится false
        });
        if(chatDoc.data().chat_started === false){
            await updateDoc(chatRef, {
                chat_started: true,
            });
        }
    } else {
        await updateDoc(chatRef, {
            activity: serverTimestamp(),
            chat_state: "answered" // Если сообщение отправляет админ, статус чата меняется на "answered"
        });
    }

    await addDoc(collection(db, "chat_messages"), {
        chat_id: currentChatId,
        sender_id: senderId,
        sender_name: senderName,
        user_role: role,
        message_text: messageText,
        timestamp: serverTimestamp()
    });

    // Update the chat's last activity timestamp
    await updateDoc(chatRef, {
        activity: serverTimestamp()
    });}

function updateChatUI(messagesSnapshots) {
    const chatLog = document.querySelector('#chat-log');

    // Clear the chat log
    chatLog.innerHTML = '';

    // Add each message to the chat log
    messagesSnapshots.forEach((messageSnapshot) => {
        let message = messageSnapshot.data();
        const messageElement = document.createElement('div');
        messageElement.classList.add('message');


        const messageElementHigh = document.createElement('div');
        messageElementHigh.classList.add('message-high');

        const messageElementHighNameContainer = document.createElement('div');
        messageElementHighNameContainer.classList.add('message-name-container');
        const messageElementHighName = document.createElement('div');
        messageElementHighName.classList.add('message-name');


        const messageElementHighTime = document.createElement('div');
        messageElementHighTime.classList.add('timestamp');
        const messageElementText = document.createElement('div');
        messageElementText.classList.add('message-text');


        if (message.user_role !== "Admin") {
            // The message is from the student (the current user)
            messageElement.classList.add('message-customer');
        } else {
            // The message is from an admin
            messageElement.classList.add('message-admin');
        }

        if (message.type === "file") {
            // If the message is a file, display it as a downloadable link
            messageElement.innerHTML = `
                <div class="file-message">
                    <span>${message.sender_name} ${"{{ _("uploaded a file")|escapejs }}"}: </span>
                    <a href="${message.file_url}" download="${message.message_text}" target="_blank">
                        ${message.message_text}
                    </a>
                </div>
            `;
        } else {
            // Otherwise, it's a text message
            messageElementText.textContent = message.message_text;

            messageElementHighTime.textContent = formatTimestamp(message.timestamp.seconds, message.timestamp.nanoseconds);
            messageElementHighName.textContent = message.sender_name;
        }
        messageElementHighNameContainer.appendChild(messageElementHighName);
        if (role === "Admin") {
            const functionsIcon = document.createElement('i');
            functionsIcon.classList.add('fa-solid', 'fa-ellipsis-h', 'icon-functions');
            messageElementHighNameContainer.appendChild(functionsIcon);

            const menu = document.createElement('div');
            menu.classList.add('context-menu');
            menu.style.display = 'none'; // Initially hidden
            menu.innerHTML = `
                <ul>
                    <li class="deleteMessage">Delete Message</li>
                </ul>
            `;

            // Append the menu to the message element to avoid global conflicts
            document.body.appendChild(menu);

            // Show menu on icon click
            functionsIcon.addEventListener('click', (e) => {
                menu.style.display = 'block';
                menu.style.position = 'absolute';
                menu.style.left = `${e.pageX}px`;
                menu.style.top = `${e.pageY}px`;
            });

            // Hide menu on click outside
            document.addEventListener('click', (e) => {
                if (e.target !== functionsIcon && !menu.contains(e.target)) {
                    menu.style.display = 'none';
                }
            });

            // Attach deleteMessage functionality
            menu.querySelector('.deleteMessage').addEventListener('click', () => {
                {#console.log(messageSnapshot.id);#}
                deleteMessage(messageSnapshot.id); // Pass the current message as context
                menu.style.display = 'none'; // Hide the menu after selecting an option
            });
        }
        messageElementHigh.appendChild(messageElementHighNameContainer);
        messageElementHigh.appendChild(messageElementHighTime);
        messageElement.appendChild(messageElementHigh);
        messageElement.appendChild(messageElementText);

        chatLog.appendChild(messageElement);
    });

    // Scroll to the bottom of the chat log
    chatLog.scrollTop = chatLog.scrollHeight;}

async function setUpChats() {
    if (role === "Admin") {
        const chatsRef = collection(db, "chats");
        const queryChats = query(chatsRef, orderBy("activity", "desc"));

        onSnapshot(queryChats, (chatsSnapshot) => {

            const list = document.querySelector('.chat-list');
            list.innerHTML = '';  // Clear existing chat list

            chatsSnapshot.forEach((doc) => {

                const chat = doc.data();

                if(chat.chat_started === false){
                    return;
                }
                if(selectedChatType !== "archivedB2C" && selectedChatType !== "archivedB2B" ){
                    if(chat.chat_type !== selectedChatType || chat.chat_state === "archived"){
                        return;
                    }
                }
                else {

                    if(chat.chat_state !== "archived" ){
                        return;
                    }
                    else{
                        if(selectedChatType==="archivedB2C" && chat.chat_type !== "B2C"){
                            return;
                        }
                        if(selectedChatType==="archivedB2B" && chat.chat_type !== "B2B"){
                            return;
                        }
                    }
                }

                console.log("It reached here");
                const chatElement = document.createElement('li');
                chatElement.classList.add('li-select');
                chatElement.setAttribute('id', chat.chat_id);
                chatElement.textContent = chat.chatName;

                // Apply the correct border color based on the chat state
                switch (chat.chat_state) {
                    case 'sent':
                        chatElement.classList.add('chat-sent');
                        break;
                    case 'viewed':
                        chatElement.classList.add('chat-viewed');
                        break;
                    case 'answered':
                        chatElement.classList.add('chat-answered');
                        break;
                    case 'archived':
                        chatElement.classList.add('chat-archived');
                        break;
                }

                if (chat.chat_id === currentChatId) {
                    chatElement.classList.add('selected');
                }

                list.appendChild(chatElement);
            });
        });
    }}

function updateChatBorderColor(state, type="viewed") {
    const selectedItem = document.querySelector(`.chat-list .selected`);
    console.log("Once here");
    if (selectedItem) {
        selectedItem.classList.remove('chat-sent', 'chat-viewed', 'chat-answered');
        switch (state) {
            case 'sent':
                selectedItem.classList.add('chat-sent');
                break;
            case 'viewed':
                selectedItem.classList.add('chat-viewed');
                break;
            case 'answered':
                selectedItem.classList.add('chat-answered');
                break;
            case 'archived':
                selectedItem.classList.add('chat-archived');
                break;
        }
    }
    if(type==="viewed") {
        const button_viewed_icon = document.querySelector('#chat-message-view i');
        if (state === 'answered') {
            button_viewed_icon.classList.remove('fa-remove');
            button_viewed_icon.classList.add('fa-check');
        } else {
            button_viewed_icon.classList.add('fa-remove');
            button_viewed_icon.classList.remove('fa-check');
        }
    }


}

document.querySelector('#chat-message-submit').onclick = function(e) {
    if(currentChatId !== null){
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        sendMessage(userId, username, message);
        messageInputDom.value = '';
    }
    else{
        console.log("Виберіть чат");
    }};

document.querySelector('#chat-message-view').onclick = function(e) {
    if(currentChatId !== null){
        const view_button_icon = document.querySelector('#chat-message-view i');
        view_button_icon.classList.add('fa-solid','fa-check');
        view_button_icon.classList.remove('fa-remove');

        change_status();
    }
    else{
        console.log("Виберіть чат");
    }};
document.querySelector('#chat-message-archive').onclick = function(e) {
    if(currentChatId !== null){
        const archive_button_icon = document.querySelector('#chat-message-archive i');
        archive_button_icon.classList.add('fa-solid','fa-archive');
        archive_button_icon.classList.remove('fa-remove');

        if(selectedChatType.length === 3){
            selectedChatType = "archived" + selectedChatType;
        }
        else{
            selectedChatType = selectedChatType.slice(-3);
        }
        change_status_archive();
        setTypesCorrectly(false);
    }
    else{
        console.log("Виберіть чат");
    }};
async function change_status_archive() {

    const chatRef = doc(db, "chats", currentChatId); // Получаем ссылку на документ чата
    if(selectedChatType.length>3) {
        await updateDoc(chatRef, {
            chat_state: "archived" // Если сообщение отправляет студент, флаг viewed становится false
        });
        const button_archived_icon = document.querySelector('#chat-message-archive i');
        button_archived_icon.classList.remove('fa-remove');
        button_archived_icon.classList.add('fa-archive');
        updateChatBorderColor('archived', "archive");

    }
    else{
        await updateDoc(chatRef, {
            chat_state: "answered" // Если сообщение отправляет студент, флаг viewed становится false
        });
        const button_archived_icon = document.querySelector('#chat-message-archive i');
        button_archived_icon.classList.add('fa-remove');
        button_archived_icon.classList.remove('fa-archive');


        updateChatBorderColor('answered', "archive");
    }
}
document.getElementById('chat-file-upload').onclick = function() {
    // Trigger the file input when the button is clicked
    document.getElementById('chat-file-input').click();
};

document.getElementById('chat-file-input').onchange = async function(e) {
    if(currentChatId !== null){
        const file = e.target.files[0]; // Get the selected file
        if (file) {
            // Upload the file to Firebase Storage
            const fileRef = storageRef(storage, `chat_files/${currentChatId}/${file.name}`);
            await uploadBytes(fileRef, file);

            // Get the file's download URL
            const downloadURL = await getDownloadURL(fileRef);

            // Send a message with the file link
            await sendFileMessage(userId, username, file.name, downloadURL);

            // Reset the file input
            document.getElementById('chat-file-input').value = '';
        }
    }
    else{
        console.log("Виберіть чат");
    }};

async function sendFileMessage(senderId, senderName, fileName, fileURL) {


    const chatRef = doc(db, "chats", currentChatId); // Get reference to the chat
    const chatDoc = await getDoc(chatRef);
    if (role === "Customer") {
        await updateDoc(chatRef, {
            activity: serverTimestamp(),
            chat_state: "sent" // Если сообщение отправляет студент, флаг viewed становится false
        });
        if(chatDoc.data().chat_started === false){
            await updateDoc(chatRef, {
                chat_started: true,
            });
        }
    } else {
        await updateDoc(chatRef, {
            activity: serverTimestamp(),
            chat_state: "answered" // Если сообщение отправляет админ, статус чата меняется на "answered"
        });
    }
    const messageData = {
        chat_id: currentChatId,
        sender_id: senderId,
        sender_name: senderName,
        message_text: fileName,
        file_url: fileURL, // Store the file URL
        type: "file",      // Indicate this message is a file
        user_role: role,
        timestamp: serverTimestamp()
    };

    // Add the file message to Firestore
    await addDoc(collection(db, "chat_messages"), messageData);

    // Update the chat's last activity timestamp
    await updateDoc(chatRef, {
        activity: serverTimestamp()
    });}

async function deleteMessage(messageId) {
    try {
        // Reference the message document by ID
        const messageRef = doc(db, "chat_messages", messageId);

        // Delete the document
        await deleteDoc(messageRef);

        console.log(`Message with ID ${messageId} has been deleted.`);
    } catch (error) {
        console.error("Error deleting message:", error);
    }
}

function formatTimestamp(seconds, nanoseconds) {
    // Преобразуем секунды в миллисекунды
    const timestampInMillis = (seconds * 1000) + (nanoseconds / 1000000);

    // Создаем объект даты на основе миллисекунд
    const date = new Date(timestampInMillis);

    // Форматируем дату в нужный формат: HH:mm:ss dd:MM:YY
    const hours = String(date.getHours()).padStart(2, '0');
    const minutes = String(date.getMinutes()).padStart(2, '0');
    const secondsStr = String(date.getSeconds()).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    const month = String(date.getMonth() + 1).padStart(2, '0'); // месяцы начинаются с 0
    const year = String(date.getFullYear()); // последние две цифры года

    return `${hours}:${minutes}:${secondsStr} ${day}.${month}.${year}`;}
window.selectChat = selectChat;
</script>
{% endblock %}