.accPanel{
    padding: 50px 24px 0 24px;
}
.accPanel *{
    font-family: 'Poppins',Verdana,sans-serif;
}
.account-header, .search-header{
    padding-bottom: 50px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.acc_ul.acc_links{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*width: 100%;*/
    /*margin-bottom: 20px;*/
}
.acc_ul.acc_links a {
    color: #000000;
    font-size: 18px;
    margin-bottom: 18px;
    display: flex !important;
    align-items: center !important; /* This ensures vertical alignment */
    text-decoration: none !important;
}
.acc_ul.acc_links i{
    opacity: .3;
    margin-right: 10px;
}
.acc_ul.acc_links a {
    color: #000000;
    font-size: 18px;
    margin-bottom: 18px;
    align-items: center;
    display: flex;
    text-decoration: none!important;
    transition: color 0.3s ease, transform 0.3s ease; /* Add transition for color and transform */
}

/* Base styles for icons */
.acc_ul.acc_links i {
    opacity: .3;
    margin: 0 10px 0 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for opacity and transform */
}

/* Hover styles for link */
.acc_ul.acc_links a:hover {
    /*color: #003665; !* Change text color on hover *!*/
}

/* Hover styles for icons within a link */
.acc_ul.acc_links a:hover i {
    opacity: 1; /* Change icon opacity on hover */
    transform: translateX(3px); /* Move icon to the right by 3px */
}
.acc_links .logout{

    margin-top: 30px;
}
.acc_links .name a span{
    font-size: 24px!important;
    margin-bottom: 10px;
}


.acc_ul.acc_links svg {
    /* If needed, ensure there is no extra space inside the SVG that could affect alignment */
    display: block;
}
.acc_ul.acc_links a {
    /* Other styles... */
    line-height: 22px; /* Set this to the height of your SVG icon */
}

.panel-cross, .panel-dashboard, .panel-fav, .panel-orders, .panel-acc, .panel-address, .panel-logout{
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width:2px;
}
.panel-catalogs{
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width:1px;
}
.panel-dashboard, .panel-fav, .panel-orders, .panel-acc, .panel-address, .panel-catalogs, .panel-logout{
    stroke:#000;
}
