.address {
    transition: opacity 0.3s ease, height 0.3s ease, padding 0.3s ease, margin 0.3s ease;
    opacity: 1;
    height: auto; /* Adjust based on your layout, e.g., height: 150px; */
    overflow: hidden; /* Ensures content doesn't overflow during collapse */
}
a[data-link-action="update-address"], a[data-link-action="delete-address"] {
    position: relative; /* This makes the positioning of the ::after pseudo-element relative to the link */
    display: inline-block; /* Ensures the pseudo-element aligns correctly under the link */
    text-decoration: none; /* Optional: Removes the default underline from links */
}

a[data-link-action="update-address"]::after, a[data-link-action="delete-address"]::after {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 0%; /* Start width at 0 to be invisible initially */
    height: 2px; /* Adjust the thickness of the underline */
    bottom: -5px; /* Adjust distance from the link */
    left: 0;
    background-color: #000; /* Underline color */
    transition: width 0.3s ease; /* Smooth transition for the width */
}

a[data-link-action="update-address"]:hover::after, a[data-link-action="delete-address"]:hover::after {
    width: 100%; /* Full width on hover */
}