#errorText{
    text-align: center;
    font-size: 28px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 16% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: end;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#okButton{
    text-align: center;
    padding: 10px;
    width: 100px;
    font-size: 18px;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    background-color: #003665;
    transition: all 0.3s;
    cursor: pointer;
    color: #f9f9f9;
}
#okButton:hover{
    background-color: #00549b;
}