.product-pages-container{
    display: flex;
    gap: 10px;
}
.address-page, .copy-address-page{
    background-color: #ececec;
    color: #101010;
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;

}
.address-page:hover, .copy-address-page:hover{
    background-color: #dedede;
    text-decoration: none;
    color: #505050;
}
.address-page:visited, .address-page:link{
    border: none;
}

.address-page:focus {
    outline: none;
}
@media only screen and (min-width: 769px)  {
    .card-content, .success-card-content {
        display: grid;
    }

    .card-content, .success-card-content {
        grid-template-columns: auto auto;
    }
    .card-dropdown-label{
        font-weight: 500;
        font-size: 16px;
        color: #575757;
    }
    .card-dropdown{
        width: 50%;
        padding: 15px 20px;
        background-color: white;
        border-radius: 4px;
        border: 2px solid #f2f2f2;
        margin-bottom: 15px;
        cursor: pointer;
        color: #393939;
    }
    .card-content, .success-card-content {
        .img-card{
            margin: auto;
        }
        .close-card{
            position: absolute;
            font-size: 25px;
            top: 0;
            right: 0;
            margin: 10px 20px 0 0;
        }
        .close-card:hover{
            cursor: pointer;
        }
        .second-column{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 10px;

            .bottom-card-part{
                margin-top: auto;
                text-align: center;

                .plus-button-dialog, .minus-button-dialog{
                    background: #003665;
                    color: #efefef;
                    border-radius:5px;
                    width: 50px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 700;
                }

                .plus-button-dialog, .minus-button-dialog, .quantity-input-dialog{
                    height: 40px;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px)  {
    .card-content, .success-card-content {
        display: flex;
        flex-direction: column;
    }

    .card-dropdown{
        width: 50%;
        padding: 15px 20px;
        background-color: white;
        border-radius: 4px;
        border: 2px solid #f2f2f2;
        margin-bottom: 15px;
        cursor: pointer;
        color: #393939;
    }
    .card-content, .success-card-content {
        .img-card{
            margin: auto;
            width: 100%;
            height: 100%;
        }
        .close-card{
            position: absolute;
            font-size: 25px;
            top: 0;
            right: 0;
            margin: 10px 20px 0 0;
            cursor: pointer;
        }
        .second-column{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 10px;

            .card-dropdown-label{
                font-weight: 500;
                font-size: 16px;
                color: #575757;
            }

            .bottom-card-part{
                margin-top: auto;
                text-align: center;

                .plus-button-dialog, .minus-button-dialog{
                    background: #003665;
                    color: #efefef;
                    border-radius:5px;
                    width: 50px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 700;
                }

                .plus-button-dialog, .minus-button-dialog, .quantity-input-dialog{
                    height: 40px;
                }
                .quantity-input-dialog{
                    width: 100%;
                }
            }

        }
    }
    .container-for-success-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

.price-element{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}
.dimensions-container{
    display: flex;
    gap:50px;
    margin: 0 0 10px 0;
    >div{
        display: flex;
        flex-direction: column;
    }
}
.chain-dimensions-container{
    margin: 0 0 10px 0 ;
    display: flex;
    flex-direction: column;
}
.add-to-cart-dialog{
    width: 100%;
    padding: 20px;
    background: #003665;
    color: #efefef;
    border-radius:5px;
    margin-top: 20px;
    cursor: pointer;
}


/*Success section */
.added-text{
    font-weight: bolder;
    font-size: 18px;
    color: #003665;
    margin-bottom: 20px;
}
.button-proceed-to-checkout, .button-continue-shopping{
    padding: 19px 32px;
    color: white !important;
    background-color:  #003665;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    margin-left: 5px;

}
.button-proceed-to-checkout:hover{
    text-decoration: none;
}

