{% block content %}
    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin tools</title>
    <link rel="stylesheet" href="{% static "css/admin_tools/admin_tools_main.css" %}">
    <link rel="icon" href="{% static "images/icons/web-icon.png" %}" type="image/x-icon">
</head>
<body>
{% include 'widgets/navigation_bar.html' %}
<div class="container-page" style="margin-top: 150px">
    {% include 'admin_tools/AT_side_menu.html' %}
    {% if feature_name == 'dashboard' %}
        {% include 'admin_tools/AT_dashboard.html' %}
    {% elif feature_name == 'orders_control' %}
        {% include 'admin_tools/AT_orders_control.html' %}
    {% elif feature_name == 'users_control' %}
        {% include 'admin_tools/AT_users_control.html' %}
    {% elif feature_name == 'edit_user' %}
        {% include 'admin_tools/AT_UC_edit_user.html' %}
    {% elif feature_name == 'view_user' %}
        {% include 'admin_tools/AT_UC_view_user.html' %}
    {% elif feature_name == 'view_order' %}
        {% include 'admin_tools/AT_OC_view_order.html' %}
    {% elif feature_name == 'manage_banners' %}
        {% include 'admin_tools/AT_manage_banners.html' %}
    {% elif feature_name == 'manage_promocodes' %}
        {% include 'admin_tools/AT_manage_promocodes.html' %}
    {% elif feature_name == 'upload_db_update' %}
        {% include 'admin_tools/AT_manage_promocodes.html' %}
    {% endif %}
</div>
{% include "widgets/footer.html" %}
</body>
</html>
{%endblock%}