<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Auth</title>
    <script src="https://kit.fontawesome.com/ba99d1b9b2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<style>

</style>

<body class="this-page">
<div class="toolbar">
    <div class="logo">
        <img class = "imag" src="{% static "logonormal.webp" %}" height="70px"  />
    </div>


    {% if user.is_authenticated %}
                <a></a>
                <a></a>
                <a></a>
                <a href="{% url 'shop_page' %}" class="link">Shop</a>
                <a></a>
                <a></a>
                <a href="{% url 'profile' %}" class="link">Profile</a>
                <a></a>
                <a></a>
                <a href="{% url 'catalog' %}" class="link">Catalog</a>
                <a></a>
                <a></a>
                <a href="{% url 'cart' %}" class="link">Cart</a>

                <a></a>
                <a></a>
                <a></a>

                <span style="font-style: italic; font-size: 18px; color: white; font-family: poppins,Verdana,sans-serif;">{{ user.username }}</span>
        <span>
                <a class="link" id="cartBtn"><i class="fa-solid fa-shopping-basket" style="color: white; "></i></a>
                <a href="{% url 'logout'%}" class="link" onclick="return confirmLogout(event)"><i class="fa-solid fa-sign-out"></i></a>
        </span>
    {% else %}
                <a></a>
                <a href="{% url 'login'%}" class="link">Login</a>
                <a></a>
                <a href="{% url 'register'%}" class="link">Register</a>
                <a></a>
    {% endif %}
    <a></a>
</div>
<a></a>
<a></a>

<div id="cartPanel" class="cart-panel">

    <!-- Cart content will be loaded here dynamically -->
    <div class="cart-header">
        <span class="shopping-cart-span">Shopping Cart</span>
        <span id="closeCartBtn"><i class="fa-solid fa-close"></i></span>
    </div>
      <div class="cart-items">
        <!-- Cart items will be dynamically inserted here -->
    </div>
    <div class="cart-footer">
        <div class="subtotal">
            <span>Subtotal:</span>
            <span id="subtotalValue">€0.00</span>
        </div><br>
        <button onclick="location.href='{% url 'cart' %}'"  class="checkout-btn">Go to Checkout</button>
    </div>

</div>
<div id="overlay" class="overlay"></div>
</body>
<script>
  function confirmLogout(event) {
    // Show a confirmation dialog
    var confirmation = confirm("Are you sure you want to log out?");

    // If the user clicks "Cancel", prevent the default link action
    if (!confirmation) {
      event.preventDefault();
      return false;
    }

    // If the user confirms, allow the default link action (logout)
    return true;
  }
  document.getElementById('cartBtn').onclick = function() {
    var cartPanel = document.getElementById('cartPanel');
    var overlay = document.getElementById('overlay');
    if (cartPanel.classList.contains('open')) {
        cartPanel.classList.remove('open');
        overlay.style.display = 'none'; // Hide the overlay when the cart is closed

    } else {
        // Load cart data

        fetch('{% url "get_cart" %}')
            .then(response => response.json())
            .then(data => {
                const cartItemsContainer = document.getElementById('cartPanel').querySelector('.cart-items');
                cartItemsContainer.innerHTML = ''; // Clear existing items
                let sum = 0;
                data.cart.forEach(item => {
                    sum+=parseFloat(item.sum);
                    const itemElement = document.createElement('div');
                    itemElement.classList.add('mini-cart-product');

                    const img_column = document.createElement('div');
                    const img = document.createElement('img');
                    img.src = item.image_url;
                    img.width= `64`;
                    img_column.appendChild(img);


                    const attributes = document.createElement('div');
                    attributes.classList.add('attrs-container');

                    const attrs_column_first = document.createElement('p');
                    attrs_column_first.classList.add('cart-first-attrs-column');

                    const name = document.createElement('span');
                    name.textContent = `${item.name}`;
                    name.classList.add('cart-product-name');

                    const crystal_color = document.createElement('span');
                    crystal_color.textContent = `Crystal color: ${item.stone}`;
                    const plating = document.createElement('span');
                    plating.textContent = `Plating: ${item.plating}`;
                    const base = document.createElement('span');
                    base.textContent = `Base Material: ${item.material}`;

                    attrs_column_first.appendChild(name);
                    attrs_column_first.appendChild(crystal_color);
                    attrs_column_first.appendChild(plating);
                    attrs_column_first.appendChild(base);


                    const attrs_column_second = document.createElement('span');
                    attrs_column_second.classList.add('cart-second-attrs-column');

                    const price = document.createElement('span');
                    price.textContent = `€${item.price}`;
                    price.classList.add('mini-cart-product-price');

                    const quantity = document.createElement('span');
                    quantity.textContent = `Quantity: ${item.quantity}`;
                    quantity.classList.add('mini-cart-product-quantity');



                    attrs_column_second.appendChild(price);
                    attrs_column_second.appendChild(quantity);

                    attributes.appendChild(attrs_column_first);
                    attributes.appendChild(attrs_column_second);

                    itemElement.appendChild(img_column);
                    itemElement.appendChild(attributes);

                    // Add more details as needed
                    cartItemsContainer.appendChild(itemElement);
                });

                // Update subtotal

                document.getElementById('subtotalValue').textContent = `€${sum.toFixed(1)}`;

                // Open the cart panel and overlay
                document.getElementById('cartPanel').classList.add('open');
                document.getElementById('overlay').style.display = 'block';
                console.log(data);
            })
            .catch(error => console.error('Error loading cart:', error));
    }
};
document.getElementById('overlay').addEventListener('click', function() {
    document.getElementById('cartPanel').classList.remove('open');
    this.style.display = 'none'; // Hide the overlay
});
document.getElementById('closeCartBtn').onclick = function() {
    var cartPanel = document.getElementById('cartPanel');
    var overlay = document.getElementById('overlay');
    cartPanel.classList.remove('open');
    overlay.style.display = 'none';
};
</script>
</html>