{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My cart</title>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static "js/checkout/totalCalculation.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout_cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout/checkout_step_cart.css' %}">
    <link rel="icon" href="{% static "images/icons/web-icon.png" %}" type="image/x-icon">
</head>
<body>
{% include 'widgets/navigation_bar.html' %}
<div class="all" style="margin-top: 150px">

<div class="page-content">
  <div class="doc-content">

    <div class="shopping-cart-label">{% trans "Shopping cart"%}</div>
    <ul id="documents-list">

      {% for document in documents %}

        <div class="document-container" data-document-id="{{ document.name }}" data-document="{{ document }}">
            <div class="document-container-body">
                <div><img class="document-image" src="{{ document.image_url }}" alt="{{ document.name }}"></div>
                <div class="document-info" id="info-{{ document.name }}">
                    <div class="row-1">
                        <div class="document-number">{{ document.category }} {{ document.product_name }}</div>
                        <div class="deleteBut"  data-product-id="{{ document.name }}" ><i class="fa-solid fa-remove"></i></div>
                    </div>
                    <div class="row-2">
                        <div class="column-1">

                            <div class="document-description">{{ document.description }}</div>
                            <div class="current-quantity" id="current-quantity-{{ document.name }}">{% trans "In cart"%}: {{ document.quantity }}</div>
                        </div>
                        <div class="column-2">
                            <div>
                                <div class="quantity-slider" id="quantity-slider-{{ document.name }}" >
    {#                                <span class="min" style=" {% if isSpecialCustomer == True %} display:none {% endif %}">{{ 1 }}</span>#}
                                    <div class="slider-body" >
                                        <input class="inp" min=1 id="quantity-input-inp-{{ document.name }}" value="{{ document.quantity }}" type="number" placeholder="Enter the quantity">
    {#                                    <input type="range" min="1" max="{{ document.quantity_max }}" value="{{ document.quantity }}" class="slider" id="slider-{{ document.name }}" style=" {% if isSpecialCustomer == True %} display:none {% endif %}">#}
                                        {% if document.quantity_max < 5 %} <span> {% trans "Less than 5 items left" %} </span>{% endif %}
                                        <button class="quantity-input-button" id="quantity-input-apply-{{ document.name }}">{% trans "Confirm"%}</button>
                                    </div>
    {#                                <span class="max" style=" {% if isSpecialCustomer == True %} display:none {% endif %}">{{ document.quantity_max }}</span>#}
                                </div>
                            </div>
                            <div class="sum" id="sum-{{ document.name }}">{{ currency }}{{ document.sum }}</div>
                        </div>

                    </div>
                </div>
            </div>
      </div>
    {% endfor %}

    </ul>
  <div class="back-button" >
    <a class="back-to-shopping" href="{% url "catalog" %}">
        <i class="fa-solid fa-chevron-left"> </i>
        <span>{% trans "Continue shopping"%}</span>
    </a>
  </div>
</div>
<div class="final-container">
    <div class="finish-section">
        <div class="card-detailed-totals">
            <h4>{% trans "Subtotal" %}</h4>
            <div class="info-cart-block">
                <div class="block-total">
                    <div class="final-unique-quantity">5 {% trans "items" %}</div>
                    <div class="final-sum" id="final-sum">{{ currency }}500.00</div>
                </div>
            </div>
            <div class="promo-block">
                <div class="voucher">

                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"> <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path> <line x1="7" y1="7" x2="7" y2="7"></line> </svg>
                    <span class="label-voucher">{% trans "Have a promo code?" %}</span>

                </div>
            </div>
            <div class="card-block-totals" >
                <div class="cart-total">
                    <span class="label-total">{% trans "Total"  %} (VAT Incl.)</span>
                    <span class="value-total">{{ currency }}500.00</span>
                </div>
                <div class="cart-taxes" style="display: none">
                    <span class="label-taxes">{% trans "Included taxes"  %}:</span>
                    <span class="value-taxes">{{ currency }}84.00</span>
                </div>
                <div class="cart-shipping" style="display: none">
                    <span class="label-shippinh">{% trans "Included shippinh"  %}:</span>
                    <span class="value-shipping">{{ currency }}84.00</span>
                </div>
            </div>
        </div>
        <div class="cart-detailed-actions">
            <button class="finish-order" id="finishOrderButton">{% trans "Proceed to checkout"%}</button>
        </div>

    </div>
    </div >
</div>

</div>
</body>

<script>

    let documentss = [];
    function init() {
        documentss = {{ documents|safe }};
        calculate_final(0, 0, currency, documentss);
    }

document.addEventListener('DOMContentLoaded', function() {
    isCheckout = true;
    init();

   document.querySelectorAll('.document-container').forEach(documentContainer => {
       const dataDocument = documentContainer.getAttribute('data-document');
       const doc = JSON.parse(dataDocument.replaceAll("'",'"'));

       saveState('quantity-'+doc.name, doc.quantity)
    });

});

function parameters_final(productId, newQuantity){
    documentss = documentss.map(doc => {
        if (doc.name === productId) {
            doc.quantity = newQuantity;
        }
        return doc;

    });
    calculate_final(0,0, currency, documentss);
}
function saveState(name, value) {
    localStorage.setItem(name, value);
}


document.querySelectorAll('.slider-body input[type="number"]').forEach(slider => slider.addEventListener('input', function(event) {
     const input = event.target;
     const documentContainer = input.closest('.document-container');
     const documentValue = JSON.parse(documentContainer.getAttribute('data-document').replace(/'/g, '"'));
     const productId = documentValue['name'];

     {#const slider = document.getElementById('slider-' + productId);#}
     const button = document.getElementById("quantity-input-apply-" + productId);
     button.innerText = "{{ _("Confirm")|escapejs }}";
     button.style.background = "#003665";

     const inp = document.getElementById('quantity-input-inp-' + productId);
     const quantity = parseInt(inp.value);


     {#slider.value= quantity;#}
     if (isNaN(quantity) || quantity <= 0) {
        alert("{{ _("Type of written quantity has to be numeric and greater than 0")|escapejs }}");
        inp.value = 1;
        {#slider.value = 1;#}
     } else if (quantity > documentValue.quantity_max) {
        alert("{{ _("Quantity has to be less than maximum on storage")|escapejs }}");
        inp.value = documentValue.quantity_max;
        {#slider.value = documentValue.quantity_max;#}

     }

}));
document.getElementById('documents-list').addEventListener('click', function(event) {


    let deleteButton = event.target.closest('.deleteBut');
    if (deleteButton) {
        const documentId = deleteButton.getAttribute('data-product-id');
        const documentContainer = deleteButton.closest('.document-container');

        const confirmed = confirm("{{ _("Do you really want to delete this product from your cart?")|escapejs }}");

        if (confirmed) {
            deleteBut(documentId, documentContainer);
        }
    }



    const quantityInputButton = event.target.closest('.quantity-input-button');
    if (quantityInputButton) {
        const documentContainer = quantityInputButton.closest('.document-container');
        const documentValue = JSON.parse(documentContainer.getAttribute('data-document').replace(/'/g, '"'));
        const productId = documentValue['name'];

        const inp = document.getElementById('quantity-input-inp-' + productId);
        const quantity = parseInt(inp.value);

        if (isNaN(quantity) || quantity <= 0) {
            alert("{{ _("Type of written quantity has to be numeric and greater than 0")|escapejs }}");
        }
        else if (quantity > documentValue.quantity_max) {
            alert("{{ _("Quantity has to be less than maximum on storage")|escapejs }}");
        }
        else {
            updateQuantityInput(productId, quantity, documentValue);
        }
    }
});
{#$(document).ready(function() {#}
{#    $('#documents-list').on('input change', '.slider', function () {#}
{#        let product_id = $(this).attr('id').split('-')[1];#}
{#        let quantity_new = $(this).val();#}
{#        const quantityElement = document.getElementById('quantity-input-inp-' + product_id);#}
{#        quantityElement.value = quantity_new;#}
{#        const button = document.getElementById("quantity-input-apply-"+ product_id);#}
{#        button.innerText = "{{ _("Confirm")|escapejs }}";#}
{#        button.style.background = "#003665"#}
{#    });#}
{#);#}

function updateQuantityInput(product_id, quantity_new, doc) {
    fetch('{% url "update_input" %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ product_id: product_id, quantity_new: quantity_new, 'document': doc, price:doc.price})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {

            changeCurrentQuantityText(product_id, quantity_new);

            const button = document.getElementById("quantity-input-apply-"+ product_id);
            button.innerText = "{{ _("Confirmed!")|escapejs }}";
            button.style.background = "#077a07";

            const sum  = document.getElementById('sum-'+data.product_id);
            sum.innerHTML = currency+ "" + data.sum;

            saveState('sum-'+product_id, data.sum);
            saveState('quantity-'+data.product_id, data.quantity);
            parameters_final(product_id, quantity_new);
        } else {
        }
    });
}

function deleteBut(documentId, documentContainer){
    fetch('{% url "delete_document" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ document_id: documentId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                let documents = documentss.filter(doc => doc.name !== documentId);
                console.log('Document deleted successfully');
                documentContainer.remove();

                {#console.log(data.updated_document);#}
                data.updated_documents.forEach(doc => {
                    console.log(`${doc.id}`);
                    let docElement = document.querySelector(`[data-document-id="${doc.id}"]`);
                    console.log(docElement);
                });
                calculate_final(0,0, currency, documents);
              } else {
                  console.error('Error in deletion');
              }
        })
        .catch(error => console.error('Error:', error));
}
document.getElementById('finishOrderButton').addEventListener('click', function() {
        {% if user.is_authenticated  %}
            window.location.href = '{% url 'checkout_addresses' %}';
        {% else %}
            window.location.href = '{% url 'cart_anonymous' %}';
        {% endif %}

});
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function changeCurrentQuantityText(productId, quantity){
    const current_quantity = document.getElementById('current-quantity-'+productId);
    current_quantity.innerText = "{% trans "In cart" %}" + ": "+ quantity;
}
</script>
</html>

{%endblock%}