{% block content %}
{% load static %}
{% load i18n  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet"  href="{% static 'css/catalog.css' %}">
    <!-- Add this script tag to your HTML to include Firebase SDK -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static "js/product_cards.js" %}"></script>
    <script src="{% static "js/catalog/setupFilters.js" %}"></script>
    <script src="{% static "js/catalog/setupSliderFilter.js" %}"></script>
    <script src="{% static "js/productsTransmutation.js" %}"></script>
    <link rel="icon" href="{% static "images/icons/web-icon.png" %}" type="image/x-icon">

</head>
<body>
{% include 'widgets/navigation_bar.html' %}

<div class="everything" style="margin-top: 120px">
    <div class="filters-section">
        <div class="categories" style="display: none;">
            <div class="categories-label">{% trans "Categories" %}</div><br>
            <ul class="categories-list">

            </ul>
        </div>
        <div class="filters">
            <div class="filters-label">{% trans "Filters" %}<hr></div><br>
            <div class="filter-name">
                <label for="contains-in-name">{% trans "Name, Product Article" %}</label>
                <hr>
                <input type="text" id="contains-in-name" placeholder="Contains in name..."><br>
            </div><br>
            <div class="filter-price">
                <label for="slider-price">{% trans "Price" %}</label>
                <hr>
               <div class="range_container">
                    <div class="sliders_control">
                       <input id="fromSlider" type="range" value="0" min="0" max="800" step="5"/>
                       <input id="toSlider" type="range" value="800" min="0" max="800" step="5"/>
                    </div>
                    <div class="form_control">
                      <div class="form_control_container">
                          <span class="fromInput-text">{{ currency }}0</span>
                      </div>
                          <div class="form_control_container">
                             <span class="toInput-text">{{ currency }}800</span>
                          </div>
                    </div>
                </div>
            </div>
            <div class="filter-crystal-color">
                {% trans "Crystal color" %}
                <hr>

                <div class="crystals">
                    <div id="crystal1">
                        <input class="crystal-checkbox" type="checkbox" id="checkbox1" name="checkbox1" value="Pink">
                        <label class="checkbox-label" for="checkbox1">Pink</label>
                    </div>
                    <div id="crystal2">
                        <input class="crystal-checkbox" type="checkbox" id="checkbox2" name="checkbox2" value="Red">
                        <label class="checkbox-label" for="checkbox2">Red</label>
                    </div>
                    <div id="crystal3">
                        <input class="crystal-checkbox" type="checkbox" id="checkbox3" name="checkbox3" value="Blue">
                        <label class="checkbox-label" for="checkbox3">Blue</label>
                    </div>
                </div>
                <div class="remove-filters-container" id="crystals">  <span class="remove-filters"><i class="fa-solid fa-close"></i> Reset this group</span></div>

            </div>
            <br>
            <div class="filter-plating">
                {% trans "Plating material" %}
                <hr>
                <div class="platings">
                    <div id="plating1">
                        <input class="plating-checkbox" type="checkbox" id="checkboxPL1" name="checkboxPL1" value="Rhodium">
                        <label class="checkbox-label" for="checkboxPL1">Rhodium</label>
                    </div>
                    <div id="plating2">
                        <input class="plating-checkbox" type="checkbox" id="checkboxPL2" name="checkboxPL2" value="Gold">
                        <label class="checkbox-label" for="checkboxPL2">Gold</label>
                    </div>
                    <div id="plating3">
                        <input class="plating-checkbox" type="checkbox" id="checkboxPL3" name="checkboxPL3" value="Rose Gold">
                        <label class="checkbox-label" for="checkboxPL3">Rose Gold</label>
                    </div>
                    <div id="plating4">
                        <input class="plating-checkbox" type="checkbox" id="checkboxPL4" name="checkboxPL4" value="Without">
                        <label class="checkbox-label" for="checkboxPL4">Without</label>
                    </div>
                </div>
               <div class="remove-filters-container" id="platings">  <span class="remove-filters"><i class="fa-solid fa-close"></i> Reset this group</span></div>
            </div><br>
            <div class="filter-base">
                {% trans "Base material" %}
                <hr>
                <div class="bases">
                    <div id="base1">
                        <input class="base-checkbox" type="checkbox" id="checkboxB1" name="checkboxB1" value="Steel">
                        <label class="checkbox-label" for="checkboxB1">Steel</label>
                    </div>
                    <div id="base2">
                        <input class="base-checkbox" type="checkbox" id="checkboxB2" name="checkboxB2" value="Steel Brass">
                        <label class="checkbox-label" for="checkboxB2">Steel Brass</label>
                    </div>
                </div>

                <div class="remove-filters-container" id="bases">  <span class="remove-filters"><i class="fa-solid fa-close"></i> Reset this group</span></div>
            </div><br>
            <div class="filter-size">
                {% trans "Size" %}
                <hr>
                <div class="sizes">
                    <div id="size1">
                        <input class="size-checkbox" type="checkbox" id="checkboxS1" name="checkboxS1" value="S">
                        <label class="checkbox-label" for="checkboxS1">S</label>
                    </div>
                    <div id="size2">
                        <input class="size-checkbox" type="checkbox" id="checkboxS2" name="checkboxS2" value="M">
                        <label class="checkbox-label" for="checkboxS2">M</label>
                    </div>
                    <div id="size3">
                        <input class="size-checkbox" type="checkbox" id="checkboxS3" name="checkboxS3" value="L">
                        <label class="checkbox-label" for="checkboxS3">L</label>
                    </div>
                    <div id="size4">
                        <input class="size-checkbox" type="checkbox" id="checkboxS4" name="checkboxS4" value="XL">
                        <label class="checkbox-label" for="checkboxS4">XL</label>
                    </div>
                </div>

                <div class="remove-filters-container" id="sizes">  <span class="remove-filters"><i class="fa-solid fa-close"></i> Reset this group</span></div>
            </div>

{#            <button id="submit-button">Submit filters</button>#}
        </div>
    </div>
    <div class="products-section">
        <div class="view-settings">
            <div class="select-per-page">

                <span>{% trans "Items per page" %}: </span>
                <select id="select-items-per-page">
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="select-order">
                <span>{% trans "Order by" %}: </span>
                <select id="select-order">
                    <option>{% trans "Name" %}, asc</option>
                    <option>{% trans "Name" %}, desc</option>
                    <option>{% trans "Price" %}, asc</option>
                    <option>{% trans "Price" %}, desc</option>
                </select>
            </div>
        </div>
        <div>

        </div>
        <div class="products-grid">

        </div>

        <dialog id="product-card">

        </dialog>
        <dialog id="product-card-success" >

        </dialog>
        <br>
        <hr style="width: 94%; float:left">
        <div class="pages-container">
            <div class="semi">
                <div class="pages" id="pages">
                    <a id="previous-button" href=""><i class="fa-solid fa-chevron-left"></i>{% trans "Previous" %} </a>
                    <span id="current-page"> </span>
                    <a id="next-button" href="">{% trans "Next" %} <i class="fa-solid fa-chevron-right"></i></a>
                </div>
            </div>
            <div id="jump">
                <input id="page-number-input" type="number">
                <button id="button-jump-to">{% trans "Jump" %}</button>
            </div>
      </div>
</div>
</div>
{% include "widgets/overlay.html" %}
{% include "widgets/footer.html" %}
</body>

<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js';

    import { getFirestore, collection, query, where, getDocs } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js';

    var firebaseConfig = {
        apiKey: "AIzaSyAM0wDc_WO0wP3-_TPRPLENZDIHbezH7U4",
        authDomain: "flutterapp-fd5c3.firebaseapp.com",
        projectId: "flutterapp-fd5c3"
    };

    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);

    document.addEventListener("DOMContentLoaded", async function () {
        showOverlay();

        itemsPerPage = Number(document.getElementById('select-items-per-page').value);

        let unfilteredItems = await fetchAllItems(); // Fetch all items on load

        favouriteItems = await fetchFavouriteItems("{{ user.email }}");

        allItems = productsTransmutation(unfilteredItems, price_category, sale);

        total_pages = Math.ceil(allItems.length / itemsPerPage);

        updatePage();

        buildUpPages();
        changePage(currentPage);

        constructCategories();

        constructFilters(allItems);

        setupFiltersEventListeners('.plating-checkbox', platingFilters);
        setupFiltersEventListeners('.base-checkbox', baseFilters);
        setupFiltersEventListeners('.size-checkbox', sizeFilters);

        applyFilters();
        updateURL();
        setupSelectEventListener('.crystal-select', stoneFilters);
        hideOverlay();
    });

let sale = {{ sale|safe }};
const price_category = "{{ category|safe }}";
const show_quantities = "{{ show_quantities|safe }}" !== "False";
let itemsPerPage = 20;
let order_name = "Name";
let order_type = "asc";
let number_of_documents;
let currentPage = 1;
let total_pages = 1;
let allItems = [];
let favouriteItems = [];
let filteredItems = [];
let filters = [];
let platingFilters =  "{{ plating_catalog }}" ? ["{{ plating_catalog|safe }}"] : [];
let baseFilters = "{{ base_catalog }}" ? ["{{ base_catalog|safe }}"] : [];
let stoneFilters = [];
let sizeFilters = [];
let subcat = {"Necklaces": ["Necklace","Chain","Pearlchain", "Pendant", "Collier"], "All Earrings": ["Earrings","Post Earrings", "Clip", "Hoop"], "Bracelets":["Bracelet","Bangle", "Anklet"], "Accessories":["Piercing", "Nailfile", "Pen","Key","Brooch"]}
let category = "{{ category_catalog|safe}}" || "All";
{#console.log(category);#}
let categories = [""];
let all_crystals = [];
let all_platings = [];
let all_bases = [];

function buildUpPages() {
    const pagesContainer = document.getElementById('current-page');
    let pagesToShow = document.createDocumentFragment(); // Use a document fragment to hold elements before inserting them into the DOM

    function addPageLink(page, isCurrentPage) {
        const pageElement = document.createElement('a');
        if (isCurrentPage) {
            const boldText = document.createElement('b');
            boldText.textContent = page;
            if(currentPage === 1){
                boldText.style.padding = '10px';
            }
            pagesToShow.appendChild(boldText);
        } else {
            pageElement.href = "";
            pageElement.textContent = page;
            pageElement.addEventListener('click', function(event) {
                event.preventDefault();
                changePage(page);
            });
            pagesToShow.appendChild(pageElement);
        }
        pagesToShow.appendChild(document.createTextNode(' ')); // Add space between links
    }

    function addEllipsis() {
        pagesToShow.appendChild(document.createTextNode('... '));
    }

    if (total_pages <= 5) {
        for (let i = 1; i <= total_pages; i++) {
            addPageLink(i, i === currentPage);
        }
    } else {
        addPageLink(1, currentPage === 1);

        if (currentPage > 3) {
            addEllipsis();
        }

        let startPage = Math.max(2, currentPage - 1);
        let endPage = Math.min(currentPage + 1, total_pages - 1);

        if (currentPage === 1) {
            endPage = Math.min(3, total_pages - 1);
        } else if (currentPage === total_pages) {
            startPage = Math.max(total_pages - 2, 2);
        }

        for (let i = startPage; i <= endPage; i++) {
            addPageLink(i, i === currentPage);
        }

        if (currentPage < total_pages - 2) {
            addEllipsis();
        }

        addPageLink(total_pages, currentPage === total_pages);
    }

    // Clear the current content and append the new set of page links
    pagesContainer.innerHTML = '';
    pagesContainer.appendChild(pagesToShow);
}
function changePage(page) {
    if(page === 1){
        document.getElementById("previous-button").style.display = 'none';
    }
    else{
        document.getElementById("previous-button").style.display = 'block';
    }
    if(page === total_pages){
        document.getElementById("next-button").style.display = 'none';
    }
    else{
        document.getElementById("next-button").style.display = 'block';
    }
    currentPage = page;
    updatePage(); // Assuming you have this function implemented to refresh the content based on the current page

    buildUpPages();
}


let synonyms = {
    "All": "All",
    "Necklaces": "Necklaces",
    "All Earrings": "Earrings",
    "Earrings": "Earrings",
    "Bracelets": "Bracelets",
    "Accessories": "Accessories",
    "Pendant": "Pendants",
    "Chain": "Chains",
    "Collier": "Colliers",
    "Pearlchain": "Pearlchains",
    "Necklace": "Necklaces",
    "Post Earrings": "Post Earrings",
    "Hoop": "Hoops",
    "Creole": "Creoles",
    "Clip": "Clips",
    "Piercing": "Piercings",
    "Bracelet": "Bracelets",
    "Bangle": "Bangles",
    "Anklet": "Anklets",
    "Ring": "Rings",
    "Match": "Matches",
    "Pen": "Pens",
    "Key": "Keys",
    "Brooch": "Brooches",
    "Nailfile": "Nailfiles",
    "Extension": "Extensions",
    "UV": "UV"
}

function constructCategories(){
    const categories_div = document.querySelector('.categories');
    const categoriesList = document.querySelector('.categories-list');
    categoriesList.innerHTML = ''; // Clear existing list items

    // Assuming 'subcat' is defined globally
    const generalCategories = Object.keys(subcat);
    const subCategories = new Set([].concat(...Object.values(subcat)));

    let categories = allItems.reduce((acc, item) => {
        if (!acc.includes(item.category) && !subcat.hasOwnProperty(item.category)) {
            acc.push(item.category);
        }
        return acc;
    }, []);

    const categoryList = ["All", ...generalCategories, ...categories];
    console.log(categoryList);
    categoryList.forEach(categoryVar => {

        if (subCategories.has(categoryVar)) return; // Skip adding sub-categories here

        const li = document.createElement('li');

        const categorySpan = createCategorySpan(categoryVar);
        const categoryDivForLi = document.createElement('div');
        categoryDivForLi.classList.add('container-subcategories');
        categoryDivForLi.appendChild(categorySpan);
        li.appendChild(categoryDivForLi);
        categoriesList.appendChild(li);

        if (subcat.hasOwnProperty(categoryVar)) {
            const chevron = createChevron();
            categoryDivForLi.appendChild(chevron);
            const ul = createSubCategoryList(subcat[categoryVar]);
            li.appendChild(ul);

            setupChevronToggle(chevron, ul);
        }

        setupCategoryClickListener(categorySpan);
    });

    categories_div.style.display = 'block';
}

function createCategorySpan(currentCategory) {
    const span = document.createElement('span');
    span.textContent = synonyms[currentCategory];
    span.setAttribute("data-category-name", currentCategory);
    span.className = 'category-name';
    console.log(currentCategory);

    if (currentCategory === category) span.style.fontWeight = "600";
    return span;
}

function createChevron() {
    const chevron = document.createElement('i');
    chevron.className = 'fa-solid fa-chevron-down';
    chevron.style.cursor = "pointer";
    return chevron;
}

function createSubCategoryList(subCategories) {

    const ul = document.createElement('ul');
    ul.className = 'sub-category-list'; // Assign class for styling
    subCategories.forEach(sub => {
        const subLi = document.createElement('li');
        const subSpan = document.createElement('span');
        subSpan.setAttribute("data-category-name", sub);
        subSpan.textContent = synonyms[sub];
        subLi.appendChild(subSpan);
        ul.appendChild(subLi);
        setupCategoryClickListener(subSpan);
    });
    return ul;
}

function setupChevronToggle(chevron, ul) {
    chevron.addEventListener('click', () => {
        const isOpen = ul.style.height !== '0px' && ul.style.height !== '';
        if (isOpen) {
            ul.style.height = '0'; // Close the ul by setting height to 0
            chevron.className = 'fa-solid fa-chevron-down';
        } else {
            ul.style.height = `${ul.scrollHeight}px`; // Open the ul by setting height to its natural height
            chevron.className = 'fa-solid fa-chevron-up';
        }
    });
}

function setupCategoryClickListener(span) {
    span.addEventListener('click', () => {
        document.querySelectorAll('.categories-list li span').forEach(li => li.style.fontWeight = "");
        category = span.getAttribute("data-category-name"); // Assuming 'category' is a global variable
        span.style.fontWeight = "600";
        const newUrl = `?category=${encodeURIComponent(category)}`;
        history.pushState({path: newUrl}, '', newUrl);

        applyFilters(); // Call the applyFilters function
        updateURL();
    });
}


// Function to simulate changing the page (you might have your actual logic to fetch/update content here)
function setupSelectEventListener(selectClassName, filtersArray) {
    const select = document.querySelector(selectClassName);
    select.addEventListener('change', function() {
        const remove_button = this.parentElement.parentElement.parentElement.querySelector('.remove-filters-container');
        let selectedValue = this.value;

        if (selectedValue) {
            filtersArray.length = 0; // Clear the filters array
            remove_button.style.display = "block";
            filtersArray.push(selectedValue);
        } else {
            filtersArray.length = 0; // Clear the filters array if no option is selected
            remove_button.style.display = "none"; // Hide remove button
        }

        applyFilters();
        updateURL();
    });
}

function setupFiltersEventListeners(checkboxClassName, filtersArray) {
    document.querySelectorAll(checkboxClassName).forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const checkboxes = document.querySelectorAll(checkboxClassName);
            const remove_button = this.parentElement.parentElement.parentElement.querySelector('.remove-filters-container');
            const label = this.parentElement.querySelector('label');
            let textValue = this.value;

            if (this.checked) {
                toggleOffUnnecessaryCheckboxes(checkboxes, textValue);
                filtersArray.length = 0; // Clear the filters array
                remove_button.style.display = "block";
                label.style.fontWeight = "600";
                filtersArray.push(textValue);
            } else {
                filtersArray.splice(filtersArray.indexOf(textValue), 1);
                if (filtersArray.length === 0) {
                    remove_button.style.display = "none"; // Hide remove button if filters array is empty
                }
                label.style.fontWeight = "";
            }

            applyFilters();
            updateURL();
        });
    });
    document.querySelectorAll(checkboxClassName).forEach(checkbox => {
        if (filtersArray.includes(checkbox.value)) {
            // Programmatically check the checkbox without triggering the event
            checkbox.checked = true;

            // Now manually trigger the change event
            let event = new Event('change', {
                'bubbles': true,
                'cancelable': true
            });
            checkbox.dispatchEvent(event);
        }
    });
}
function updateURL() {
    const baseUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
    const queryParams = new URLSearchParams();

    // Add 'category' to the URL if it exists
    if (category) {
        queryParams.set('category', category);
    }

    // Assuming stoneFilters, platingFilters, baseFilters, and sizeFilters are global
    if (baseFilters.length > 0) {
        queryParams.set('base', baseFilters.join(',')); // If expecting multiple, join them
    }
    if (platingFilters.length > 0) {
        queryParams.set('plating', platingFilters.join(','));
    }
    if (stoneFilters.length > 0) {
        queryParams.set('crystal', stoneFilters.join(','));
    }
    if (sizeFilters.length > 0) {
        queryParams.set('size', sizeFilters.join(','));
    }

    // Use history.pushState to update the URL
    history.pushState({}, '', `${baseUrl}?${queryParams.toString()}`);
}
function toggleOffUnnecessaryCheckboxes(checkboxes, currentValue ){
    checkboxes.forEach(checkbox => {
        if (checkbox.value !== currentValue) {
            checkbox.checked = false;
            checkbox.parentElement.querySelector('label').style.fontWeight = "";
        }
    });
}
document.querySelectorAll('.remove-filters-container').forEach(container=> {
    container.addEventListener('click', function (){
       if(container.id === "platings"){
            platingFilters.length = 0;
            const platingCheckboxes = document.querySelectorAll('.plating-checkbox');
            platingCheckboxes.forEach(checkbox => {
                checkbox.checked = false;
                checkbox.parentElement.querySelector('label').style.fontWeight = "";
            });
            removeQueryParam('plating');
       }
       else if(container.id === "sizes"){
            sizeFilters.length = 0;
            const sizesCheckboxes = document.querySelectorAll('.size-checkbox');
            sizesCheckboxes.forEach(checkbox => {
                checkbox.checked = false;
                checkbox.parentElement.querySelector('label').style.fontWeight = "";
            });
            removeQueryParam('size');
       }
       else if(container.id === "bases"){
            baseFilters.length = 0;
            const baseCheckboxes = document.querySelectorAll('.base-checkbox');
            baseCheckboxes.forEach(checkbox => {
                checkbox.checked = false;
                checkbox.parentElement.querySelector('label').style.fontWeight = "";
            });
            removeQueryParam('base');
       }
       else if(container.id === "crystals"){
            stoneFilters.length = 0;
            const crystal_checkboxes = document.querySelectorAll('.crystal-checkbox');
            crystal_checkboxes.forEach(checkbox => {
                checkbox.checked = false;
                checkbox.parentElement.querySelector('label').style.fontWeight = "";
            });
            const crystal_type_select = document.querySelector('.crystal-select');
            if (crystal_type_select) {
        crystal_type_select.selectedIndex = 0; // Reset to the first option
    }
            removeQueryParam('crystal');
       }
       this.style.display = "none";
       applyFilters();

    });
});


function removeQueryParam(param) {
    const baseUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
    const queryParams = new URLSearchParams(window.location.search);

    // Remove the specific query parameter
    queryParams.delete(param);

    // Update the URL without reloading the page
    history.pushState({}, '', `${baseUrl}?${queryParams.toString()}`);
}



document.getElementById('contains-in-name').addEventListener('input', applyFilters);

const fromSlider = document.querySelector('#fromSlider');
const toSlider = document.querySelector('#toSlider');
const fromInputText = document.querySelector('.fromInput-text');
const toInputText = document.querySelector('.toInput-text');
fillSlider(fromSlider, toSlider, '#C6C6C6', '#003665', toSlider);
setToggleAccessible(toSlider);

fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInputText, currency);
toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInputText, currency);

fromSlider.addEventListener('change', applyFilters);
toSlider.addEventListener('change', applyFilters);

async function fetchAllItems() {
    const itemsQuery = query(collection(db, "item") , where("quantity", ">", 0));//
    const querySnapshot = await getDocs(itemsQuery);
    return querySnapshot.docs.map(doc => doc.data());
}
async function fetchFavouriteItems(userEmail) {
    const favouritesQuery = query(collection(db, "Favourites"), where("email", "==", userEmail));
    const querySnapshot = await getDocs(favouritesQuery);
    return querySnapshot.docs.map(doc => doc.data());
}
function paginateItems(items, pageNumber, pageSize) {
    const startIndex = (pageNumber - 1) * pageSize;
    return items.slice(startIndex, startIndex + pageSize);
}

function filterItems(items, pageNumber, pageSize) {
    const startIndex = (pageNumber - 1) * pageSize;
    return items.slice(startIndex, startIndex + pageSize);
}

function displayCurrentPage(items) {
    const productsGrid = document.querySelector('.products-grid');
    productsGrid.innerHTML = '';

    let itemId= 0;
    items.forEach((item) => {
        const productContainer = document.createElement('div');
        productContainer.className = 'product-container';
        productContainer.id = `product-${item.name}`;
        productContainer.setAttribute('data-id', itemId);

        productContainer.addEventListener('click', () => {
            generateDialogContent(`${item.name}`, allItems, currency, show_quantities, "{% url "add_from_catalog" %}", {{ vocabulary|safe }});
        });

        // Create the image section
        const imgSection = document.createElement('div');
        imgSection.className = 'img-section';
        const imgWrapper = document.createElement('div');
        imgWrapper.className = 'img-wrapper';
        const img = document.createElement('img');
        img.src = item.preview_image;
        img.width = 115;
        img.height = 115;
        img.style.borderRadius = '10px';

        const iconContainer = document.createElement('div');
        iconContainer.className = 'icon-container';

        const heartIconContainer = document.createElement('div');
        heartIconContainer.className = 'heart-icon-container';
        const favouriteItem = favouriteItems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item

// Check if the item was found in the favourites

        const itemIsFavourite = Boolean(favouriteItem); // Converts the result to a boolean

        heartIconContainer.innerHTML = itemIsFavourite ?
        `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:#000000;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>` :
        `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>`; // Example with FontAwesome

        // Adding your new icon
        const newIconContainer = document.createElement('div');
        newIconContainer.className = 'new-icon-container';
        newIconContainer.innerHTML = `<i class="rts" data-size="24" data-color="#000000" style="width: 26px; height: 26px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M21.46,26H6.54C4,26,4,23.86,4,22.46V2H24V22.46C24,23.86,24,26,21.46,26Z" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:2px"></path><path d="M10,8v.78c0,2.68,1.8,4.88,4,4.88s4-2.19,4-4.88V8" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:2px"></path></svg></i>`;


        heartIconContainer.addEventListener('mouseenter', (event) => {
            const favouriteItem = favouriteItems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item
            const isFavBefore = Boolean(favouriteItem); // Converts the result to a boolean
            let message_fav = isFavBefore ? "{{ _("Remove from favorites")|escapejs }}" : "{{ _("Add to favorites")|escapejs }}";

            showTooltip(event, message_fav)
        });
        heartIconContainer.addEventListener('click', async (event) => {
            const favouriteItem = favouriteItems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item
            const isFavBefore = Boolean(favouriteItem); // Converts the result to a boolean

            // Stop the event from propagating to other elements
            event.stopPropagation();
            try {
                // Replace `yourItemId` with the actual item ID or any identifier you use
                const response = await fetch('{% url "change_favorite_state" %}', {
                    method: 'POST', // or 'DELETE' if removing from favorites
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),

                        // Include other headers as needed, like authorization tokens
                    },
                    body: JSON.stringify({item: JSON.stringify(item), "alreadyFavourite": isFavBefore ? "true":"false"}),
                });

                if (!response.ok) throw new Error('Network response was not ok.');

                // Assuming the backend responds with the updated favorite status
                const data = await response.json();
                const isFavourite = data.isFavourite === "true";
                const itemToAddOrRemove = JSON.parse(data.item); // Assuming this is an object {name_id: "someId", ...}
                const existingTooltip = document.querySelector('.custom-tooltip');
                if (existingTooltip) {
                    existingTooltip.remove();
                }
                if (isFavourite) {
                    // Add to favoriteItems if not already present
                    const exists = favouriteItems.some(item => item.name === itemToAddOrRemove.name);
                    if (!exists) {
                        favouriteItems.push(itemToAddOrRemove);
                    }
                } else {
                    // Remove from favoriteItems
                    favouriteItems = favouriteItems.filter(item => item.name !== itemToAddOrRemove.name);
                }

                // Update the heart icon based on `isFavourite`
                heartIconContainer.innerHTML = isFavourite ?
                    `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:#000000;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>` :
                    `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>`;
            } catch (error) {
                console.error('Error updating favorites:', error);
            }
        });
        // Add event listeners for the new icon
        newIconContainer.addEventListener('mouseenter', (event) => showTooltip(event, 'Add to cart'));
        // Append both icon containers to the iconContainer
        iconContainer.appendChild(newIconContainer);
        iconContainer.appendChild(heartIconContainer);
        // Finally, append the iconContainer to the imgWrapper or imgSection

        imgWrapper.appendChild(img);
        imgWrapper.appendChild(iconContainer);
        // Append the imgWrapper to the imgSection
        imgSection.appendChild(imgWrapper);
        // Create the info section
        const infoSection = document.createElement('div');
        infoSection.className = 'info-section';
        const nameSpan = document.createElement('span');
        nameSpan.className = 'info-name';
        nameSpan.textContent = item.product_name;
        const priceSpan = document.createElement('span');
        priceSpan.className = 'info-price';
        priceSpan.textContent = currency + `${item.price}`;
        infoSection.appendChild(nameSpan);
        infoSection.appendChild(document.createElement('br'));
        infoSection.appendChild(priceSpan);

        // Assemble the product container
        productContainer.appendChild(imgSection);
        productContainer.appendChild(infoSection);

        // Append the product container to the products grid
        productsGrid.appendChild(productContainer);
        itemId+=1;
    });
}



function applyFilters() {
   const nameFilterValue = document.getElementById('contains-in-name').value.toLowerCase();
   const [from, to] = getParsed(fromSlider, toSlider);

   filteredItems = allItems.filter(item => {
        let isMatch = (category === "All" || (subcat[category] !== undefined ? subcat[category].concat(category).includes(item.category) : item.category === category)) &&
                      item.price <= to &&
                      item.price >= from &&
            (item.product_name.toLowerCase().includes(nameFilterValue) || item.name.toLowerCase().includes(nameFilterValue))&&
                      (baseFilters.length === 0 || baseFilters.includes(item.material));

        if (!isMatch) {
            return false;
        }

        let orderedPlatings = {};
        let hasPlatingMatch = false;

        // Check for plating matches
        if (platingFilters.length > 0) {
            platingFilters.forEach(platingFilter => {
                if (item.platings.hasOwnProperty(platingFilter)) {
                    orderedPlatings[platingFilter] = item.platings[platingFilter];
                    hasPlatingMatch = true;
                }
            });
            Object.keys(item.platings).forEach(plating => {
                if (!orderedPlatings.hasOwnProperty(plating)) {
                    orderedPlatings[plating] = item.platings[plating];
                }
            });
        } else {
            orderedPlatings = item.platings;
            hasPlatingMatch = true;
        }

        // Process stones and sizes
        let finalPlatings = {};
        Object.keys(orderedPlatings).forEach(plating => {
            let stones = orderedPlatings[plating].stones;
            let orderedStones = {};
            let matchedStones = {};
            let allStones = {};
            let hasStoneMatch = false;

            if (stoneFilters.length > 0) {
                stoneFilters.forEach(stoneFilter => {
                    if (stones.hasOwnProperty(stoneFilter)) {
                        matchedStones[stoneFilter] = stones[stoneFilter];
                        hasStoneMatch = true;
                    }
                });
                {#Object.keys(stones).forEach(stoneKey => {#}
                {##}
                {#    if (!allStones.hasOwnProperty(stoneKey) && !(stoneKey in matchedStones)) {#}
                {#        allStones[stoneKey] = stones[stoneKey];#}
                {#    }#}
                {#);#}
            } else {
                allStones = stones;
                hasStoneMatch = true;
            }
            orderedStones = { ...matchedStones, ...allStones};
            // Reorder and filter sizes within stones
            let finalStones = {};
            Object.keys(orderedStones).forEach(stoneKey => {
                let sizes = orderedStones[stoneKey].sizes;
                let orderedSizes = {};
                let hasSizeMatch = false;

                if (sizeFilters.length > 0) {
                    sizeFilters.forEach(sizeFilter => {
                        if (sizes.hasOwnProperty(sizeFilter)) {
                            orderedSizes[sizeFilter] = sizes[sizeFilter];
                            hasSizeMatch = true;
                        }
                    });
                    Object.keys(sizes).forEach(sizeKey => {
                        if (!orderedSizes.hasOwnProperty(sizeKey)) {
                            orderedSizes[sizeKey] = sizes[sizeKey];
                        }
                    });
                } else {
                    orderedSizes = sizes;
                    hasSizeMatch = true;
                }

                if (hasSizeMatch) {

                    finalStones[stoneKey] = { ...orderedStones[stoneKey], sizes: orderedSizes };
                }
            });

            if (hasStoneMatch && Object.keys(finalStones).length > 0) {
                finalPlatings[plating] = { stones: finalStones };
            }
        });

        if (hasPlatingMatch && Object.keys(finalPlatings).length > 0) {
            item.platings = finalPlatings;
        } else {
            return false;
        }

        return true;
   });

   if(sizeFilters.length === 0){
       for (let productName in filteredItems) {
        for (let platingName in filteredItems[productName].platings) {
            for (let stoneName in filteredItems[productName].platings[platingName].stones) {
                let stoneEntry = filteredItems[productName].platings[platingName].stones[stoneName];
                if (stoneEntry.sizes) {
                    stoneEntry.sizes = orderSizes(stoneEntry.sizes);
                }
            }
        }
    }
   }
   if (filteredItems.length === 0) {
       filteredItems.push("{{ _("No items found")|escapejs }}");
   }
   else{
       filteredItems.forEach(item => {
            let first_plating = Object.values(item.platings)[0];
            let first_stone = Object.values(first_plating.stones)[0];
            item.preview_image = first_stone['image'];
       });

   }

   currentPage = 1;
   total_pages = Math.ceil(filteredItems.length / itemsPerPage);
   changePage(1);
}

function order(array){
    if(order_name==="Name") {
        array.sort((a, b) => {
            if(order_type==="asc") {
                if (a.name < b.name) {
                    return -1;
                }
                if (a.name > b.name) {
                    return 1;
                }
                return 0;
            }
            else if(order_type==="desc") {
                if (a.name > b.name) {
                    return -1;
                }
                if (a.name < b.name) {
                    return 1;
                }
                return 0;
            }
        });
    }
    else if (order_name==="Price"){
        array.sort((a, b) => {
            if(order_type==="asc") {
                if (a.price < b.price) {
                    return -1;
                }
                if (a.price > b.price) {
                    return 1;
                }
                return 0;
            }
            else if(order_type==="desc") {
                if (a.price > b.price) {
                    return -1;
                }
                if (a.price < b.price) {
                    return 1;
                }
                return 0;
            }
        });
    }
}
function updatePage() {
    let paginatedItems;
    let found = true;
    if(filteredItems.length === 0){
        order(allItems);
        paginatedItems = paginateItems(allItems, currentPage, itemsPerPage);
    }
    else{
        if(filteredItems[0] === "No items found"){
            paginatedItems = paginateItems([], currentPage, itemsPerPage);

            found = false;
        }
        else {
            order(filteredItems);
            paginatedItems = paginateItems(filteredItems, currentPage, itemsPerPage);
        }
    }
    const current = document.getElementById('current-page');
    current.innerText="{{ _("Current page")|escapejs }}:" + currentPage;
    displayCurrentPage(paginatedItems);
    if(found===false){
        const grid = document.querySelector('.products-grid');
        const span = document.createElement('h2');
        span.textContent = "{{ _("No items found")|escapejs }}:";
        span.style.gridColumn = "1/-1";
        span.style.textAlign = 'center';
        span.style.color = "#4d4d4d"
        grid.appendChild(span);
    }
}


document.getElementById('previous-button').addEventListener('click', function (event){
    event.preventDefault();
    if(currentPage>1){
        currentPage-=1;
        changePage(currentPage);
    }
});

document.getElementById('next-button').addEventListener('click', function (event){
    event.preventDefault();
    if(currentPage<total_pages){
        currentPage+=1;
        changePage(currentPage);
    }
});

document.getElementById('button-jump-to').addEventListener('click', function (event) {
    event.preventDefault();
    let page_number = Number(document.getElementById('page-number-input').value);
    if(page_number>0 && page_number<=total_pages){
        currentPage = page_number;
        changePage(currentPage);
    }
});

document.getElementById('select-items-per-page').addEventListener('change', function (event) {
    itemsPerPage = Number(event.target.value);
    if(filteredItems.length === 0) {
        total_pages = Math.ceil(allItems.length / itemsPerPage);
    }
    else{
         total_pages = Math.ceil(filteredItems.length / itemsPerPage);
    }
    currentPage = 1;
    changePage(1);
});
document.getElementById('select-order').addEventListener('change', function (event) {
    let order = (event.target.value).split(', ');
    console.log(order[0]);
    order_name = order[0];
    order_type=order[1];
    changePage(1);
});

 $(document).ready(function(){
    $('.slider').on('input change', function() {
        const container_shows = document.getElementById('value-of-slider-price');
        container_shows.innerText = $(this).val();
    });
});

document.querySelectorAll('.quantity-input-dialog').forEach(input => {
    input.addEventListener('input', function() {
        console.log(this.value);
    })
});
document.querySelectorAll('.quantity-input-dialog').forEach(input => {
    input.addEventListener('change', function() {
        console.log(this.value);
    })
});


</script>
</html>
{%endblock%}