{% extends 'widgets/base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Oliver Weber Shop | New Collection</title>
    <meta name="description" content="Fascinating rhinestone jewelry for women, find earrings, necklaces, bracelets, rings and chokers. Quality jewelry in Oliver Weber's online store.">

    <link rel="stylesheet" href="{% static 'css/profile/profile_information.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/profile_favourites.css' %}">
    <link rel="stylesheet"  href="{% static 'css/SeparateWidgets/product_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="icon" href="{% static "images/icons/web-icon.png" %}" type="image/x-icon">
    <meta name="config" content='{
        "show_quantities": {{ show_quantities|yesno:"true,false" }},
        "sale": {{ sale|safe }},
        "price_category": "{{ category|escapejs }}",
        "customer_type": "{{ customer_type|escapejs }}",
        "userEmail": "{{ user.email|escapejs }}",
        "isAuthenticated": {{ user.is_authenticated|yesno:"true,false" }},
        "shopPageUrl": "{{ shop_page_url|escapejs }}",
        "addToCatalogUrl": "{% url 'add_from_catalog' %}",
        "changeFavouritesStateUrl": "{% url 'change_favorite_state' %}",
        "cartUrl": "{% url 'cart' %}",
        "preOrderIconUrl": "{% static 'icons/pre-order-icon.webp' %}",
        "firebaseFunctionScriptUrl": "{% static 'js/firebaseFunctions.js' %}"
    }'>

    {{ config_data|json_script:"config-data" }}
    <script type="module" src="{% static "js/firebaseFunctions.js" %}"></script>
    <script src="{% static "js/product_cards.js" %}"></script>
    <script src="{% static "js/productsTransmutation.js" %}"></script>

    {% include 'widgets/navigation_bar.html' %}
</head>
<body>
<div class="centered-container">
    {% include "widgets/banners_carousel.html" %}
    <div id="roycontent_home" class="roycontent">
            <div class="container">
                <ul class="clearfix">
                    <li class="htmlcontent-item-1 col-md-12 bview сbview-first ">
                        <div class="li-cont">
                            <div class="html_inside ">
                                <div class="home-title">
                                    <div class="home-title">
                                        <h1>{% trans "ELEGANT JEWELRY AND ACCESSORIES" %}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="htmlcontent-item-2 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="8" category_name="earrings" %}" class="item-link" title="Earrings">
                                <img src="{% static "images/home/banners/earrings_banner.jpg" %}" class="item-img href" title="Earrings" alt="Earrings" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-3 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="28" category_name="pearls" %}" class="item-link" title="Pearls">
                                <img src="{% static "images/home/banners/pearls_banner.jpg" %}" class="item-img href" title="Pearls" alt="Pearls" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-4 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="9" category_name="bracelets" %}" class="item-link" title="Bracelets">
                                <img src="{% static "images/home/banners/bracelets_banner.jpg" %}" class="item-img href" title="Bracelets" alt="Bracelets" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-5 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="7" category_name="rings" %}" class="item-link" title="Rings">
                                <img src="{% static "images/home/banners/rings_banner.jpg" %}" class="item-img href" title="Rings" alt="Rings" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-6 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="0" category_name="all" %}?base=Silver" class="item-link" title="Silver">
                                <img src="{% static "images/home/banners/silver_banner.jpg" %}" class="item-img href" title="Silver" alt="Silver" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-7 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="3" category_name="necklaces" %}" class="item-link" title="Necklaces">
                                <img src="{% static "images/home/banners/necklaces_banner.jpg" %}" class="item-img href" title="Necklaces" alt="Necklaces" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
    <div class="containerr">
        <h3>{% trans "BEST SELLERS" %}</h3>
    </div>
    <div class="containerr">
        <div class="carousel-view">
            <button id="prev-btn" class="prev-btn">
                <svg viewBox="0 0 512 512" width="20" title="chevron-circle-left">
                    <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
                </svg>
            </button>
            <div id="item-list" class="item-list">
                <!-- Items will be generated here -->
            </div>
            <button id="next-btn" class="next-btn">
                <svg viewBox="0 0 512 512" width="20" title="chevron-circle-right">
                    <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z" />
                </svg>
            </button>
        </div>
    </div>

</div>
<dialog id="product-card">

</dialog>
<dialog id="product-card-success" >

</dialog>
{% include "widgets/footer.html" %}
<script src="{% static "js/pages/home_page.js" %}"></script>
</body>
</html>
{%endblock%}