{% block content %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Oliver Weber Shop | New Collection</title>
    <meta name="description" content="Fascinating rhinestone jewelry for women, find earrings, necklaces, bracelets, rings and chokers. Quality jewelry in Oliver Weber's online store.">
    <link rel="stylesheet" href="{% static 'css/profile/profile_information.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/profile_favourites.css' %}">
    <link rel="stylesheet"  href="{% static 'css/SeparateWidgets/product_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="icon" href="{% static "images/icons/web-icon.png" %}" type="image/x-icon">
    <script src="{% static "js/product_cards.js" %}"></script>
    <script src="{% static "js/productsTransmutation.js" %}"></script>
    {% include 'widgets/navigation_bar.html' %}
</head>
<body>
<style>
    .carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;  // Ensures a smooth transition
        text-align: center;
    }
</style>
<div class="centered-container">
    <div class="cl">
        <div id="carousel" class="carousel">
            {% for banner in banners %}
                <div class="carousel-item active" style="opacity: 0; display: none"><a {% if banner.withLink %}href="{% url "param_catalog" category_id="0" category_name="all" %}?collection={{ banner.link }}"{% endif %}><img src="{{ banner.image.url }}" alt="Image {{ banner.priority }}"  ></a></div>
            {% endfor %}
        </div>
    </div>
    <div id="roycontent_home" class="roycontent">
            <div class="container">
                <ul class="clearfix">
                    <li class="htmlcontent-item-1 col-md-12 bview сbview-first ">
                        <div class="li-cont">
                            <div class="html_inside ">
                                <div class="home-title">
                                    <div class="home-title">
                                        <h1>{% trans "ELEGANT JEWELRY AND ACCESSORIES" %}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="htmlcontent-item-2 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="8" category_name="earrings" %}" class="item-link" title="Earrings">
                                <img src="{% static "images/home/banners/earrings_banner.jpg" %}" class="item-img href" title="Earrings" alt="Earrings" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-3 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="28" category_name="pearls" %}" class="item-link" title="Pearls">
                                <img src="{% static "images/home/banners/pearls_banner.jpg" %}" class="item-img href" title="Pearls" alt="Pearls" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-4 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="9" category_name="bracelets" %}" class="item-link" title="Bracelets">
                                <img src="{% static "images/home/banners/bracelets_banner.jpg" %}" class="item-img href" title="Bracelets" alt="Bracelets" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-5 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="7" category_name="rings" %}" class="item-link" title="Rings">
                                <img src="{% static "images/home/banners/rings_banner.jpg" %}" class="item-img href" title="Rings" alt="Rings" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-6 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="0" category_name="all" %}?base=Silver" class="item-link" title="Silver">
                                <img src="{% static "images/home/banners/silver_banner.jpg" %}" class="item-img href" title="Silver" alt="Silver" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
                    <li class="htmlcontent-item-7 col-md-3 bview bview-first ">
                        <div class="li-cont">
                            <a href="{% url "param_catalog" category_id="3" category_name="necklaces" %}" class="item-link" title="Necklaces">
                                <img src="{% static "images/home/banners/necklaces_banner.jpg" %}" class="item-img href" title="Necklaces" alt="Necklaces" width="100%" height="100%">
                            </a>
                        </div>
                    </li>
{#                    <li class="htmlcontent-item-8 col-md-3 bview bview-first ">#}
{#                        <div class="li-cont">#}
{#                            <a href="{% url "param_catalog" category_id="0" category_name="all"%}" class="item-link" title="Sets">#}
{#                                <img src="{% static "images/home/banners/sets_banner.jpg" %}" class="item-img href" title="Sets" alt="Sets" width="100%" height="100%">#}
{#                            </a>#}
{#                        </div>#}
{#                    </li>#}
                </ul>
            </div>
    </div>
    <div class="containerr">
        <h3>{% trans "BEST SELLERS" %}</h3>
    </div>
    <div class="containerr">
        <div class="carousel-view">
            <button id="prev-btn" class="prev-btn">
                <svg viewBox="0 0 512 512" width="20" title="chevron-circle-left">
                    <path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z" />
                </svg>
            </button>
            <div id="item-list" class="item-list">
                <!-- Items will be generated here -->
            </div>
            <button id="next-btn" class="next-btn">
                <svg viewBox="0 0 512 512" width="20" title="chevron-circle-right">
                    <path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z" />
                </svg>
            </button>
        </div>
    </div>

</div>
<dialog id="product-card">

</dialog>
<dialog id="product-card-success" >

</dialog>
{% include "widgets/footer.html" %}
</body>
<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js';

    import { getFirestore, collection, query, where, getDocs } from 'https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js';

    var firebaseConfig = {
        apiKey: "AIzaSyAM0wDc_WO0wP3-_TPRPLENZDIHbezH7U4",
        authDomain: "flutterapp-fd5c3.firebaseapp.com",
        projectId: "flutterapp-fd5c3"
    };

    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);
    console.log("{{ address|safe }}");
    const show_quantities = "{{ show_quantities|safe }}" !== "False";
    let favouriteitems = [ ];
    let allItems = [{
    "name": "22697",
    "product_name": "Post Earrings earring",
    "description": "Earrings ArtTwo RH multi",
    "price": "52.00",
    "category": "Post Earrings",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22697.jpg",
    "platings": {
        "Default": {
            "stones": {
                "Default": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22697.jpg",
                    "real_name": "22697",
                    "quantity": 89
                }
            }
        }
    }
},{
    "name": "22066",
    "product_name": "Post Earrings Diamond",
    "description": "Earrings Diamond RH CRY",
    "price": "23.00",
    "category": "Post Earrings",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22066R.jpg",
    "platings": {
        "Rhodium": {
            "stones": {
                "Default": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22066R.jpg",
                    "real_name": "22066R",
                    "quantity": 53
                }
            }
        }
    }
},{
    "name": "22821",
    "product_name": "Earrings Joice",
    "description": "Earrings Joice RH aqua",
    "price": "39.00",
    "category": "Earrings",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22821%20202.jpg",
    "platings": {
        "Default": {
            "stones": {
                "202": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22821%20202.jpg",
                    "real_name": "22821 202",
                    "quantity": 412
                }
            }
        }
    }
},{
    "name": "22186",
    "product_name": "Post Earrings earring",
    "description": "Earrings Ladybug mini RH CRY",
    "price": "31.00",
    "category": "Post Earrings",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22186.jpg",
    "platings": {
        "Default": {
            "stones": {
                "Default": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22186.jpg",
                    "real_name": "22186",
                    "quantity": 90
                }
            }
        }
    }
},{
    "name": "22388",
    "product_name": "Post Earrings Club",
    "description": "Earrings Club RH CRY",
    "price": "48.00",
    "category": "Post Earrings",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22388%20001.jpg",
    "platings": {
        "Default": {
            "stones": {
                "1": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/22388%20001.jpg",
                    "real_name": "22388 001",
                    "quantity": 40
                }
            }
        }
    }
},{
    "name": "11792",
    "product_name": "Pendant Leaf",
    "description": "Pendant Leaf RH blue",
    "price": "73.00",
    "category": "Pendant",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11792%20BLU.jpg",
    "platings": {
        "Default": {
            "stones": {
                "BLU": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11792%20BLU.jpg",
                    "real_name": "11792 BLU",
                    "quantity": 78
                }
            }
        }
    }
},{
    "name": "11713",
    "product_name": "Pendant Art",
    "description": "Pendant Art Two RHmulti",
    "price": "74.00",
    "category": "Pendant",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11713.jpg",
    "platings": {
        "Default": {
            "stones": {
                "Default": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11713.jpg",
                    "real_name": "11713",
                    "quantity": 61
                }
            }
        }
    }
},{
    "name": "11512",
    "product_name": "Pendant Giant",
    "description": "Pendant Giant GP silver night",
    "price": "55.00",
    "category": "Pendant",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11512G.jpg",
    "platings": {
        "Gold": {
            "stones": {
                "Default": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11512G.jpg",
                    "real_name": "11512G",
                    "quantity": 109
                }
            }
        }
    }
},{
    "name": "11640",
    "product_name": "Pendant Simple",
    "description": "Pendant Simple RH CRY",
    "price": "32.00",
    "category": "Pendant",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11640R.jpg",
    "platings": {
        "Rhodium": {
            "stones": {
                "Default": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/11640R.jpg",
                    "real_name": "11640R",
                    "quantity": 98
                }
            }
        }
    }
},{
    "name": "23140",
    "product_name": "Earrings Sinann",
    "description": "Earrings Sinann STE GP CZ",
    "price": "42.00",
    "category": "Earrings",
    "material": "Steel",
    "preview_image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/23140G.jpg",
    "platings": {
        "Gold": {
            "stones": {
                "Default": {
                    "sizes": {},
                    "image": "https://storage.googleapis.com/flutterapp-fd5c3.appspot.com/Images/23140G.jpg",
                    "real_name": "23140G",
                    "quantity": 342
                }
            }
        }
    }
}];
    let translations_categories = {
    "Earrings": "{{ _("Earrings")|escapejs }}",
    "Pendant": "{{ _("Pendant")|escapejs }}",
    "Chain": "{{ _("Chain")|escapejs }}",
    "Collier": "{{ _("Collier")|escapejs }}",
    "Pearlchain": "{{ _("Pearlchain")|escapejs }}",
    "Necklace": "{{ _("Necklace")|escapejs }}",
    "Post Earrings": "{{ _("Post earrings")|escapejs }}",
    "Hoop": "{{ _("Hoop")|escapejs }}",
    "Creole": "{{ _("Creole")|escapejs }}",
    "Clip": "{{ _("Clip")|escapejs }}",
    "Piercing": "{{ _("Piercing")|escapejs }}",
    "Bracelet": "{{ _("Bracelet")|escapejs }}",
    "Bangle": "{{ _("Bangle")|escapejs }}",
    "Anklet": "{{ _("Anklet")|escapejs }}",
    "Ring": "{{ _("Ring")|escapejs }}",
    "Match": "{{ _("Match")|escapejs }}",
    "Pen": "{{ _("Pen")|escapejs }}",
    "Key": "{{ _("Key")|escapejs }}",
    "Brooch": "{{ _("Brooch")|escapejs }}",
    "Nailfile": "{{ _("Nailfile")|escapejs }}",
    "Extension": "{{ _("Extension")|escapejs }}",
    "UV": "{{ _("UV")|escapejs }}"
}

let filters_dict = {
    "Default": "{{ _("Default")|escapejs }}",
    "Rhodium": "{{ _("Rhodium")|escapejs }}",
    "Gold": "{{ _("Gold")|escapejs }}",
    "Rosegold": "{{ _("Rosegold")|escapejs }}",
    "Without": "{{ _("Without")|escapejs }}",
    "Steel": "{{ _("Steel")|escapejs }}",
    "Steel Brass": "{{ _("Steel Brass")|escapejs }}",
    "Silver": "{{ _("Silver")|escapejs }}",
}
    let vocabulary_dialog = {{ vocabulary_dialog|safe }};

    let sale = {{ sale|safe }};
    const price_category = "{{ category|safe }}";
    let elements = [
        "22572R", "32034 001", "11025R", "11910R", "61125 BLU", "11030R", "11616 BLU", "11025G", "61191",
        "11815", "11321", "32003", "12309G", "61185", "11058", "11571R", "63520", "32088", "12066", "23140G",
        "11640R", "32022R", "22066R", "11819", "11910G", "32034G", "11903R", "32158R", "11615R", "22750R",
        "12007 202", "22066G", "22086", "11740 202", "11410", "32034 202", "22074R", "32091", "11984R 266",
        "11395", "11859", "11134", "11903G", "11879", "11765", "22426R", "12093", "11613RG", "63520L",
        "11182", "11571G", "22870", "11615RG", "32158RG", "12053", "11613R", "32037R", "32167", "32186R",
        "32160R", "11570R", "11605", "22708", "32034RG", "22750G", "11948", "11548R", "11743", "57004 WHI",
        "22331 001", "11752", "11025RG", "22074G", "22821 202", "11590", "61119", "32030R", "12234 206",
        "11792 BLU", "22082G", "22815 202", "22623 202", "22406G", "11246 202", "22186", "22145R", "11713",
        "22759 202", "22861", "11788", "32228R", "32165R", "22697", "22304 001", "11010", "12034", "22442",
        "22067", "11757 266", "22206G", "22388 001", "22646", "11126 229", "22778", "22082", "32160RG",
        "22778G", "11740 AB", "32186G", "11512G", "32184", "22329R", "12077", "11337", "12285", "11974 202",
        "32228G", "32257", "32326 001"
    ]
    async function fetchFavouriteItems(userEmail) {
        const favouritesQuery = query(collection(db, "Favourites"), where("email", "==", userEmail));
        const querySnapshot = await getDocs(favouritesQuery);
        return querySnapshot.docs.map(doc => doc.data());
    }
    async function fetchItemsWithQuantityGreaterThan30() {
        const maxElementsPerQuery = 10;
        let items = [];

        for (let i = 0; i < elements.length; i += maxElementsPerQuery) {
            const chunk = elements.slice(i, i + maxElementsPerQuery);
            const itemsQuery = query(collection(db, "item"),
                where("quantity", ">", 30),
                where("name", "in", chunk)
            );
            const querySnapshot = await getDocs(itemsQuery);

            querySnapshot.forEach(doc => {
                items.push(doc.data());
            });
        }

        return items;
    }
    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]]; // Swap elements
        }
    }
    document.addEventListener("DOMContentLoaded", async function () {

        setupImageCarousel();

        setupItemsCarousel();

        buildPageFavourites(allItems);
        let unfilteredItems = await fetchItemsWithQuantityGreaterThan30(); // Fetch all items on load
        let email = "{{ user.email }}"
        favouriteitems = await fetchFavouriteItems(email);
        let stones = await fetchStones();
        allItems = productsTransmutation(unfilteredItems, price_category, sale, stones);
        shuffleArray(allItems);
        allItems = allItems.slice(0, 15);


        buildPageFavourites(allItems);


    });

    function setupImageCarousel() {
        let currentIndex = 0;
        const items = document.querySelectorAll('.carousel-item');
        const itemAmount = items.length;

        // Initialize the first item's opacity directly for clarity
        items[0].style.display = "block";
        items[0].style.opacity = 1;

        function cycleItems() {
            const currentItem = items[currentIndex];
            const nextIndex = (currentIndex + 1) % itemAmount;
            const nextItem = items[nextIndex];

            // Fade out the current item by directly setting opacity to 0
            currentItem.style.opacity = 0;
            requestAnimationFrame(() => {
                // This slight delay ensures the browser has time to apply the above styles
                setTimeout(() => {
                    currentItem.style.display = "none";
                }, 500);
            });


            // Ensure the next item is positioned but invisible, ready to fade in
            nextItem.style.opacity = 0;
            nextItem.style.display = "block";
            nextItem.classList.add('active');

            // Use requestAnimationFrame to ensure the next frame starts the fade-in
            requestAnimationFrame(() => {
                // This slight delay ensures the browser has time to apply the above styles
                setTimeout(() => {
                    nextItem.style.opacity = 1;
                }, 20);
            });

            // Update the currentIndex to the next item
            currentIndex = nextIndex;
        }

        setInterval(cycleItems, 8000); // Adjusted timing for visual clarity
    }


    function setupItemsCarousel(){
        const prev = document.getElementById('prev-btn');
        const next = document.getElementById('next-btn');
        const list = document.getElementById('item-list');

        const itemWidth = 250;
        let autoScroll = setInterval(function () {
            list.scrollLeft += itemWidth;
            // Reset to the beginning if it reaches the end
            if (list.scrollWidth - list.clientWidth === list.scrollLeft) {
                list.scrollLeft = 0;
            }
        }, 6000); // Scroll every 9000 milliseconds

        prev.addEventListener('click', () => {
            list.scrollLeft -= itemWidth;  // Adjusted to include gap
            resetAutoScroll();
        });
        next.addEventListener('click', () => {
            list.scrollLeft += itemWidth;  // Adjusted to include gap
            resetAutoScroll();
        });

        function resetAutoScroll() {
            clearInterval(autoScroll);
            autoScroll = setInterval(function () {
                list.scrollLeft += itemWidth;
                // Reset to the beginning if it reaches the end
                if (list.scrollWidth - list.clientWidth === list.scrollLeft) {
                    list.scrollLeft = 0;
                }
            }, 6000);
        }
    }

    function buildPageFavourites(items){

        if (allItems.length > 0){
            const productsGrid = document.querySelector('.item-list');
            productsGrid.innerHTML = '';
            let itemId= 0;
            let vocabulary = Object.assign(vocabulary_dialog, translations_categories, filters_dict);
            items.forEach((item) => {
                const productContainer = document.createElement('div');
                productContainer.className = 'product-container';
                productContainer.id = `product-${item.name}`;
                productContainer.setAttribute('data-id', itemId);

                productContainer.addEventListener('click', () => {
                    const favouriteItem = favouriteitems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item

                    let itemIsFavourite = Boolean(favouriteItem);
                    generateDialogContent(`${item.name}`, allItems, currency, show_quantities, "{% url "add_from_catalog" %}", vocabulary, getCookie('csrftoken'), "{% url "cart" %}", itemIsFavourite, "{{ user.is_authenticated|safe }}", "{{ shop_page_url }}");
                });

                // Create the image section
                const imgSection = document.createElement('div');
                imgSection.className = 'img-section';
                const imgWrapper = document.createElement('div');
                imgWrapper.className = 'img-wrapper';
                const img = document.createElement('img');
                img.src = item.preview_image;
                img.width = 150;
                img.height = 150;
                img.style.borderRadius = '10px';

                const iconContainer = document.createElement('div');
                iconContainer.className = 'icon-container';

                const heartIconContainer = document.createElement('div');
                heartIconContainer.className = 'heart-icon-container';
                const favouriteItem = favouriteitems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item

        // Check if the item was found in the favourites

                const itemIsFavourite = Boolean(favouriteItem); // Converts the result to a boolean

                heartIconContainer.innerHTML = itemIsFavourite ?
                `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:#000000;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>` :
                `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>`; // Example with FontAwesome

                // Adding your new icon
                const newIconContainer = document.createElement('div');
                newIconContainer.className = 'new-icon-container';
                newIconContainer.innerHTML = `<i class="rts" data-size="24" data-color="#000000" style="width: 26px; height: 26px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M21.46,26H6.54C4,26,4,23.86,4,22.46V2H24V22.46C24,23.86,24,26,21.46,26Z" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:2px"></path><path d="M10,8v.78c0,2.68,1.8,4.88,4,4.88s4-2.19,4-4.88V8" style="fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:2px"></path></svg></i>`;


                heartIconContainer.addEventListener('mouseenter', (event) => {
                    const favouriteItem = favouriteitems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item
                    const isFavBefore = Boolean(favouriteItem); // Converts the result to a boolean
                    let message_fav = isFavBefore ? "{{ _("Remove from favorites")|escapejs }}" : "{{ _("Add to favorites")|escapejs }}";

                    showTooltip(event, message_fav)
                });
                heartIconContainer.addEventListener('click', async (event) => {
                    const favouriteItem = favouriteitems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item
                    const isFavBefore = Boolean(favouriteItem); // Converts the result to a boolean

                    // Stop the event from propagating to other elements
                    event.stopPropagation();
                    try {
                        // Replace `yourItemId` with the actual item ID or any identifier you use
                        const response = await fetch('{% url "change_favorite_state" %}', {
                            method: 'POST', // or 'DELETE' if removing from favorites
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': getCookie('csrftoken'),

                                // Include other headers as needed, like authorization tokens
                            },
                            body: JSON.stringify({item: JSON.stringify(item), "alreadyFavourite": isFavBefore ? "true":"false"}),
                        });

                        if (!response.ok) throw new Error('Network response was not ok.');

                        // Assuming the backend responds with the updated favorite status
                        const data = await response.json();
                        const isFavourite = data.isFavourite === "true";
                        const itemToAddOrRemove = JSON.parse(data.item); // Assuming this is an object {name_id: "someId", ...}
                        const existingTooltip = document.querySelector('.custom-tooltip');
                        if (existingTooltip) {
                            existingTooltip.remove();
                        }
                        if (isFavourite) {
                            // Add to favoriteItems if not already present
                            const exists = favouriteitems.some(item => item.name === itemToAddOrRemove.name);
                            if (!exists) {
                                favouriteitems.push(itemToAddOrRemove);
                            }
                        } else {
                            // Remove from favoriteItems
                            favouriteitems = favouriteitems.filter(item => item.name !== itemToAddOrRemove.name);
                        }

                        // Update the heart icon based on `isFavourite`
                        heartIconContainer.innerHTML = isFavourite ?
                            `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:#000000;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>` :
                            `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i>`;
                    } catch (error) {
                        console.error('Error updating favorites:', error);
                    }
                });
                // Add event listeners for the new icon
                newIconContainer.addEventListener('mouseenter', (event) => showTooltip(event, 'Add to cart'));
                // Append both icon containers to the iconContainer
                iconContainer.appendChild(newIconContainer);
                iconContainer.appendChild(heartIconContainer);
                // Finally, append the iconContainer to the imgWrapper or imgSection

                imgWrapper.appendChild(img);
                imgWrapper.appendChild(iconContainer);
                // Append the imgWrapper to the imgSection
                imgSection.appendChild(imgWrapper);
                // Create the info section
                const infoSection = document.createElement('div');
                infoSection.className = 'info-section';
                const nameSpan = document.createElement('span');
                nameSpan.className = 'info-name';
                nameSpan.textContent = item.product_name;
                const priceSpan = document.createElement('span');
                priceSpan.className = 'info-price';
                priceSpan.textContent = currency + `${item.price}`;
                infoSection.appendChild(nameSpan);
                infoSection.appendChild(document.createElement('br'));
                infoSection.appendChild(priceSpan);

                // Assemble the product container
                productContainer.appendChild(imgSection);
                productContainer.appendChild(infoSection);

                // Append the product container to the products grid
                productsGrid.appendChild(productContainer);
                itemId+=1;
            });
        }
        else{
            console.log("Null");
        }
    }
    async function fetchStones() {
        const stonesQuery = query(collection(db, "Stones")); // Запрос к коллекции Stones
        const querySnapshot = await getDocs(stonesQuery);

        // Преобразуем документы в объект { "id": "name" }
        const all_stones = {};
        querySnapshot.docs.forEach(doc => {
            const data = doc.data();
            if (data.id && data.name) { // Убедимся, что данные существуют
                all_stones[data.id] = data.name;
            }
        });

        return all_stones;
    }
document.getElementById('product-card').addEventListener('click', async (event) => {
    const heartIconContainer = event.target.closest('.mobile-heart-container');
    if (!heartIconContainer) return;

    const item = JSON.parse(heartIconContainer.getAttribute('data-item-name')); // Assumes each heartIconContainer has `data-item-name`

    const favouriteItem = favouriteitems.find(item_fav => item_fav.name === item.name); // Assuming `item.name` is the name of your current item
    const isFavBefore = Boolean(favouriteItem); // Converts the result to a boolean


    // Stop the event from propagating to other elements
    event.stopPropagation();
    try {
        // Replace `yourItemId` with the actual item ID or any identifier you use
        const response = await fetch('{% url "change_favorite_state" %}', {
            method: 'POST', // or 'DELETE' if removing from favorites
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),

                // Include other headers as needed, like authorization tokens
            },
            body: JSON.stringify({item: JSON.stringify(item), "alreadyFavourite": isFavBefore ? "true":"false"}),
        });

        if (!response.ok) throw new Error('Network response was not ok.');

        // Assuming the backend responds with the updated favorite status
        const data = await response.json();
        const isFavourite = data.isFavourite === "true";
        const itemToAddOrRemove = JSON.parse(data.item); // Assuming this is an object {name_id: "someId", ...}
        const existingTooltip = document.querySelector('.custom-tooltip');
        if (existingTooltip) {
            existingTooltip.remove();
        }
        if (isFavourite) {
            // Add to favoriteItems if not already present
            const exists = favouriteitems.some(item => item.name === itemToAddOrRemove.name);
            if (!exists) {
                favouriteitems.push(itemToAddOrRemove);
            }
        } else {
            // Remove from favoriteItems
            favouriteitems = favouriteitems.filter(item => item.name !== itemToAddOrRemove.name);
        }

        // Update the heart icon based on `isFavourite`
        heartIconContainer.innerHTML = isFavourite ?
        `<div class="favourites-mobile-container"><span class="mobile-favourites-btn">` + "{{ _("Remove from favorites")|escapejs }}" + `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:#000000;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i> </span></div>` :
        `<div class="favourites-mobile-container"><span class="mobile-favourites-btn">` + "{{ _("Add to favorites")|escapejs }}" + `<i class="rts" data-size="24" data-color="#000000" style="width: 24px; height: 24px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;"><path d="M14.05,6.72C8.17.2,2.57,7.54,3.67,11.76,5.56,19,14.05,23.57,14.05,23.57s7.74-4.16,10.39-11.81C25.86,7.64,20.24.13,14.05,6.72Z" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg></i> </span></div>`; // Example with FontAwesome

    } catch (error) {
        console.error('Error updating favorites:', error);
    }
});

</script>
</html>
{%endblock%}