{% load static %}
{% load i18n %}
<section id="wrapper" class="stick_parent_lb" style="opacity: 1;">
   <div id="top_column">
      <div class="container"></div>
      <div class="bread_wrapper">
         <div class="container">
            <nav data-depth="3" class="breadcrumb" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
               <span class="bread_name"> Impressum </span>
               <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <span itemprop="name">Impressum</span> <a itemprop="item" href="#"></a>
                     <meta itemprop="position" content="3">
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <aside id="notifications">
      <div class="container"></div>
   </aside>
   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1> Impressum</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-20">
                  <div class="elementor elementor-20 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <p class="text-black" style="text-align:justify;"><span style="font-weight:bold;color:#1a1a1a;">Westa GmbH</span></p>
                                                      <p class="text-black" style="text-align:justify;">Gewerbepark 3<br>6068 Mils<br>Austria</p>
                                                      <p class="text-black" style="text-align:justify;">Phone: 43-5223-41881<br>Fax: 43-5223-41881-30<br>E-mail: office@oliverweber.at<br>Managing Director: Oliver Weber</p>
                                                      <p class="text-black" style="text-align:justify;">Registered at Landesgericht Innsbruck, FN129172i</p>
                                                      <p class="text-black" style="text-align:justify;">Value added tax registration number(s): DE321330967, ATU37651108</p>
                                                      <p class="text-black" style="text-align:justify;">Professional indemnity insurance:<br>R V Allgemeine Versicherung AG<br>Raiffeisenplatz 1<br>65189 Wiesbaden<br>The territorial scope of the insurance covers activities in Within the limits defined by terms and conditions of the insurance our comapny grants the insured cover against third-party-claims on the basis of legal liability provisions under private law with respect to aby bodily injury and property damage occurring during the validity of the insurance.</p>
                                                      <p class="text-black" style="text-align:justify;">The European Commission provides a platform for online dispute resolutions (ODR) which can be accessed at <a href="https://ec.europa.eu/consumers/odr/" target="_blank" style="color:#005aa0;background-color:transparent;" rel="noreferrer noopener">https://ec.europa.eu/consumers/odr/</a>. We are ready to participate in extra-judicial dispute settlement proceedings before a consumer dispute resolution body. The competent body in this matter is: Universalschlichtungsstelle des Bundes am Zentrum für Schlichtung e.V., Straßburger Straße 8, 77694 Kehl am Rhein, <a href="https://www.verbraucher-schlichter.de/" target="_blank" style="color:#005aa0;background-color:transparent;" rel="noreferrer noopener">www.verbraucher-schlichter.de</a>.</p>
                                                      <p class="text-black" style="text-align:justify;"></p>
                                                      <p style="text-align:justify;"><strong>CONTACT US</strong></p>
                                                      <div class="row" style="text-align:justify;">
                                                         <div class="col-md-6 text-center">
                                                            <p class="text-center"><a class="text-black" href="/contact-us"><img src="{% static "images/home/imgs/emailOW.webp" %}" alt="sobre.png" style="width:50px;"></a></p>
                                                            <p class="text-black"><a class="text-black" >service@oliverweber.at</a></p>
                                                         </div>
                                                         <div class="col-md-6 text-center">
                                                            <p class="text-center"><img src="{% static "images/home/imgs/phonOW.webp" %}" alt="volumen.png" style="width:50px;"></p>
                                                            <p class="text-black">Call us at +43 5223 41 881</p>
                                                         </div>
                                                      </div>
                                                      <p style="text-align:justify;"></p>
                                                      <p class="text-center text-black" style="text-align:justify;"><b>Office Hours</b><strong>:</strong></p>
                                                      <p class="text-center text-black" style="text-align:justify;">Monday&nbsp;to Thursday from 08:00 to 17:00,&nbsp;and Friday from&nbsp;08:00&nbsp;to 13:00, except bank holidays.</p>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
