{% load static %}
{% load i18n %}
<section id="wrapper" class="stick_parent_lb" style="opacity: 1;">
   <div id="top_column">
      <div class="container"></div>
      <div class="bread_wrapper">
         <div class="container">
            <nav data-depth="3" class="breadcrumb" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
               <span class="bread_name"> Oliver Weber's World </span>
               <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                     <span itemprop="name">Oliver Weber's World</span> <a itemprop="item" href="#"></a>
                     <meta itemprop="position" content="3">
                  </li>
               </ol>
            </nav>
         </div>
      </div>
   </div>
   <aside id="notifications">
      <div class="container"></div>
   </aside>
   <div class="container">
      <div id="content-wrapper">
         <section id="main">
            <div class="container">
               <header class="page-header">
                  <h1> {% trans "Oliver Weber's World "%}</h1>
               </header>
               <section id="content" class="page-content page-cms page-cms-14">
                  <div class="elementor elementor-14 ">
                     <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                           <section class="elementor-element elementor-element-e3f67a1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e3f67a1" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3c97424 elementor-column elementor-col-100 elementor-top-column" data-id="3c97424" data-element_type="column">
                                       <div class="elementor-column-wrap elementor-element-populated">
                                          <div class="elementor-widget-wrap">
                                             <div class="elementor-element elementor-element-e3ea727 elementor-widget elementor-widget-text-editor" data-id="e3ea727" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container ererer">
                                                   <div class="elementor-text-editor elementor-clearfix">
                                                      <div>
                                                         <p>{% trans "The jewelry of Oliver Weber is made exclusively with precision cut, crystals of the highest quality on the market. Every piece of jewelry undergoes an exact quality control and all crystals are used by hand with the utmost care. The Oliver Weber Collection underscores the infinite creativity of crystals and unites them in magical combinations of light and color." %}</p>
                                                      </div>
                                                      <div class="row about-us">
                                                         <div class="col-md-4"><img src="{% static "images/home/imgs/oliverOW.webp" %}" alt="" width="608" height="323"></div>
                                                         <div class="col-md-6">
                                                            <h3 style="margin-top: 20px">{% trans "The founder" %}</h3>
                                                            <p>{% trans "Oliver Weber was founded in 1994 in Mils, in the heart of Austria, the home of the most famous cut crystals. The brand bears the name of one of the two founders, both of whom have held management positions with the renowned Swarovski company for many years. The company Westa combines quality with perfect design and convinces the conscious customer worldwide." %}</p>
                                                         </div>
                                                      </div>
                                                      <div class="row about-us">
                                                         <div class="col-md-6">
                                                            <h3 style="margin-top: 20px">{% trans "The Company" %}</h3>
                                                            {% trans "From the beginning, the aim of the Oliver Weber brand was to develop a jewelry collection that enriches the crystal jewelry market with a high degree of creativity. Thanks to Oliver Weber, the boundaries between fashion and jewelery are increasingly dissolving, and the jewelry becomes part of the clothing, completing the outfit and acquiring a very special style: affordable luxury that adapts to every occasion and the most varied tastes." %}
                                                         </div>
                                                         <div class="col-md-6"><img src="{% static "images/home/imgs/company-about-usOW.webp" %}" alt="About us" width="608" height="323"></div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <footer class="page-footer hidden"> </footer>
            </div>
         </section>
      </div>
   </div>
</section>
