{% extends 'widgets/base.html' %}
{% block title %} Password reset complete {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
        <link rel="stylesheet" href="{% static "css/auth/authMain.css" %}">
        <link rel="stylesheet" href="{% static "css/auth/passwordReset.css" %}">
    </head>
    <body>
        {% if error_messages or form.errors %}
            {% include "registration/errorDialog.html" %}
        {% endif %}
        {% include 'widgets/navigation_bar.html' %}
        <section id="wrapper" class="stick_parent_lb">
            <header class="auth-page-header">
                <h1> {% trans "Your password has been successfully changed!" %}</h1>
                <h5> {% trans "You can now" %} <a class="login-link" href="{% url "login" %}"> {% trans "log in" %}</a> {% trans "to your account." %}</h5>
            </header>
        </section>
    </body>
</html>
{% endblock %}