{% extends 'widgets/base.html' %}
{% block title %} Password recovery {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
    <link rel="stylesheet" href="{% static "css/auth/authMain.css" %}">
    <link rel="stylesheet" href="{% static "css/auth/passwordReset.css" %}">
</head>
<body>
    {% if error_messages or form.errors %}
        {% include "registration/errorDialog.html" %}
    {% endif %}
    {% include 'widgets/navigation_bar.html' %}
    <section id="wrapper" class="stick_parent_lb">
        <header class="auth-page-header">
            <h1>{% trans "Password recovery" %}</h1>
        </header>
        <section id="content" class="page-content">
            <section class="password-reset-form">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12 form-control-comment">
                            <span class="req">*</span>
                        </div>
                        <div class="col-md-12">
                            <label>{% trans "Password" %}</label>
                            <div class="input-group js-parent-focus">
                                <input type="password" name="new_password1" autocomplete="new-password" class="form-control js-child-focus js-visible-password" required aria-describedby="id_password1_helptext" id="id_password1">
                                {% include "widgetElements/showPasswordBtn.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 form-control-comment">
                            <span class="req">*</span>
                        </div>
                        <div class="col-md-12">
                            <label>{% trans "Password confirmation " %}</label>
                            <div class="input-group js-parent-focus">
                                <input type="password" name="new_password2" autocomplete="new-password" class="form-control js-child-focus js-visible-password" required aria-describedby="id_password2_helptext" id="id_password2">
                                {% include "widgetElements/showPasswordBtn.html" %}
                            </div>
                        </div>
                    </div>
                    <footer class="form-footer text-sm-center clearfix">
                        <button class="btn btn-primary btn-confirm" data-link-action="sign-in" type="submit">
                            {% trans "Reset password" %}
                        </button>
                    </footer>
                </form>
            </section>
            <div class="logininstead">
                <a href="{% url "register" %}" data-link-action="display-register-form">
                    {% trans "No account? Create one here" %}
                </a>
            </div>
        </section>
    </section>
</body>
</html>
{% endblock %}