{% extends 'widgets/base.html' %}
{% block title %} Password reset {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
    <link rel="stylesheet" href="{% static "css/auth/authMain.css" %}">
    <link rel="stylesheet" href="{% static "css/auth/passwordReset.css" %}">
</head>
<body>
    {% if error_messages or form.errors %}
        {% include "registration/errorDialog.html" %}
    {% endif %}
    {% include 'widgets/navigation_bar.html' %}
    <section id="wrapper" class="stick_parent_lb">
        <header class="auth-page-header">
            <h1> {% trans "The password recovery link has been sent" %}</h1>
        </header>
    </section>
</body>
</html>
{% endblock %}