{% extends 'widgets/base.html' %}
{% block title %} Login {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
    <link rel="stylesheet" href="{% static "css/auth/login.css" %}">
</head>
<body>
    <div id="errorModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p id="errorText"></p>
            <button id="okButton">OK</button>
        </div>
    </div>
    {% include 'widgets/navigation_bar.html' %}
    <section id="wrapper" class="stick_parent_lb">
        <header class="page-header" style="text-align: center">
            <h1>{% trans "Password recovery" %}</h1>
        </header>
        <section id="content" class="page-content">
            <section class="password-reset-form">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12 form-control-comment">
                            <span class="req">*</span>
                        </div>
                        <div class="col-md-12">
                            <label>{% trans "Password" %}</label>
                            <div class="input-group js-parent-focus">
                                <input type="password" name="new_password1" autocomplete="new-password" class="form-control js-child-focus js-visible-password" required aria-describedby="id_password1_helptext" id="id_password1">
                                <span class="input-group-btn" style="position: initial!important;">
                                    <button class="btn material-icons" type="button" data-action="show-password" data-text-show="" data-text-hide="">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off">
                                                <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
                                                <line x1="1" y1="1" x2="23" y2="23"></line>
                                            </svg>
                                        </i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 form-control-comment">
                            <span class="req">*</span>
                        </div>
                        <div class="col-md-12">
                            <label>{% trans "Password confirmation " %}</label>
                            <div class="input-group js-parent-focus">
                                <input type="password" name="new_password2" autocomplete="new-password" class="form-control js-child-focus js-visible-password" required aria-describedby="id_password2_helptext" id="id_password2">
                                <span class="input-group-btn" style="position: initial!important;">
                                    <button class="btn material-icons" type="button" data-action="show-password" data-text-show="" data-text-hide="">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off">
                                                <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
                                                <line x1="1" y1="1" x2="23" y2="23"></line>
                                            </svg>
                                        </i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <footer class="form-footer text-sm-center clearfix">
                        <button style="width: 100%" class="btn btn-primary" data-link-action="sign-in" type="submit">
                            {% trans "Reset password" %}
                        </button>
                    </footer>
                </form>
            </section>
            <div class="logininstead">
                <a href="{% url "register" %}" data-link-action="display-register-form">
                    {% trans "No account? Create one here" %}
                </a>
            </div>
        </section>
    </section>
</body>

<script>
    let modal = document.getElementById("errorModal");
    let span = document.getElementsByClassName("close-button")[0];
    let okButton = document.getElementById("okButton");

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks on OK button, close the modal
    okButton.onclick = function() {
        modal.style.display = "none";
    }

    // Function to show error modal
    function showError(message) {
        document.getElementById("errorText").innerText = message;
        modal.style.display = "block";
    }

    // Example of showing the error modal on form submit if passwords do not match
    document.getElementById("login-form").addEventListener("submit", function(event) {
        let password1 = document.getElementById("id_password1").value;
        let password2 = document.getElementById("id_password2").value;

        if (password1 !== password2) {
            event.preventDefault();
            showError("The passwords do not match. Please try again.");
        }
    });
    document.addEventListener("DOMContentLoaded", function() {
        const togglePasswordButtons = document.querySelectorAll('button[data-action="show-password"]');

        // Listen for a click event on the button
        togglePasswordButtons.forEach(togglePasswordButton =>
            togglePasswordButton.addEventListener('click', function () {
                // Select the password input
                const passwordInput = this.parentElement.parentElement.querySelector('input');

                // Check the current type of the password input and toggle
                if (passwordInput.type === "password") {
                    passwordInput.type = "text"; // Show the password
                    // Change the SVG to 'eye'
                    togglePasswordButton.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></i>';
                } else {
                    passwordInput.type = "password"; // Hide the password
                    // Change the SVG back to 'eye-off'
                    togglePasswordButton.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg></i>';
                }
            }));

        let formErrors = {% if form.errors %}true{% else %}false{% endif %};
        let errorModal = document.getElementById("errorModal");
        let errorText = document.getElementById("errorText");
        let okButton = document.getElementById("okButton");
        let closeButton = document.querySelector(".close-button");

        if (formErrors) {
            let errorMessage = "";
            {% for field in form %}
                {% for error in field.errors %}
                    errorMessage += "{{ error }}\n";
                {% endfor %}
            {% endfor %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    errorMessage += "{{ error }}\n";
                {% endfor %}
            {% endif  %}
            errorText.innerText = errorMessage;
            errorModal.style.display = "block";
        }

        okButton.onclick = function() {
            errorModal.style.display = "none";
        }

        closeButton.onclick = function() {
            errorModal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target === errorModal) {
                errorModal.style.display = "none";
            }
        }
    });
</script>
</html>
{% endblock %}