{% extends 'widgets/base.html' %}
{% block title %} Login {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
    <link rel="stylesheet" href="{% static "css/auth/login.css" %}">
</head>
<body>
    <div id="errorModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p id="errorText"></p>
            <button id="okButton">OK</button>
        </div>
    </div>
    {% include 'widgets/navigation_bar.html' %}
    <section id="wrapper" class="stick_parent_lb">
        <header class="page-header" style="text-align: center">
            <h1> {% trans "The password recovery link has been sent" %}</h1>
        </header>
    </section>
</body>
</html>
{% endblock %}