{% extends 'widgets/base.html' %}
{% block title %} Registration {% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Registration</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/profile/profile_information.css" %}">
<link rel="stylesheet" href="{% static "css/auth/register.css" %}">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<body>

{% if error_messages %}
    {% include "registration/errorDialog.html" with errors=error_messages %}
{% endif %}
{% include "widgets/navigation_bar.html" %}
<section id="wrapper" class="stick_parent_lb">

    <aside id="notifications">
        <div class="container"></div>
    </aside>
    <div class="container">
        <div id="content-wrapper">
            <section id="main">
                <div class="container">
                    <header class="page-header" style="text-align: center">
                        <h1> {% trans "Create an account" %}</h1>
                    </header>
                    <section id="content" class="page-content card card-block">
                        <section class="sociallogin displayCustomerAccountFormTop authentication hidden-print">
                            <div class="col-xs-12">
                            </div>
                        </section>
                    <section class="register-form">
                        <form action="{% url 'register' %}" id="customer-form" class="js-customer-form" method="post">
                        {% csrf_token %}
                            <div>
                                <div class="form-group row ">
                                    <div class="col-md-12 form-control-valign">
                                        <label>{% trans "Social title" %}</label>
                                        {% for radio in form.social_title %}
                                            <label class="radio-inline">
                                                <span class="custom-radio">
                                                    {{ radio.tag }}
                                                    <span></span>
                                                </span> {{ radio.choice_label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-12 form-control-comment"></div>
                                </div>

                                <div class="form-group row ">

                                    <div class="col-md-12 form-control-comment">
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label>{% trans "First name" %}</label>
                                        {{ form.first_name | add_class:"form-control" | attr:"" }}

                                    </div>
                                </div>
                                <div class="form-group row ">

                                    <div class="col-md-12 form-control-comment">
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label>{% trans "Last name" %}</label>
                                        {{ form.last_name | add_class:"form-control" | attr:"" }}
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12 form-control-comment">
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Email</label>
                                        {{ form.email | add_class:"form-control" | attr:"placeholder: "|attr:"autocomplete:off" }}
                                    </div>

                                </div>
                                <div class="form-group row ">

                                    <div class="col-md-12 form-control-comment">
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label>{% trans "Password" %}</label>
                                        <div class="input-group js-parent-focus">
                                            {{ form.password1 | add_class:"form-control js-child-focus js-visible-password" | attr:""|attr:"autocomplete:new-password" }}
                                            <span class="input-group-btn" style="position: initial!important; ">
                                                <button class="btn material-icons" type="button" data-action="show-password" data-text-show="" data-text-hide="">
                                                    <i>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                                    </i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ">

                                    <div class="col-md-12 form-control-comment">
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label>{% trans "Confirm you password" %}</label>
                                        <div class="input-group js-parent-focus">
                                            {{ form.password2 | add_class:"form-control js-child-focus js-visible-password" | attr:""|attr:"autocomplete:new-password" }}
                                            <span class="input-group-btn" style="position: initial!important; ">
                                                <button class="btn material-icons" type="button" data-action="show-password" data-text-show="" data-text-hide="">
                                                    <i>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                                                    </i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12">
                                        <label>{% trans "Birthdate" %}</label>
                                        {{ form.birthdate | add_class:"form-control" | attr:"" }}
                                        <span class="form-control-comment"> (E.g.: 1970-05-31) </span>
                                    </div>
                                    <div class="col-md-12 form-control-comment"></div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12">
                                        <label></label>
                                        <span class="custom-checkbox">
                                            {{ form.offers | add_class:"form-control" | attr:"" }}
                                            <span>
                                                <i class="material-icons rtl-no-flip checkbox-checked"></i>
                                            </span>
                                            <label>{% trans "Receive offers from our partners" %}</label>
                                        </span>
                                    </div>
                                    <div class="col-md-12 form-control-comment"></div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12">
                                        <label></label>
                                        <span class="custom-checkbox">
                                            {{ form.receive_newsletter | add_class:"form-control" | attr:"" }}
                                            <span>
                                                <i class="material-icons rtl-no-flip checkbox-checked"></i>
                                            </span>
                                            <label>
                                                {% trans "Sign up for our newsletter" %}<br><em> {% trans "You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice" %}.</em>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-md-12 form-control-comment"></div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12">
                                        <label></label>
                                        <label class="help-msg-register">
                                                {% trans "If you want to register as a B2B customer, please contact us." %}
                                            </label>
                                    </div>
                                    <div class="col-md-12 form-control-comment"></div>
                                </div>
                                <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
                            </div>


                            <footer class="form-footer clearfix">
                                <button style="width: 100%" class="btn btn-primary wide form-control-submit float-xs-right" data-link-action="save-customer" type="submit" value="REGISTER"> {% trans "Save" %} </button>
                            </footer>
                        </form>
                    </section>
                        <p class="logininstead">{% trans "Already have an account?" %} <a class="" href="{% url 'login' %}"> {% trans "Log in instead!" %}</a>
                        </p>
                    </section>
                    <footer class="page-footer hidden"> </footer>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
{{ form.errors|json_script:"form_errors" }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const togglePasswordButtons = document.querySelectorAll('button[data-action="show-password"]');
        // Listen for a click event on the button
        togglePasswordButtons.forEach(togglePasswordButton =>
            togglePasswordButton.addEventListener('click', function() {
                // Select the password input
                const passwordInput = this.parentElement.parentElement.querySelector('input');

                // Check the current type of the password input and toggle
                if (passwordInput.type === "password") {
                    passwordInput.type = "text"; // Show the password
                    // Change the SVG to 'eye'
                    togglePasswordButton.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></i>';
                } else {
                    passwordInput.type = "password"; // Hide the password
                    // Change the SVG back to 'eye-off'
                    togglePasswordButton.innerHTML = '<i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg></i>';
                }
            }
        ));
    });
</script>
</html>

{% endblock %}