{% block content %}
{% load static %}
{% load i18n  %}
<meta name="translations-categories" content='{
  "Earrings": "{{ _("Earrings")|escapejs }}",
  "Pendant": "{{ _("Pendant")|escapejs }}",
  "Chain": "{{ _("Chain")|escapejs }}",
  "Collier": "{{ _("Collier")|escapejs }}",
  "Pearlchain": "{{ _("Pearlchain")|escapejs }}",
  "Necklace": "{{ _("Necklace")|escapejs }}",
  "Post Earrings": "{{ _("Post earrings")|escapejs }}",
  "Hoop": "{{ _("Hoop")|escapejs }}",
  "Creole": "{{ _("Creole")|escapejs }}",
  "Clip": "{{ _("Clip")|escapejs }}",
  "Piercing": "{{ _("Piercing")|escapejs }}",
  "Bracelet": "{{ _("Bracelet")|escapejs }}",
  "Bangle": "{{ _("Bangle")|escapejs }}",
  "Anklet": "{{ _("Anklet")|escapejs }}",
  "Ring": "{{ _("Ring")|escapejs }}",
  "Match": "{{ _("Match")|escapejs }}",
  "Pen": "{{ _("Pen")|escapejs }}",
  "Key": "{{ _("Key")|escapejs }}",
  "Brooch": "{{ _("Brooch")|escapejs }}",
  "Nailfile": "{{ _("Nailfile")|escapejs }}",
  "Extension": "{{ _("Extension")|escapejs }}",
  "UV": "{{ _("UV")|escapejs }}"
}'>
<meta name="filters-dict" content='{
  "Default": "{{ _("Default")|escapejs }}",
  "Rhodium": "{{ _("Rhodium")|escapejs }}",
  "Gold": "{{ _("Gold")|escapejs }}",
  "Rosegold": "{{ _("Rosegold")|escapejs }}",
  "Without": "{{ _("Without")|escapejs }}",
  "Steel": "{{ _("Steel")|escapejs }}",
  "Brass": "{{ _("Brass")|escapejs }}",
  "Silver": "{{ _("Silver")|escapejs }}"
}'>
<meta name="synonyms" content='{
    "All": "{{ _("All")|escapejs }}",
    "Necklaces": "{{ _("Necklaces")|escapejs }}",
    "All Earrings": "{{ _("Earrings")|escapejs }}",
    "Earrings": "{{ _("Earrings")|escapejs }}",
    "Bracelets": "{{ _("Bracelets")|escapejs }}",
    "Accessories": "{{ _("Accessories")|escapejs }}",
    "Pendant": "{{ _("Pendants")|escapejs }}",
    "Chain": "{{ _("Chains")|escapejs }}",
    "Collier": "{{ _("Colliers")|escapejs }}",
    "Pearlchain": "{{ _("Pearlchains")|escapejs }}",
    "Necklace": "{{ _("Necklaces")|escapejs }}",
    "Post Earrings": "{{ _("Post earrings")|escapejs }}",
    "Hoop": "{{ _("Hoops")|escapejs }}",
    "Creole": "{{ _("Creoles")|escapejs }}",
    "Clip": "{{ _("Clips")|escapejs }}",
    "Piercing": "{{ _("Piercings")|escapejs }}",
    "Bracelet": "{{ _("Bracelets")|escapejs }}",
    "Bangle": "{{ _("Bangles")|escapejs }}",
    "Anklet": "{{ _("Anklets")|escapejs }}",
    "Ring": "{{ _("Rings")|escapejs }}",
    "Match": "{{ _("Matches")|escapejs }}",
    "Pen": "{{ _("Pens")|escapejs }}",
    "Key": "{{ _("Keys")|escapejs }}",
    "Brooch": "{{ _("Brooches")|escapejs }}",
    "Nailfile": "{{ _("Nailfiles")|escapejs }}",
    "Extension": "{{ _("Extensions")|escapejs }}",
    "UV": "{{ _("UV")|escapejs }}"
}'>
<meta name="categories-codes" content='{
    "All": "0",
    "Necklaces": "3",
    "All Earrings": "8",
    "Earrings": "208",
    "Bracelets": "9",
    "Accessories": "4",
    "Pendant": "275",
    "Chain": "40",
    "Collier": "74",
    "Pearlchain": "240",
    "Necklace": "203",
    "Post Earrings": "2208",
    "Hoop": "27",
    "Creole": "227",
    "Clip": "228",
    "Piercing": "229",
    "Bracelet": "209",
    "Bangle": "39",
    "Anklet": "79",
    "Ring": "7",
    "Match": "2000",
    "Pen": "2001",
    "Key": "2002",
    "Brooch": "67",
    "Nailfile": "267",
    "Extension": "2003",
    "UV": "2004",
    "undefined": "404",
    "NotFound": "404"
}'>
<meta name="categories-code-to-name" content='{
        "0": "all",
        "3": "necklaces",
        "203": "necklace",
        "74": "colliers",
        "274": "pendants",
        "76": "pearls",
        "61": "rosegold-necklaces",
        "62": "gold-necklaces",
        "63": "rhodium-necklaces",
        "64": "sterling-silver-necklaces",
        "65": "zircon-necklaces",
        "80": "stainless-steel-necklaces",
        "4": "accessories",
        "66": "pen",
        "67": "brooch",
        "267": "nailfile",
        "7": "rings",
        "20": "rosegold-rings",
        "21": "gold-rings",
        "22": "rhodium-rings",
        "23": "sterling-silver-rings",
        "24": "zircon-rings",
        "81": "stainless-steel-rings",
        "8": "earrings",
        "208": "simple-earrings",
        "2208": "post-earrings",
        "25": "studs",
        "26": "drops",
        "27": "hoops",
        "227": "creole",
        "228": "clips",
        "229": "piercing",
        "28": "pearl",
        "34": "rosegold-earrings",
        "35": "gold-earrings",
        "36": "rhodium-earrings",
        "37": "sterling-silver-earrings",
        "38": "zircon-earrings",
        "82": "stainless-steel-earrings",
        "9": "bracelets",
        "209": "bracelets",
        "39": "bangle",
        "40": "chain",
        "240": "pearlchain",
        "48": "rosegold-bracelets",
        "50": "rhodium-bracelets",
        "51": "sterling-silver-bracelets",
        "52": "zircon-bracelets",
        "83": "stainless-steel-bracelets",
        "79": "anklets",
        "2000": "match",
        "2001": "pen",
        "2002": "key",
        "84": "stainless-steel-anklets",
        "2003": "extensions",
        "2004": "uv",
        "404": "not-found"
}'>
<meta name="synonyms-collections" content='{
        "All": "{{ _("All")|escapejs }}",
        "Winter_2025" : "Hope Collection 2025",
        "Peace_And_Love" : "Peace And Love",
        "Gaudi" : "Gaudi",
        "Freedom" : "Freedom",
        "Coins_And_Monograms" : "Coins and Monograms",
        "Summer_2025" : "Novelties 2025",
        "Mothers_day" : "Mothers day",
}'>

{{ vocabulary|json_script:"vocabulary-data" }}

<script src="{% static "js/widgets/translations.js" %}" type="text/javascript"></script>
{% endblock %}