*{
    font-family: 'Poppins', Verdana, sans-serif;
}
.everything{
    display: grid;
    grid-template-columns: 40% 60%;
}
.filters-section{

}
.filters{
    border: 2px solid #dadada;
    margin: 10px 70px 0 90px;
    padding: 20px;
    border-radius: 8px;
}

.filters .filter-price hr,.filters .filter-crystal-color hr, .filters .filter-plating hr, .filters .filter-base hr, .filters .filter-size hr, .filters .filter-name hr{
    margin: 0 0 10px;
}
.filters-label{
    font-size: 20px;
    text-align: center;
}
#contains-in-name{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dadada;
}
#submit-button{
    padding: 20px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    background-color: #003665;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.products-section{
    display: block;
    margin-left: 30px;
}
.view-settings{
    display: flex;
    width: 94%;
    justify-content: space-between;
}

.select-per-page, .select-order{
    border: 1px solid #d5d5d5;
    width: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    height: auto;
    float:right;
}
.select-per-page select,.select-order select{
    background: none;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.products-grid{
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    justify-content: center;
    gap: 50px;
    max-width: 800px;
    margin-left: 15px;
}
.product-container{
    cursor: pointer;
    flex: 0 1 150px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    width: auto;
}

#product-card-success, #product-card{
    border: none;
    border-radius: 10px;
    line-height: 1.5rem;
    padding: 20px 40px;
}

.card-content, .success-card-content{
    display: grid;
    grid-template-columns: auto auto;

    .img-card{
        margin: auto;
    }
    .close-card{
        position: absolute;
        font-size: 25px;
        top: 0;
        right: 0;
        margin: 10px 20px 0 0;
    }
    .close-card:hover{
        cursor: pointer;
    }
    .second-column{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-left: 10px;

        .card-dropdown-label{
            font-weight: 500;
            font-size: 16px;
            color: #575757;
        }
        .card-dropdown{
            width: 50%;
            padding: 15px 20px;
            background-color: white;
            border-radius: 4px;
            border: 2px solid #f2f2f2;
            margin-bottom: 15px;
            cursor: pointer;
        }
        .bottom-card-part{
            margin-top: auto;
            text-align: center;

            .plus-button-dialog, .minus-button-dialog{
                background: #003665;
                color: #efefef;
                border-radius:5px;
                width: 50px;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
            }

            .plus-button-dialog, .minus-button-dialog, .quantity-input-dialog{
                height: 40px;
            }
        }
        .add-to-cart-dialog{
            width: 100%;
            padding: 20px;
            background: #003665;
            color: #efefef;
            border-radius:5px;
            margin-top: 20px;
            cursor: pointer;
        }


        /*Success section */
        .added-text{
            font-weight: bolder;
            font-size: 18px;
            color: #003665;
            margin-bottom: 20px;
        }
        .button-proceed-to-checkout, .button-continue-shopping{
            padding: 19px 32px;
            color: white !important;
            background-color:  #003665;
            font-size: 14px;
            font-weight: 500;
            border-radius: 7px;
            cursor: pointer;
            border: none;
            margin-left: 5px;

        }
        .button-proceed-to-checkout:hover{
            text-decoration: none;
        }
    }
}

strong, spansucc{
    font-size: 14px;
}


/*SLIDER START*/
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px 40px;
}

.sliders_control {
  position: relative;
  min-height: 14px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

.fromInput-text, .toInput-text {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}
/*SLIDER END*/


.img-section{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
}
.info-section{
    margin-bottom: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}


.pages{
 display: flex;
    justify-content: space-between; /* This spreads out the items */
    align-items: flex-end; /* Aligns items at the bottom */
    width: 100%; /* Ensure it covers the full width */
    flex-wrap: wrap; /* Allows items to wrap as needed */

}
.semi{
    display: flex;
    justify-content: space-between; /* This spreads out the items */
    align-items: flex-end; /* Aligns items at the bottom */
    width: 93%; /* Ensure it covers the full width */
    margin-right: 300px;
}
.semi a{
    padding: 10px;
    color: #003665;
    text-decoration: none;
    font-size: 20px;
}
.semi a:hover{
    text-decoration: none;
    color: #7c9dbe;
}
.semi span{
    padding: 10px;
    font-size: 20px;
    color: #003665;
}
#jump{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
#jump #button-jump-to{
    margin-left: 10px;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    background-color: #d0d0d0;
    color: #313131;
    font-size: 16px;
    cursor: pointer;
}
#jump #page-number-input{
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    font-size: 16px;
}
#jump #button-go{
    margin-left: 10px;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

input[type=checkbox]{
    cursor: pointer;
}
.checkbox-label{
    cursor: pointer;
}
