.myaccount{
    font-family: 'Poppins',Verdana,sans-serif;
}
.myaccount{

}
.container-menu{
    width: 25%;
}

.this-table {
    padding: 32px;
    float:left;
    border: 2px solid #f2f2f2;
}
.this-table .myacc_name{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    color: #777;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.myaccount .links a{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 15px;
   width: 100%;
   float: none;
   padding: 0;
   -webkit-transition: all 0.22s cubic-bezier(.07,.74,.56,.89);
   transition: all 0.22s cubic-bezier(.07,.74,.56,.89);
}

.myaccount .links a:hover {
  background: #05335a;
  color: #fff !important;
  padding: 15px;
  border-radius: 4px;
}
.myaccount .links a {
  text-decoration: none!important;
  font-family: 'Poppins',Oswald,Verdana,sans-serif !important;
  font-size: 15px !important;
  font-weight: 500;
  color: #003665 !important;
}
 .links a i {
  display: inline-block;
  margin-right: 18px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.22s cubic-bezier(.07,.74,.56,.89);
  transition: all 0.22s cubic-bezier(.07,.74,.56,.89);
}
 .myaccount .links a i svg * {
  stroke: #05335a!important;
}
 .links a::before {
  display: none !important;
}
 .myaccount .links a:hover i svg * {
  stroke: #fff !important;
}

@media (min-width: 769px) {
    .links{

        align-items: start;
        margin-top: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

}
@media (max-width: 768px) {
    .cont1-1{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .container-menu{
        width: 100%;
        overflow: auto;
    }
    .myaccount .links{
        display: flex;
        gap: 10px;
    }
    .myaccount .links a{
        color: #777777 !important;
        border: 1px solid #3d3d3d;
        padding: 15px;
        border-radius: 15px;
    }
}

.profile-icon-orders path, .profile-icon-orders polyline, .profile-icon-orders line{
    fill:none;
    stroke:#000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
}
.profile-icon-account path, .profile-icon-account circle, .profile-icon-account polygon{
    fill:none;
    stroke:#000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
}
.profile-icon-fav path{
    fill:none;
    stroke:#000000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:2px;
}
