#content{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.upload-btn{
    background-color: #00962a;
    color: white!important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: all 0.2s;
}

.upload-btn:hover{
    background-color: #008011;
}

.download-btn{
    background-color: #003765;
    color: white!important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: all 0.2s;
}

.download-btn:hover{
    background-color: #014b8a;
}
.container-buttons{
    display: flex;
    gap: 20px;

}

/* Modal overlay to dim the background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(103, 103, 103, 0.7); /* White background with opacity for blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal container */
.modal-import {
    display: block; /* Set to block as overlay handles centering */
    z-index: 1001; /* Above overlay */
}

/* Modal content box */
.modal-content-import {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 80vw;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}
#errorText{
    max-height: 70vh;
    overflow: auto;
}
/* OK button styling */
#okButton {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#okButton:hover {
    background-color: #45a049;
}

.success-message{
    font-size: 32px;
    color: #1c1c1c;


}
.error-message{
    margin: 10px 0;
    font-size: 25px;
    color: #1c1c1c;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive styling for screens < 769px */
@media (max-width: 768px) {
    .modal-content-import {
        width: 90%;
        max-width: none;
        padding: 15px;
    }

    #okButton {
        width: 100%;
    }
}