{% extends 'widgets/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
  </head>
  <body>
  {% include 'widgets/navigation_bar.html' %}
  <section class="section" style="margin-top: 100px">
    <div class="container" style="display: flex; flex-direction: column; gap:30px; align-items: center; text-align: center">
      <h1>{% trans "Your payment succeeded!" %}</h1>
      <h4>{% trans "Within a few minutes you will receive a confirmation of payment via email." %}</h4>
      <div><a href="{% url "profile" feature_name='orders' %}" style="padding: 19px 32px;
            color: white !important;
            background-color: #003665;
            font-size: 14px;
            font-weight: 500;
            border-radius: 7px;
            cursor: pointer;
            border: none;
            margin-left: 5px; "> {% trans "My Orders" %} </a></div>
    </div>
  </section>
      <script>
      let orderTotal = parseFloat("{{ order_total|default:'0' }}");
      let currency = "{{ currency }}";

      cbq('track', 'Purchase', {
          value: orderTotal,
          currency: currency,
      });
    </script>
  </body>
</html>
{% endblock %}