* {
    font-family: 'Poppins', Verdana, sans-serif;
}
#product-card-success{
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
#product-card-success.show{
    /*!*display: block; !* Показываем окно *!*!*!*/
    opacity: 1;
    transform: scale(1);
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
 h1, .h1 {
  font-size: 24px;
}
 h1, h2, h3, h4, h5, h6 {
  line-height: 1.125;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .roycontent .bview.bview-first .mask .content h2.item-title {
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
}
.products{

    }
    input{
        width: 250px;
        box-sizing: border-box;
        padding: 8px;
        margin-top: 5px;
    }
    .search{
        background-color: #0f790f;
        color: #fff;
        padding: 10px;
        border: none;
        font-size: 18px;
        width: 100px;
        border-radius: 5px;
        margin-top: -11px;

        /*margin-left: 100px;*/
    }
    .search:hover{
        background-color: #139313;

    }
    .search:active{
        background-color: #19be19;
    }
    .search:focus{
    }
.form {
        position: relative;
        text-align: center;
    }

.results{
text-align: center;
}
.NoRes{
    text-align: center;
    font-size: 20px;
    margin-top: 200px;

}
.document-container {
    padding: 0 0 10px 10px;
    margin: 0 auto;
    display: flex;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    width: 1000px;
    height: 350px;
    border-radius: 10px;
}

.document-image {
    width: 319px;
    height: 296px;
    margin: auto auto;
    right: 0;
}
.number-in-cart{
    width: 32px;
    height: 346px;
    margin-right: 10px;
    border-right:  2px solid #ddd;
    text-align: center;
    display: flex;        /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    font-size: 30px;
    position: relative;
    padding-right: 10px;
}

.document-info {

    position: relative;
    flex-grow: 1;
    padding-top: 10px;
}

.document-number {
    padding-top: 10px;
    position: absolute;
    font-size: 24px;
    margin-left: 245px;
    text-align: center;
    font-weight: bold;
}

.document-price {
    position: absolute;
    left: 0;
    font-weight: 600;
    font-size: 25px;
}
.document-in-stock{
    position: absolute;
    font-size: 19px;
    padding-bottom: 35px;
    font-weight: 600;
    margin-left: 480px;
}
 #dropdown {
        max-height: 200px;
        overflow-y: auto;
        width: 250px; /* Match the width of your input field */
        background-color: white;
        border: 1px solid #ddd;
        position: absolute;
        left: 50%; /* Set left to 50% of the parent element */
        transform: translateX(-50%); /* Move back by 50% of its own width */
        top: 80px; /* Adjust based on the height of your input field and label */
        z-index: 1000;
    }

    #dropdown div {
        cursor: pointer;
        padding: 5px;
    }

    #dropdown div:hover {
        background-color: #f0f0f0;
    }
@media only screen and (min-width: 769px)  {
    .card-content {
        display: grid;
        width: 80%;
    }
    .success-card-content{
         display: grid;
    }
    #product-card{
        display: flex;
        margin-top: 150px;
        flex-shrink: 0;
        /*flex-direction: column;*/
        justify-content: center;
    }


    .card-content, .success-card-content {
        grid-template-columns: auto auto;
    }
    .container-for-success-buttons{
        display: flex;
    }
    .card-content, .success-card-content {
        .img-card{
            margin: auto;
        }
        .close-card{
            position: absolute;
            font-size: 25px;
            top: 0;
            right: 0;
            margin: 10px 20px 0 0;
        }
        .close-card:hover{
            cursor: pointer;
        }
        .second-column{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 10px;

            .bottom-card-part{
                margin-top: auto;
                text-align: center;

                .plus-button-dialog, .minus-button-dialog{
                    background: #003665;
                    color: #efefef;
                    border-radius:5px;
                    width: 50px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 700;
                }

                .plus-button-dialog, .minus-button-dialog, .quantity-input-dialog{
                    height: 40px;
                }
            }
        }
        .info-column{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 10px;
            .price-text{
                font-size: 24px;
                font-weight: 600;
                margin: 8px 0;
            }
            .label-name{
                font-weight: 500;
                font-size: 18px;
                color: #3f3f3f;

            }
            .label-value{
                font-weight: 500;
                font-size: 15px;
                color: #2d2d2d;
            }
            .bottom-card-part{
                margin-top: auto;
                text-align: center;

                .plus-button-dialog, .minus-button-dialog{
                    background: #003665;
                    color: #efefef;
                    border-radius:5px;
                    width: 50px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 700;
                }

                .plus-button-dialog, .minus-button-dialog, .quantity-input-dialog{
                    height: 40px;
                }
            }
            .dimensions-container{
                display: flex;
                gap:50px;
                margin: 0 0 10px 0;
                >div{
                    display: flex;
                    flex-direction: column;
                }
            }
            .chain-length-container{
                margin: 0 0 10px 0 ;
                display: flex;
                flex-direction: column;
            }
            .add-to-cart-dialog{
                width: 100%;
                padding: 20px;
                background: #003665;
                color: #efefef;
                border-radius:5px;
                margin-top: 20px;
                cursor: pointer;
            }



        }
    }
    /*Success section */
    .added-text{
        font-weight: bolder;
        font-size: 18px;
        color: #003665;
        margin-bottom: 20px;
    }
    .button-proceed-to-checkout, .button-continue-shopping{
        padding: 19px 32px;
        color: white !important;
        background-color:  #003665;
        font-size: 14px;
        font-weight: 500;
        border-radius: 7px;
        cursor: pointer;
        border: none;
        margin-left: 5px;
    }
    .button-proceed-to-checkout:hover{
        text-decoration: none;
    }
    .container-for-success-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .property-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 768px)  {
    .card-content, .success-card-content {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    #product-card{
        padding: 0;
        display: flex;
        margin-top: 140px;
        flex-shrink: 0;
        /*flex-direction: column;*/
        justify-content: center;
    }
    .container-for-success-buttons{
        display: flex;
    }
    .card-content, .success-card-content {
        .img-card{
            margin: auto;
            width: 100%;
            height: 100%;
        }
        .close-card{
            position: absolute;
            font-size: 25px;
            cursor: pointer;
            top: 0;
            right: 0;
            margin: 10px 20px 0 0;
        }
        .info-column{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 10px;
            align-items: center;
            text-align: center;

            .price-text{
                font-size: 24px;
                font-weight: 600;
                margin: 8px 0;
            }

            .label-name{
                font-weight: 500;
                font-size: 18px;
                color: #3f3f3f;

            }
            .label-value{
                font-weight: 500;
                font-size: 15px;
                color: #2d2d2d;
            }
            .bottom-card-part{
                margin-top: auto;
                text-align: center;

                .plus-button-dialog, .minus-button-dialog{
                    background: #003665;
                    color: #efefef;
                    border-radius:5px;
                    width: 50px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 700;
                }

                .plus-button-dialog, .minus-button-dialog, .quantity-input-dialog{
                    height: 40px;
                }
            }
            .dimensions-container{
                display: flex;
                gap:50px;
                margin: 0 0 10px 0;
                >div{
                    display: flex;
                    flex-direction: column;
                }
            }
            .chain-length-container{
                margin: 0 0 10px 0 ;
                display: flex;
                flex-direction: column;
            }
            .add-to-cart-dialog{
                width: 100%;
                padding: 20px;
                background: #003665;
                color: #efefef;
                border-radius:5px;
                margin-top: 20px;
                cursor: pointer;
            }


            /*Success section */
            .added-text{
                font-weight: bolder;
                font-size: 18px;
                color: #003665;
                margin-bottom: 20px;
            }
            .button-proceed-to-checkout, .button-continue-shopping{
                padding: 19px 32px;
                color: white !important;
                background-color:  #003665;
                font-size: 14px;
                font-weight: 500;
                border-radius: 7px;
                cursor: pointer;
                border: none;
                margin-left: 5px;
            }
            .button-proceed-to-checkout:hover{
                text-decoration: none;
            }
        }
    }
    .container-for-success-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .property-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

}
@media only screen and (max-width: 462px)  {
    .input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.fa-check{
    color: #1e7e34;
}
.cross-icon{
    color: #cc0000;
}

.wrong-product{
    font-size: 20px;
    font-weight: 600;
}