#map {
    height: 400px;
    border-radius: 20px ;
}
.container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;

}
#result-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
#result-list li {
    padding: 9px 0;
    border-bottom: 1px solid #003665;
    font-size: 19px;
    > i{
       color: #003665;
    }
    > .btn-show-route{
        border: solid 1px #003665;
        background-color: #fff;
        color: #1c1c1c;
        transition: all 0.3s;
        border-radius: 2px;
        font-size: 17px;
        padding: 7px 16px;
        cursor: pointer;
        text-decoration: none;
    }
    > .btn-show-route:hover{
        background-color: #003665;
        color: #fff;
    }

}
.store-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search-button{
    padding: 19px 32px;
}
.address-suggestion {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    cursor: pointer;
    padding: 5px;
    margin-top: 2px;
}
.address-suggestion:hover {
    background-color: #eee;
}

